<!doctype html>
<html lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <title>{{ page_title }}</title>
    {{ content_for_header }}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    >
    <link
      href="https://fonts.googleapis.com/css2?family=League+Gothic:wdth@82.9&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    >

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="logo-sauce-only-1.png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}
  </head>
  <body>
    <!-- Contenido principal -->
    <main>
      {{ content_for_layout }}
    </main>

    <!-- MODAL ESTA DE CAMBIOS O PROCESOS TOMAN SU TIEMPO DE ESPERA -->
    <mensaje-carga-datos>
      <section
        id="ph-container-modal"
        class="ph-background-container-modal"
        style="display: none;"
      >
        <div
          id="ph-snipper-modal"
          class="ph-modal-main-snipper"
        >
          <div class="ph-modal-body-snipper">
            <div class="snipper-container">
              <div class="snipper-background">
                <img
                  src="{{ 'fondoSnipper.png' | asset_url }}"
                  alt="Fondo de Snipper"
                  width="100%"
                  height="100%"
                >
              </div>
              <div class="snipper-logo">
                <img
                  src="{{ 'logoSnipper.png' | asset_url }}"
                  alt="Logo de Snipper"
                  width="100%"
                  height="100%"
                >
              </div>
            </div>
          </div>
          <p id="ph-mensaje-carga-datos"></p>
        </div>
      </section>
    </mensaje-carga-datos>
  </body>
</html>
