<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    >
    <link
      href="https://fonts.googleapis.com/css2?family=League+Gothic:wdth@82.9&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    >
    {{ 'variables.css' | asset_url | stylesheet_tag }}

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {{ content_for_header }}

    {% style %}
      :root {
        --fuente-principal: 'League Gothic', sans-serif;
        --fuente-letra-secundaria: 'Montserrat', sans-serif;
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        font-size: 16px;
        height: 100%;
      }

      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      figure,
      blockquote,
      dl,
      dd {
        margin: 0;
      }

      ul,
      ol {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      /* h4 {
            font-family: var(--fuente-principal);
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.6875rem;
            letter-spacing: -0.03rem;
            text-transform: uppercase;
          }

          h3 {
            font-family: var(--fuente-principal);
            font-size: 2rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.04rem;
            text-transform: uppercase;
          }

          h2 {
            font-family: var(--fuente-principal);
            font-size: 2.25rem;
            font-style: normal;
            line-height: normal;
            text-transform: uppercase;
          }

          p {
            font-family: var(--fuente-letra-secundaria);
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.6875rem;
          }

          a {
            text-decoration: none;
            color: inherit;
            cursor: pointer;
          }

          input {
            font-family: var(--fuente-letra-secundaria);  
            font-size: clamp(0.88rem, 0.8rem + 0.2vw, 1.09rem);
            line-height: 1.6875rem; 
            margin: 0;
            padding: 0; 
            border: none; 
            outline: none; 
            background: transparent;
            width: 100%;
          } */

      body {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        letter-spacing: 0.06rem;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      ul,
      ol,
      span {
        margin: 0;
        padding: 0;
      }

      /* svg {
            width: 24px !important;
            height: 24px !important;
      } 
      */

      h4 {
        font-family: var(--fuente-principal);
        font-size: clamp(15px, 0.9vw + 8px, 29px);
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: -0.48px;
        text-transform: uppercase;
      }

      h3 {
        font-family: var(--fuente-principal);
        font-size: clamp(1rem, 1rem + 0.89vw, 2rem);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: clamp(-0.02rem, -0.02rem - 0.018vw, -0.04rem);
        text-transform: uppercase;
      }

      h2 {
        font-family: var(--fuente-principal);
        font-size: clamp(1.13rem, 1.13rem + 1vw, 2.25rem);
        font-style: normal;
        line-height: normal;
        text-transform: uppercase;
      }

      p {
        font-family: var(--fuente-secundaria);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      a {
        text-decoration: none;
        line-height: normal;
        color: inherit;
        cursor: pointer;
      }

      input {
        font-family: var(--fuente-secundaria);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        background: transparent;
        width: 100%;
      }

      button {
        border: none;
        background: transparent;
        cursor: pointer;
      }

      svg {
        width: 24px;
        height: 24px;
      }

      /* 
      Docuemntacion para el uso de clamps:
      clamp(min, preferred, max)
      clamp(valor minimo,(y+c),valor maximo)
      x : unidad vh o vw
      y : unidad px

      min: valor mínimo para el tamaño de la pantalla
      preferred: valor preferido para el tamaño de la pantalla
      max: valor máximo para el tamaño de la pantalla

      Proceso
      1. Primero se tiene el valor base 
      2. Se calcula el valor mínimo : valor base * 0.7
      3. Se calcula el valor máximo : valor base * 1.3
      4. Sacar el valor (x) ,  x : (valor base  ÷ tamaño de la pantalla ) * 100
      5. Sacar el valor (y) , y : 

      Ejemplo : height: clamp(63px, 10vh + 35px, 117px)
      valor base : 90px
      tamaño de la pantalla : 551.33px
      valor minimo : 63px
      valor maximo : 117px
      valor x : (90 ÷ 551.33) * 100 = 16.33vh
      valor y : x * 0.6 = 9.8vh = 10vh = 10% = 0.1
      valor b : 551.33px * y = 55.13px 
      valor c : 90px - b = 34.87px = 35px
      */
    {% endstyle %}
  </head>

  <body>
    {% comment %}
      {%- if settings.cart_type == 'drawer' -%}
        {%- render 'cart-drawer' -%}
      {%- endif -%}
    {% endcomment %}

    {% sections 'header-group' %}

    <main style="position: relative;">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}
  </body>
</html>
