<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    <!-- Script para verificacion antes del renderizado de la pagina -->
    {% comment %}
      <script>
        // Verificar redirección antes de cargar el resto de la página
        if (
          !localStorage.getItem('metodo-entrega') &&
          !localStorage.getItem('ubicacion-cliente') &&
          !localStorage.getItem('sucursal-informacion')
        ) {
          window.location.href = '/pages/test-prueba';
        }
      </script>
    {% endcomment %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    >
    <link
      href="https://fonts.googleapis.com/css2?family=League+Gothic:wdth@82.9&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    >

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="logo-sauce-only-1.png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {{ content_for_header }}

    {% style %}
      :root {
        --fuente-primary: 'League Gothic', sans-serif;
        --fuente-secondary: 'Montserrat', sans-serif;
        /* Colores Primarios */
        --colorp-primary: #c8102e;
        --colorp-secondary: #ffffff;
        --colorp-tertiary: #231f20;
        /* Colores Acento */
        --colora-primary: #e6b991;
        --colora-secondary: #a50a23;
        --colora-tertiary: #231f20;

        /* Colores de bordes */
        --colorb-primary: #969696;

        /* Tamaños de fuente responsivos con clamp() */
        --font-size-h1: clamp(2.5rem, 5vw, 3rem);
        --font-size-h2: clamp(2rem, 4vw, 2.25rem);
        --font-size-h3: clamp(1.5rem, 3.5vw, 2rem);
        --font-size-h4: clamp(1.25rem, 3vw, 1.5rem);
        --font-size-p: clamp(0.875rem, 2vw, 1rem);

        /* Letter spacing responsivo asasd*/
        --letter-spacing-h1: clamp(-0.05rem, -0.1vw, -0.06rem);
        --letter-spacing-h2: clamp(-0.04rem, -0.09vw, -0.045rem);
        --letter-spacing-h3: clamp(-0.03rem, -0.08vw, -0.04rem);
        --letter-spacing-h4: clamp(-0.025rem, -0.07vw, -0.03rem);

        /* Sistema de espaciado */
        --espaciado-xs: 0.25rem;
        --espaciado-s: 0.5rem;
        --espaciado-m: 0.75rem;
        --espaciado-l: 1rem;
        --espaciado-xl: 1.25rem;
        --espaciado-xxl: 1.5rem;
        --espaciado-xxxl: 3rem;
        --espaciado-big: 4rem;

        /* Bordes Radius */
        --border-radius-1: 0.25rem;
        --border-radius-2: 0.5rem;
        --border-radius-3: 0.625rem;
        --border-radius-4: 6.25rem;
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        font-family: var(--fuente-primary);
        font-size: 16px;
        scroll-behavior: smooth;
      }

      body {
        width: 100%;
        height: 100%;
        margin: 0;
        overflow-x: hidden;
        color: var(--text-color);
      }

      h1 {
        margin: 0;
        font-family: var(--fuente-primary);
        font-size: var(--font-size-h1);
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: var(--letter-spacing-h1);
        text-transform: uppercase;
      }

      h2 {
        margin: 0;
        font-family: var(--fuente-primary);
        font-size: var(--font-size-h2);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: var(--letter-spacing-h2);
        text-transform: uppercase;
      }

      h3 {
        margin: 0;
        font-family: var(--fuente-primary);
        font-size: var(--font-size-h3);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: var(--letter-spacing-h3);
        text-transform: uppercase;
      }

      h4 {
        margin: 0;
        font-family: var(--fuente-primary);
        font-size: var(--font-size-h4);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: var(--letter-spacing-h4);
        text-transform: uppercase;
      }

      p {
        margin: 0;
        font-family: Montserrat, sans-serif;
        font-size: var(--font-size-p);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      li,
      ul,
      ol {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      input {
        font-family: var(--fuente-secondary);
        font-size: var(--font-size-p);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 100%;
        border: 0;
      }

      input:focus {
        outline: none;
      }

      button {
        cursor: pointer;
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
      }

      a {
        text-decoration: none;
        color: inherit;
      }

      img {
        max-width: 100%;
        height: auto;
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }

      /* asdasd */

      hr {
        display: block;
        width: 100%;
        height: 0.0625rem;
        background-color: #dedede;
        border: none;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      /* ===================
         ESTILOS GENERALES
      =================== */

      /* Contenedor base para componentes (sections)  */
      .container-base {
        width: 100%;
        max-width: 1660px;
        margin: auto;
        padding-left: var(--espaciado-xl) !important;
        padding-right: var(--espaciado-xl) !important;
      }

      .container-secundario {
        width: 100%;
        max-width: 1660px;
        margin: auto;
      }



      [class*="icon-color-primary"] svg,
      [class*="icon-color-primary"] * svg {
        filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(350deg) brightness(91%) contrast(113%) !important;
      }

      .icon-color-secondary svg {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
      }

      .icon-color-tertiary svg,
      .icon-color-tertiary * svg,
      button.icon-color-tertiary svg,
      [class*="icon-color-tertiary"] svg,
      [class*="icon-color-tertiary"] * svg {
        filter: invert(8%) sepia(9%) saturate(555%) hue-rotate(314deg) brightness(94%) contrast(91%) !important;
      } filter: invert(8%) sepia(9%) saturate(555%) hue-rotate(314deg) brightness(94%) contrast(91%);
      }

      @media screen and (min-width: 768px) {
        .container-base {
          padding-left: var(--espaciado-xxxl) !important;
          padding-right: var(--espaciado-xxxl) !important;
        }
      }

      @media screen and (min-width: 1024px) {
        .container-base {
          padding-left: var(--espaciado-big) !important;
          padding-right: var(--espaciado-big) !important;
        }
      }

      @media screen and (min-width: 350px) and (max-width: 380px) {
        html {
          font-size: 13px;
        }
      }

      @media screen and (min-width: 800px) and (max-width: 960px) {
        html {
          font-size: 14.5px;
        }
      }

      @media screen and (min-width: 1440px) {
        html {
          font-size: 17.5px;
        }
      }

      /* ESTILOS GENERALES /*
       Docuemntacion para el uso de clamps With Height Sections Divs(Header, Footer, Font-size, etc):
       clamp(min, preferred, max)
       clamp(valor minimo,(y+c),valor maximo)
       x : unidad vh o vw
       y : unidad px

       min: valor mínimo para el tamaño de la pantalla
       preferred: valor preferido para el tamaño de la pantalla
       max: valor máximo para el tamaño de la pantalla

       Proceso
       1. Primero se tiene el valor base
       2. Se calcula el valor mínimo : valor base * 0.7
       3. Se calcula el valor máximo : valor base * 1.3
       4. Sacar el valor (x) ,  x : (valor base  ÷ tamaño de la pantalla ) * 100
       5. Sacar el valor (y) , y :

       Ejemplo : height: clamp(63px, 10vh + 35px, 117px)
       valor base : 90px
       tamaño de la pantalla en el alto : 551.33px
       tamaño de la pantalla en el ancho : 551.33px

       valor minimo : 63px
       valor maximo : 117px
       valor x : (90 ÷ 551.33) * 100 = 16.33vh
       valor y : x * 0.6 = 9.8vh = 10vh = 10% = 0.1
       valor b : 551.33px * y = 55.13px
       valor c : 90px - b = 34.87px = 35px

       Docuemntacion para el uso de clamps Margin, Padding Gap Iconos:
       clamp(min, x, max)
       x : (valor base ÷ tamaño de la pantalla) * 100
       */
    {% endstyle %}
  </head>

  <body>
    {% sections 'header-group' %}

    <main style="margin-top: 5.5rem;">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    <!-- MODAL CLIENTE : ESTADO LOGUEADO -->
    {% comment %}
      <div class="m-modal-cliente-logueado">
        <div class="m-modal-cliente-logueado-contenido">
          <h3>¡Bienvenido de nuevo!</h3>
        </div>
      </div>
    {% endcomment %}
  </body>
</html>

<script></script>
