<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="logo-sauce-only-1.png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    >
    <link
      href="https://fonts.googleapis.com/css2?family=League+Gothic:wdth@82.9&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    >
    <link
      href="https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    >

    {{ content_for_header }}

    {% style %}
      :root {
        --fuente-primary: 'League Gothic', sans-serif;
        --fuente-secondary: 'Montserrat', sans-serif;
        /* Colores Primarios */
        --colorp-primary: #c8102e;
        --colorp-secondary: #ffffff;
        --colorp-tertiary: #231f20;
        --colorp-extra: #717171;
        --colorp-desactivado: #efefef;

        /* Colores Acento */
        --colora-primary: #e6b991;
        --colora-secondary: #a50a23;
        --colora-tertiary: #231f20;

        /* Colores de bordes */
        --colorb-primary: #969696;

        /* Tamaños de fuente responsivos con clamp() */
        --font-size-h1: clamp(2.5rem, 5vw, 3rem);
        --font-size-h2: clamp(2rem, 4vw, 2.25rem);
        --font-size-h3: clamp(1.5rem, 3.5vw, 2rem);
        --font-size-h4: clamp(1.25rem, 3vw, 1.5rem);
        --font-size-p: clamp(0.875rem, 2vw, 1rem);

        /* Letter spacing responsivo asasd*/
        --letter-spacing-h1: clamp(-0.05rem, -0.1vw, -0.06rem);
        --letter-spacing-h2: clamp(-0.04rem, -0.09vw, -0.045rem);
        --letter-spacing-h3: clamp(-0.03rem, -0.08vw, -0.04rem);
        --letter-spacing-h4: clamp(-0.025rem, -0.07vw, -0.03rem);

        /* Sistema de espaciado */
        --espaciado-xs: 0.25rem;
        --espaciado-s: 0.5rem;
        --espaciado-m: 0.75rem;
        --espaciado-l: 1rem;
        --espaciado-xl: 1.25rem;
        --espaciado-xxl: 1.5rem;
        --espaciado-xxxl: 3rem;
        --espaciado-big: 4rem;

        /* Bordes Radius */
        --border-radius-1: 0.25rem;
        --border-radius-2: 0.5rem;
        --border-radius-3: 0.625rem;
        --border-radius-4: 6.25rem;
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        font-family: var(--fuente-primary);
        font-size: 16px;
        scroll-behavior: smooth;
      }

      body {
        width: 100%;
        height: 100%;
        margin: 0;
        overflow-x: hidden;
        color: var(--text-color);
      }

      h1 {
        margin: 0;
        font-family: var(--fuente-primary);
        font-size: var(--font-size-h1);
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: var(--letter-spacing-h1);
        text-transform: uppercase;
      }

      h2 {
        margin: 0;
        font-family: var(--fuente-primary);
        font-size: var(--font-size-h2);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: var(--letter-spacing-h2);
        text-transform: uppercase;
      }

      h3 {
        margin: 0;
        font-family: var(--fuente-primary);
        font-size: var(--font-size-h3);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: var(--letter-spacing-h3);
        text-transform: uppercase;
      }

      h4 {
        margin: 0;
        font-family: var(--fuente-primary);
        font-size: var(--font-size-h4);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: var(--letter-spacing-h4);
        text-transform: uppercase;
      }

      p {
        margin: 0;
        font-family: Montserrat, sans-serif;
        font-size: var(--font-size-p);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 y Edge */
        user-select: none; /* Estándar */

        /* Opcional: cambiar el cursor para indicar que no se puede seleccionar */
        /* cursor: default; */
      }

      li,
      ul,
      ol {
        margin: 0;
      }

      input {
        font-family: var(--fuente-secondary);
        font-size: var(--font-size-p);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 100%;
        border: 0;
      }

      input:focus {
        outline: none;
      }

      button {
        cursor: pointer;
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
      }

      a {
        text-decoration: none;
        color: inherit;
      }

      img {
        max-width: 100%;
        height: auto;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        pointer-events: none;
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
        flex-shrink: 0;
        flex-grow: 0;
      }

      hr {
        background-color: #dedede;
        margin: 0;
        padding: 0;
        border: none;
      }

      /* ===================
         ESTILOS GENERALES
      =================== */

      /* Contenedor base para componentes (sections)  */
      .container-base {
        width: 100%;
        max-width: 1660px;
        margin: auto;
        padding-left: var(--espaciado-xl) !important;
        padding-right: var(--espaciado-xl) !important;
      }

      .container-secundario {
        width: 100%;
        max-width: 1660px;
        margin: auto;
      }

      .elemento-visible {
        display: flex !important;
      }

      .elemento-oculto {
        display: none !important;
      }

      [class*='icon-color-primary'] svg,
      [class*='icon-color-primary'] svg path,
      [class*='icon-color-primary'] svg g,
      [class*='icon-color-primary'] path,
      [class*='icon-color-primary'] g {
        fill: var(--colorp-primary);
      }

      [class*='icon-color-secondary'] svg,
      [class*='icon-color-secondary'] svg path,
      [class*='icon-color-secondary'] svg g,
      [class*='icon-color-secondary'] path,
      [class*='icon-color-secondary'] g {
        fill: var(--colorp-secondary);
      }

      [class*='icon-color-tertiary'] svg,
      [class*='icon-color-tertiary'] svg path,
      [class*='icon-color-tertiary'] svg g,
      [class*='icon-color-tertiary'] path,
      [class*='icon-color-tertiary'] g {
        fill: var(--colorp-tertiary);
      }

      [class*='icon-color-extra'] svg,
      [class*='icon-color-extra'] svg path {
        fill: var(--colorp-extra);
      }

      .color-letras-primary {
        color: var(--colorp-primary);
      }

      .color-letras-secondary {
        color: var(--colorp-secondary);
      }

      .color-letras-tertiary {
        color: var(--colorp-tertiary);
      }

      .color-letras-extra {
        color: var(--colorp-extra);
      }

      @media screen and (min-width: 768px) {
        .container-base {
          padding-left: var(--espaciado-xxxl) !important;
          padding-right: var(--espaciado-xxxl) !important;
        }
      }

      @media screen and (min-width: 1024px) {
        .container-base {
          padding-left: 3.44rem !important;
          padding-right: 3.44rem !important;
        }
      }

      @media screen and (min-width: 350px) and (max-width: 380px) {
        html {
          font-size: 13px;
        }
      }

      @media screen and (min-width: 800px) and (max-width: 960px) {
        html {
          font-size: 14.5px;
        }
      }

      @media screen and (min-width: 1440px) {
        html {
          font-size: 17.5px;
        }
      }

      /* ESTILOS GENERALES /*
       Docuemntacion para el uso de clamps With Height Sections Divs(Header, Footer, Font-size, etc):
       clamp(min, preferred, max)
       clamp(valor minimo,(y+c),valor maximo)
       x : unidad vh o vw
       y : unidad px

       min: valor mínimo para el tamaño de la pantalla
       preferred: valor preferido para el tamaño de la pantalla
       max: valor máximo para el tamaño de la pantalla

       Proceso
       1. Primero se tiene el valor base
       2. Se calcula el valor mínimo : valor base * 0.7
       3. Se calcula el valor máximo : valor base * 1.3
       4. Sacar el valor (x) ,  x : (valor base  ÷ tamaño de la pantalla ) * 100
       5. Sacar el valor (y) , y :

       Ejemplo : height: clamp(63px, 10vh + 35px, 117px)
       valor base : 90px
       tamaño de la pantalla en el alto : 551.33px
       tamaño de la pantalla en el ancho : 551.33px

       valor minimo : 63px
       valor maximo : 117px
       valor x : (90 ÷ 551.33) * 100 = 16.33vh
       valor y : x * 0.6 = 9.8vh = 10vh = 10% = 0.1
       valor b : 551.33px * y = 55.13px
       valor c : 90px - b = 34.87px = 35px

       Docuemntacion para el uso de clamps Margin, Padding Gap Iconos:
       clamp(min, x, max)
       x : (valor base ÷ tamaño de la pantalla) * 100
       */
    {% endstyle %}

    <!-- Hojas de estilos css -->
    {{ 'estilos-generales.css' | asset_url | stylesheet_tag }}

    <script
      defer
      src="https://maps.googleapis.com/maps/api/js?key={{settings.keyGoogleMap}}&libraries=places"
    ></script>
    <script>
      // Verificar si la URL actual contiene /pages/perfil
      if (window.location.pathname.includes('/pages/perfil')) {
        // Verificar si existe el item 'ph-datos-usuario' en localStorage
        const datosUsuario = localStorage.getItem('ph-datos-usuario');

        // Si no existe o está vacío, redirigir a la página de inicio de sesión
        if (!datosUsuario) {
          window.location.href = '/pages/inicio-sesion';
        }
      }

      if(window.location.pathname.includes('/pages/checkout')) {
        // Verificar si existe el item 'ph-datos-usuario' en localStorage
        const datosUsuario = localStorage.getItem('ph-datos-usuario');

        // Si no existe o está vacío, redirigir a la página de inicio de sesión
        if (!datosUsuario) {
          window.location.href = '/pages/inicio-sesion';
        }
      }

      window.localizacionesSucursales = [
        {
          lat: -17.757619,
          lng: -63.178738,
          name: 'BANZER 3ER ANILLO',
          localizacion: '6RRC+FG Santa Cruz de la Sierra',
          telefono: '78452415',
          dias: 'Lunes a Viernes',
          horario: '8:00 a 23:00',
          servicios: ['Envío a domicilio', 'Recoger en local'],
        },
        {
          lat: -17.70001,
          lng: -63.160219,
          name: 'BANZER KM 8.5',
          localizacion: '7RXQ+XX Santa Cruz de la Sierra',
          telefono: '78452415',
          dias: 'Lunes a Viernes',
          horario: '8:00 a 23:00',
          servicios: ['Envío a domicilio', 'Recoger en local'],
        },
        {
          lat: -17.807759403109873,
          lng: -63.204340783954436,
          name: 'LAS PALMAS',
          localizacion: '5QRW+WC Santa Cruz de la Sierra',
          telefono: '784524155',
          dias: 'Lunes a Viernes',
          horario: '8:00 a 23:00',
          servicios: ['Envío a domicilio', 'Recoger en local'],
        },
        {
          lat: -17.758879,
          lng: -63.19948,
          name: 'SAN MARTIN',
          localizacion: '6RR2+97 Santa Cruz de la Sierra',
          telefono: '78452415',
          dias: 'Lunes a Viernes',
          horario: '8:00 a 23:00',
          servicios: ['Envío a domicilio', 'Recoger en local'],
        },
        {
          lat: -17.820341,
          lng: -63.184337,
          name: 'SANTOS DUMONT',
          localizacion: '5RH8+V7 Santa Cruz de la Sierra',
          telefono: '78452415',
          dias: 'Lunes a Viernes',
          horario: '8:00 a 23:00',
          servicios: ['Envío a domicilio', 'Recoger en local'],
        },
      ];

      window.shopIcons = {
        icon_editar: `{% render 'icon-editar' %}`,
        icon_menos: `{% render 'icon-menos' %}`,
        icon_mas: `{% render 'icon-mas' %}`,
        icon_basura: `{% render 'icon-basura' %}`,
        icon_carrito: `{% render 'icon-carrito' %}`,
        icon_estado_on: `{% render 'icon-estado-on' %}`,
        icon_estado_off: `{% render 'icon-estado-off' %}`,
        icon_recogo_local: `{% render 'icon-recogo-local' %}`,
        icon_recogo_delivery: `{% render 'icon-recogo-delivery' %}`,
        icon_location_on : `{% render 'icon-location-on' %}`,
        icon_headser_mic : `{% render 'icon-headser-mic' %}`,
        icon_qr : `{% render 'icon-qr' %}`,
        icon_tarjeta_credito : `{% render 'icon-tarjeta-credito' %}`,
        icon_dolar : `{% render 'icon-dolar' %}`,
        icon_estado_on_plus : `{% render 'icon-estado-on-plus' %}`,
        icon_checkbox_off : `{% render 'icon-checkbox-off' %}`,
        icon_checkbox_on : `{% render 'icon-checkbox-on' %}`,
        icon_volver_atras : `{% render 'icon-volver-atras' %}`,
        icon_flecha_derecha : `{% render 'icon-flecha-derecha' %}`,
        icon_disponibilidad : `{% render 'icon-disponibilidad' %}`,
        icon_clock : `{% render 'icon-clock' %}`,
        icon_check: `{% render 'icon-check' %}`,
        icon_map: `{% render 'icon-map' %}`,
        icon_flecha_abajo : `{% render 'icon-flecha-abajo' %}`,
        icon_todas_opciones : `{% render 'icon-todas-opciones' %}`,
        icon_carrito : `{% render 'icon-carrito' %}`,

      };

      window.assets = {
        logo_primario: '{{ 'logo-primario.png' | asset_url }}',
        banner_1: '{{ 'banner-1.png' | asset_url }}',
        banner_2: '{{ 'banner-2.png' | asset_url }}',
        banner_3: '{{ 'banner-3.png' | asset_url }}',
        banner_4: '{{ 'banner-1.png' | asset_url }}',
        banner_5: '{{ 'banner-2.png' | asset_url }}',
        imagen_aux : '{{ 'imagen-pizza-1.png' | asset_url }}',
      }
      window.urlConsulta = '{{ settings.urlConsulta }}';
      {% comment %}  {% endcomment %}
      {% comment %} window.backendShopify = `{{ settings.backendShopify }}`; {% endcomment %}
      {% comment %} window.urlConsulta = 'http://localhost:5001/graphql'; {% endcomment %}
      window.backendShopify = `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`;
    </script>

    <!-- Hojas de estilos js -->
    <script src="{{ 'cambios-estandar.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'auxiliares-global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'detalle-pedido.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'page-producto.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'page-iniciar-sesion.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'page-checkout.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'page-perfil.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'page-crear-cuenta.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'page-editar-perfil.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'page-menu.js' | asset_url }}" defer="defer"></script>
  </head>

  <body>
    {% sections 'header-group' %}

    <main style="margin-top: 6.1rem;">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    <!-- MODAL CLIENTE : ESTADO LOGUEADO -->
    <modal-inicial>
      <div class="modal-general-sme">
        <div class="modal-principal-solicitud-metodo-entrega">
          <div class="mpsme-icono-base icon-color-primary">
            {% render 'icon-localizacion-plus' %}
          </div>
          <div class="mpsme-mensaje-base">
            <small>¿cómo quieres recibir tu pizza?</small>
            <p>
              Elige si la llevamos hasta la puerta de tu casa o si prefieres recogerla tú mismo desde nuestro local más
              cercano.
            </p>
          </div>
          <div class="mpsme-seleccion-entrega">
            <div id="mpsme-recoger-local" class="mpsme-metodo-entrega">
              <div id="mpsme-icono-recoger-local" class="mpsme-icono-seleccion">
                {% render 'icon-estado-off' %}
              </div>
              <div class="mpsme-informacion-metodo">
                <div class="mpsme-icono-metodo icon-color-primary">
                  {% render 'icon-recogo-local' %}
                </div>
                <div class="mpsme-informacion-metodo-texto">
                  <p style="font-weight: 600;">Recoger en local</p>
                  <p>Sin costo alguno</p>
                </div>
              </div>
            </div>
            <div id="mpsme-envio-domicilio" class="mpsme-metodo-entrega">
              <div id="mpsme-icono-envio-domicilio" class="mpsme-icono-seleccion">
                {% render 'icon-estado-off' %}
              </div>
              <div class="mpsme-informacion-metodo">
                <div class="mpsme-icono-metodo">
                  {% render 'icon-recogo-delivery' %}
                </div>
                <div class="mpsme-informacion-metodo-texto">
                  <p style="font-weight: 600;">Envío a domicilio</p>
                  <p>Envío a solo Bs 2</p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="mpsme-opciones-entrega"
          >
            <button
              class="ph-btn-general"
              id="mpsme-opcion-continuar"
            >
              <p class="color-letras-secondary">CONTINUAR</p>
            </button>
            <button
              class="ph-btn-secundario icon-color-primary"
              id="mpsme-opcion-omitir"
            >
              <p class="color-letras-primary">OMITIR</p>
              {% render 'icon-close-custom' %}
            </button>
          </div>
        </div>

        <!-- MODAL DE ESTADO CARGA -->
        <section
          id="ph-general-modal-carga"
          class="ph-background-container-modal"
        >
          <div class="ph-modal-main-snipper">
            <div class="ph-modal-body-snipper">
              <div class="snipper-container">
                <div class="snipper-background">
                  <img
                    src="{{ 'fondoSnipper.png' | asset_url }}"
                    alt="Fondo de Snipper"
                    width="100%"
                    height="100%"
                  >
                </div>
                <div class="snipper-logo">
                  <img
                    src="{{ 'logoSnipper.png' | asset_url }}"
                    alt="Logo de Snipper"
                    width="100%"
                    height="100%"
                  >
                </div>
              </div>
            </div>
            <p>Procesando informacion ...</p>
          </div>
        </section>
      </div>
    </modal-inicial>

    <!-- MENSAJE EXITO : CARRITO = MEC a -->
    <mensaje-temporal>
      <section id="ph-mec" class="ph-mec-general" style="opacity: 0; visibility: hidden;">
        <div id="ph-mec-icono" class="ph-mec-icono-exito elemento-oculto">
          {% render 'icon-check-verde' %}
        </div>
        <div id="ph-mec-icono" class="ph-mec-icono-error elemento-oculto">
          {% render 'icon-error' %}
        </div>
        <div id="ph-mec-icono" class="ph-mec-icono-info elemento-oculto">
          {% render 'icon-info-mensaje' %}
        </div>
        <div id="ph-mec-icono" class="ph-mec-icono-alerta elemento-oculto">
          {% render 'icon-alerta' %}
        </div>
        <p id="ph-mec-etiqueta-mensaje" class="ph-mec-mensaje">Se añadió tu orden al carrito con éxito.</p>
      </section>
    </mensaje-temporal>

    <!-- MODAL ESTA DE CAMBIOS O PROCESOS TOMAN SU TIEMPO DE ESPERA -->
    <mensaje-carga-datos>
      <section
        id="ph-container-modal"
        class="ph-background-container-modal"
        style="display: none;"
      >
        <div
          id="ph-snipper-modal"
          class="ph-modal-main-snipper"
        >
          <div class="ph-modal-body-snipper">
            <div class="snipper-container">
              <div class="snipper-background">
                <img
                  src="{{ 'fondoSnipper.png' | asset_url }}"
                  alt="Fondo de Snipper"
                  width="100%"
                  height="100%"
                >
              </div>
              <div class="snipper-logo">
                <img
                  src="{{ 'logoSnipper.png' | asset_url }}"
                  alt="Logo de Snipper"
                  width="100%"
                  height="100%"
                >
              </div>
            </div>
          </div>
          <p id="ph-mensaje-carga-datos"></p>
        </div>
      </section>
    </mensaje-carga-datos>
  </body>
</html>

{% style %}
  .ph-mec-general {
    top: 26%;
    left: 50%;
    position: fixed;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: var(--espaciado-s);
    border-radius: var(--espaciado-xs);
    height: 3.75rem;
    width: 43rem;
    padding: 0 var(--espaciado-xl);
    transform: translate(-50%, -50%);
    /* Propiedades para la animación */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }

  .ph-mec-general.exito {
    border-left: 4px solid #aed5a5;
    background-color: #edf6ea;
  }

  .ph-mec-general.info {
    border-left: 4px solid #a9b5f3;
    background-color: #f4f7ff;
  }

  .ph-mec-general.error {
    border-left: 4px solid #ef9f8e;
    background-color: #fff4f2;
  }

  .ph-mec-general.alerta {
    border-left: 4px solid #f7d8a3;
    background-color: #fffbef;
  }

  .modal-general-sme {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    overflow-y: auto;
  }

  .modal-principal-solicitud-metodo-entrega {
    width: 23.75rem;
    height: max-content;
    padding: 2rem 1.25rem;
    background-color: var(--colorp-secondary);
    border-radius: var(--espaciado-s);
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .mpsme-icono-base {
    width: 100%;
    display: flex;
    align-items: start;
  }

  .mpsme-icono-base svg {
    width: 3.125rem;
    height: 3.125rem;
    aspect-ratio: 1/1;
  }

  .mpsme-mensaje-base {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-xl);
    text-align: center;
  }

  .mpsme-mensaje-base small {
    font-size: 3.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.4375rem;
    letter-spacing: -0.06625rem;
    text-transform: uppercase;
  }

  .mpsme-seleccion-entrega {
    width: 100%;
    display: flex;
    gap: var(--espaciado-l);
    cursor: pointer;
  }

  .mpsme-metodo-entrega {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--espaciado-l);
    padding: 1.25rem 0;
    border-radius: var(--espaciado-xs);
    border: 1px solid #969696;
    position: relative;
  }

  .mpsme-icono-metodo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mpsme-metodo-entrega.seleccionado.seleccionado .mpsme-icono-metodo svg,
  .mpsme-metodo-entrega.seleccionado.seleccionado .mpsme-icono-metodo svg path,
  .mpsme-metodo-entrega.seleccionado.seleccionado .mpsme-icono-metodo svg g,
  .mpsme-metodo-entrega.seleccionado.seleccionado .mpsme-icono-metodo path,
  .mpsme-metodo-entrega.seleccionado.seleccionado .mpsme-icono-metodo g {
    fill: var(--colorp-secondary);
  }

  .mpsme-metodo-entrega svg {
    width: 2.67631rem;
    height: 2.67631rem;
    aspect-ratio: 42.82/42.82;
  }

  .mpsme-informacion-metodo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--espaciado-s);
  }

  .mpsme-informacion-metodo-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--espaciado-s);
  }

  .mpsme-metodo-entrega.seleccionado {
    border: none;
    background-color: var(--colorp-primary);
  }

  .mpsme-metodo-entrega.seleccionado p {
    color: var(--colorp-secondary);
  }

  .mpsme-icono-seleccion {
    position: absolute;
    top: 0.45rem;
    right: 0.45rem;
  }

  .mpsme-icono-seleccion svg {
    width: 1.25rem;
    height: 1.25rem;
    aspect-ratio: 1/1;
  }

  .mpsme-opciones-entrega {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-xl);
  }

  .mpsme-opcion-continuar {
    width: 100%;
    height: 3rem;
    border-radius: var(--espaciado-xs);
    background-color: var(--colorp-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .mpsme-opcion-continuar p {
    font-weight: 600;
    text-transform: uppercase;
  }

  .mpsme-opcion-omitir {
    width: 100%;
    height: 3rem;
    border-radius: var(--espaciado-xs);
    border: 1px solid var(--colorp-primary);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--espaciado-xs);
    cursor: pointer;
  }

  .mpsme-opcion-omitir p {
    text-transform: uppercase;
    font-weight: 600;
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1024px) {
    .modal-principal-solicitud-metodo-entrega {
      width: 46rem;
    }

    .modal-principal-solicitud-metodo-entrega {
      padding: 2rem 3rem;
    }

    .mpsme-icono-base svg {
      width: 6.25rem;
      height: 6.25rem;
    }

    .mpsme-informacion-metodo {
      flex-direction: row;
    }

    .mpsme-metodo-entrega {
      align-items: start;
      padding: 1rem 1.25rem;
    }
  }
{% endstyle %}

<script>
  class ModalInicial extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      // CONTENEDOR GENERAL DEL MODAL
      this.modalGeneral = document.querySelector('.modal-general-sme');
      this.modalGeneralCarga = document.querySelector('#ph-general-modal-carga');
      // BOTONES DE SELECCION METODO ENTREGA
      this.btnRecogerLocal = document.querySelector('#mpsme-recoger-local');
      this.btnEnvioDomicilio = document.querySelector('#mpsme-envio-domicilio');
      this.iconoSeleccionRecogerLocal = document.querySelector('#mpsme-icono-recoger-local');
      this.iconoSeleccionEnvioDomicilio = document.querySelector('#mpsme-icono-envio-domicilio');
      // OPCIONES DEL MODAL
      this.containerModalMenu = document.querySelector('.h-menu-opciones-productos');
      this.btnContinuar = document.querySelector('#mpsme-opcion-continuar');
      this.btnOmitir = document.querySelector('#mpsme-opcion-omitir');
      // LISTENER DE EVENTOS
      this.btnOmitir.addEventListener('click', this.omitirBtnModal.bind(this));
      this.btnContinuar.addEventListener('click', this.continuarBtnModal.bind(this));
      this.btnRecogerLocal.addEventListener('click', this.procesoBtnRecogerLocal.bind(this));
      this.btnEnvioDomicilio.addEventListener('click', this.procesoBtnEnvioDomicilio.bind(this));

      // METODOS INICIALES DEL ELEMENTO
      this.modalGeneralCarga.style.display = 'none';
      this.verificarLanzamientoModal();
      this.verificarBtnContinuar();
      {% comment %} this.inicializacionGoogleMaps(0); {% endcomment %}
    }

    verificarLanzamientoModal() {
      // Obtener el valor actual de localStorage
      // mp-ver = modal principal ver,
      const modalVer = localStorage.getItem('mp-ver');
      console.log('modalVer', modalVer);

      if (modalVer != null || modalVer == 'false') {
        this.modalGeneral.style.display = 'none';
      }
    }

    omitirBtnModal() {
      // Ocultar el modal
      this.modalGeneral.style.display = 'none';
      // Cambiar el valor de localStorage a false
      localStorage.setItem('mp-ver', 'false');
    }

    continuarBtnModal() {
      const estaHabilitadoContinuar = !this.btnContinuar.classList.contains('desactivado');
      if (!estaHabilitadoContinuar) return;

      // Ocultar el modal
      this.modalGeneral.style.display = 'none';
      // Cambiar el valor de localStorage a false
      localStorage.setItem('mp-ver', 'false');
      window.location.href = '/pages/metodo-entrega';
    }

    procesoBtnRecogerLocal() {
      const iconoEstadoOn = `{% render 'icon-estado-on' %}`;
      const iconoEstadoOff = `{% render 'icon-estado-off' %}`;
      // seleccion-me-mi = seleccion metodo mi entrega modal inicial
      {% comment %} localStorage.setItem('seleccion-me-mi', 'local'); {% endcomment %}

      // Se verifica si el boton precionado esta seleccionado
      const estaSeleccionadoBtnRecogerLocal = this.btnRecogerLocal.classList.contains('seleccionado');
      if (estaSeleccionadoBtnRecogerLocal) {
        this.btnRecogerLocal.classList.remove('seleccionado');
        this.iconoSeleccionRecogerLocal.innerHTML = iconoEstadoOff;
      } else {
        // Si no esta el boton seleccionado, proceder
        // Y dejar solo marcado este boton
        this.btnRecogerLocal.classList.add('seleccionado');
        this.btnEnvioDomicilio.classList.remove('seleccionado');
        this.iconoSeleccionRecogerLocal.innerHTML = iconoEstadoOn;
        this.iconoSeleccionEnvioDomicilio.innerHTML = iconoEstadoOff;
      }
      this.verificarBtnContinuar();
      localStorage.setItem('mp-ver', 'false');
    }

    procesoBtnEnvioDomicilio() {
      const iconoEstadoOn = `{% render 'icon-estado-on' %}`;
      const iconoEstadoOff = `{% render 'icon-estado-off' %}`;
      // seleccion-me-mi = seleccion metodo mi entrega modal inicial
      {% comment %} localStorage.setItem('seleccion-me-mi', 'domicilio'); {% endcomment %}

      // Se verifica si el boton precionado esta seleccionado
      const estaSeleccionadoBtnEnvioDomicilio = this.btnEnvioDomicilio.classList.contains('seleccionado');
      if (estaSeleccionadoBtnEnvioDomicilio) {
        this.btnEnvioDomicilio.classList.remove('seleccionado');
        this.iconoSeleccionEnvioDomicilio.innerHTML = iconoEstadoOff;
      } else {
        // Si no esta el boton seleccionado, proceder
        // Y dejar solo marcado este boton
        this.btnEnvioDomicilio.classList.add('seleccionado');
        this.btnRecogerLocal.classList.remove('seleccionado');
        this.iconoSeleccionEnvioDomicilio.innerHTML = iconoEstadoOn;
        this.iconoSeleccionRecogerLocal.innerHTML = iconoEstadoOff;
      }
      this.verificarBtnContinuar();
      localStorage.setItem('mp-ver', 'false');
    }

    verificarBtnContinuar() {
      console.log('verificarBtnContinuar');
      const fueSeleccionadoBtnRecogerLocal = this.btnRecogerLocal.classList.contains('seleccionado');
      const fueSeleccionadoBtnEnvioDomicilio = this.btnEnvioDomicilio.classList.contains('seleccionado');

      if (fueSeleccionadoBtnRecogerLocal || fueSeleccionadoBtnEnvioDomicilio) {
        this.btnContinuar.classList.remove('desactivado');
      } else {
        this.btnContinuar.classList.add('desactivado');
      }

      if(fueSeleccionadoBtnRecogerLocal) {
        localStorage.setItem('seleccion-me-mi', 'local');
      } 

      if(fueSeleccionadoBtnEnvioDomicilio) {
        localStorage.setItem('seleccion-me-mi', 'domicilio');
      }
    }
  }

  customElements.define('modal-inicial', ModalInicial);
</script>
