<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    >
    <link
      href="https://fonts.googleapis.com/css2?family=League+Gothic:wdth@82.9&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    >
    {{ 'variables.css' | asset_url | stylesheet_tag }}

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="logo-sauce-only-1.png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {{ content_for_header }}

    {% style %}
      :root {
        --fuente-primary: 'League Gothic', sans-serif;
        --fuente-secondary: 'Montserrat', sans-serif;
        /* Colores Primarios */
        --colorp-primary: #c8102e;
        --colorp-secondary: #ffffff;
        --colorp-tertiary: #231f20;
        /* Colores Acento */
        --colora-primary: #e6b991;
        --colora-secondary: #a50a23;
        --colora-tertiary: #231f20;

        /* Colores de bordes */
        --colorb-primary: #969696;

        /* Tamaños de fuente responsivos con clamp() */
        --font-size-h1: clamp(2.5rem, 5vw, 3rem);
        --font-size-h2: clamp(2rem, 4vw, 2.25rem);
        --font-size-h3: clamp(1.5rem, 3.5vw, 2rem);
        --font-size-h4: clamp(1.25rem, 3vw, 1.5rem);
        --font-size-p: clamp(0.875rem, 2vw, 1rem);

        /* Letter spacing responsivo asasd*/
        --letter-spacing-h1: clamp(-0.05rem, -0.1vw, -0.06rem);
        --letter-spacing-h2: clamp(-0.04rem, -0.09vw, -0.045rem);
        --letter-spacing-h3: clamp(-0.03rem, -0.08vw, -0.04rem);
        --letter-spacing-h4: clamp(-0.025rem, -0.07vw, -0.03rem);

        /* Sistema de espaciado */
        --espaciado-xs: 0.25rem;
        --espaciado-s: 0.5rem;
        --espaciado-m: 0.75rem;
        --espaciado-l: 1rem;
        --espaciado-xl: 1.25rem;
        --espaciado-xxl: 1.5rem;
        --espaciado-xxxl: 3rem;
        --espaciado-big: 4rem;

        /* Bordes Radius */
        --border-radius-1: 0.25rem;
        --border-radius-2: 0.5rem;
        --border-radius-3: 0.625rem;
        --border-radius-4: 6.25rem;
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        font-family: var(--fuente-primary);
        font-size: 16px;
        scroll-behavior: smooth;
      }

      body {
        width: 100%;
        height: 100%;
        margin: 0;
        overflow-x: hidden;
        color: var(--text-color);
      }

      h1 {
        margin: 0;
        font-family: var(--fuente-primary);
        font-size: var(--font-size-h1);
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: var(--letter-spacing-h1);
        text-transform: uppercase;
      }

      h2 {
        margin: 0;
        font-family: var(--fuente-primary);
        font-size: var(--font-size-h2);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: var(--letter-spacing-h2);
        text-transform: uppercase;
      }

      h3 {
        margin: 0;
        font-family: var(--fuente-primary);
        font-size: var(--font-size-h3);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: var(--letter-spacing-h3);
        text-transform: uppercase;
      }

      h4 {
        margin: 0;
        font-family: var(--fuente-primary);
        font-size: var(--font-size-h4);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: var(--letter-spacing-h4);
        text-transform: uppercase;
      }

      p {
        margin: 0;
        font-family: Montserrat, sans-serif;
        font-size: var(--font-size-p);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      li,
      ul,
      ol {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      input {
        font-family: var(--fuente-secondary);
        width: 100%;
        border: 0;
      }

      input:focus {
        outline: none;
      }

      button {
        cursor: pointer;
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
      }

      img {
        max-width: 100%;
        height: auto;
      }

      @media screen and (min-width: 350px) and (max-width: 380px) {
        html {
          font-size: 13px;
        }
      }

      @media screen and (min-width: 800px) and (max-width: 960px) {
        html {
          font-size: 14.5px;
        }
      }

      @media screen and (min-width: 1440px) {
        html {
          font-size: 17.5px;
        }
      }

      /* 
      Docuemntacion para el uso de clamps With Height Sections Divs(Header, Footer, Font-size, etc):
      clamp(min, preferred, max)
      clamp(valor minimo,(y+c),valor maximo)
      x : unidad vh o vw
      y : unidad px

      min: valor mínimo para el tamaño de la pantalla
      preferred: valor preferido para el tamaño de la pantalla
      max: valor máximo para el tamaño de la pantalla

      Proceso
      1. Primero se tiene el valor base 
      2. Se calcula el valor mínimo : valor base * 0.7
      3. Se calcula el valor máximo : valor base * 1.3
      4. Sacar el valor (x) ,  x : (valor base  ÷ tamaño de la pantalla ) * 100
      5. Sacar el valor (y) , y : 

      Ejemplo : height: clamp(63px, 10vh + 35px, 117px)
      valor base : 90px
      tamaño de la pantalla en el alto : 551.33px
      tamaño de la pantalla en el ancho : 551.33px
      
      valor minimo : 63px
      valor maximo : 117px
      valor x : (90 ÷ 551.33) * 100 = 16.33vh
      valor y : x * 0.6 = 9.8vh = 10vh = 10% = 0.1
      valor b : 551.33px * y = 55.13px 
      valor c : 90px - b = 34.87px = 35px

      Docuemntacion para el uso de clamps Margin, Padding Gap Iconos:
      clamp(min, x, max)
      x : (valor base ÷ tamaño de la pantalla) * 100
      */
    {% endstyle %}
  </head>

  <body>
    {% comment %}
      {%- if settings.cart_type == 'drawer' -%}
        {%- render 'cart-drawer' -%}
      {%- endif -%}
    {% endcomment %}

    {% sections 'header-group' %}

    <main style="position: relative;">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}
  </body>
</html>

{% comment %}
  <body style="font-family: var(--fuente-principal);">
    <div class="p-sme-contenedor-base">
      <div class="p-sme-pizza-background">
        <img src="{{ 'img-aux-background-solicitud-entrega.png' | asset_url }}" alt="Logo Pizza Hut">
      </div>
      <div class="p-sme-pizza-logo">
        <img src="{{ 'logo-pizza-hut.png' | asset_url }}" alt="Logo Pizza Hut">
      </div>
      <div class="p-sme-informacion-seleccion-cliente">
        <div class="p-sme-menesajes-informacion-cliente">
          <span class="p-sme-titulo-principal">¿cómo quieres recibir tu pizza?</span>
          <p class="p-sme-texto-descripcion">
            Elige si la llevamos hasta la puerta de tu casa o si prefieres recogerla tú mismo desde nuestro local más
            cercano.
          </p>
        </div>

        <div class="p-sme-seccion-seleccion-cliente">
          <button class="p-sme-boton-recoger-local">
            <div class="p-sme-icono-recogo-local">
              {% render 'icon-recogo-local' %}
            </div>
            <div class="p-sme-texto-boton-recoger-local">
              <p class="p-sme-texto-boton-titulo">Recoger en local</p>
              <p class="p-sme-texto-boton-subtitulo">Sin costo alguno</p>
            </div>
            <div class="p-sme-icono-selecionado">
              {% render 'icon-estado-off' %}
            </div>
          </button>

          <button class="p-sme-boton-envio-domicilio">
            <div class="p-sme-icono-envio-domicilio">
              {% render 'icon-recogo-delivery' %}
            </div>
            <div class="p-sme-texto-boton-recoger-local">
              <p class="p-sme-texto-boton-titulo">Envío a domicilio</p>
              <p class="p-sme-texto-boton-subtitulo">Envio a solo Bs 2</p>
            </div>
            <div class="p-sme-icono-selecionado">
              {% render 'icon-estado-off' %}
            </div>
          </button>
        </div>
      </div>
      <div class="p-sme-opciones-cliente">
        <div class="p-sme-opciones-cliente-contenido">
          <button class="p-sme-boton-omitir">
            <p class="p-sme-texto-omitir">OMITIR</p>
            {% render 'icon-close-rojo' %}
          </button>
          <button class="p-sme-boton-siguiente">
            <p class="p-sme-texto-siguiente">Siguiente</p>
          </button>
        </div>
      </div>
      <div
        style="
          width: 300px;
          height: 405px;
          background-color: red;
          display: flex;
          position: absolute;
          top: 28.99rem;
          left: 50%;
          transform: translateX(-50%);
        "
        class="p-sme-contenido-recogida-local"
      ></div>
      <div id="p-sme-boton-abrir-modal-mapa" class="p-sme-contenido-envio-domicilio">
        <p>Ingresa una dirección o usa tu ubicación actual</p>
        <button id="p-sme-boton-ubicacion-actual">
          {% render 'icon-gps-rojo' %}
          <p>Usar mi ubicación actual</p>
        </button>
        <div class="p-sme-decoracion-contenedor">
          <hr>
          <p>O</p>
          <hr>
        </div>
        <div class="p-sme-contenedor-input-direccion">
          {% render 'icon-location-on-negro' %}
          <input type="text" placeholder="Ingresa dirección o punto de referencia">
        </div>
      </div>
    </div>

    <!-- Modal para selección de ubicación -->
    <div class="p-sme-modal-mapa-envio-domicilio">
      <div class="p-sme-modal">
        <div class="p-sme-modal-header">
          <div class="p-sme-modal-pizza-logo">
            <img src="{{ 'logo-pizza-hut.png' | asset_url }}" alt="Logo Pizza Hut">
          </div>
          <div class="p-sme-informacion-seleccion-cliente-modal">
            <div class="p-sme-menesajes-informacion-cliente-modal">
              <span class="p-sme-titulo-principal-modal">¿cómo quieres recibir tu pizza?</span>
              <p class="p-sme-texto-descripcion-modal">
                Elige si la llevamos hasta la puerta de tu casa o si prefieres recogerla tú mismo desde nuestro local
                más cercano.
              </p>
            </div>
            <div class="p-sme-seccion-mensaje-modal">
              {% render 'icon-info' %}
              <p class="p-sme-texto-descripcion-modal">Seleccionar dirección en el mapa o en la lista</p>
            </div>
          </div>
        </div>
        <div class="p-sme-mapa"></div>
        <div class="p-sme-modal-footer">
          <button id="p-sme-boton-cerrar-modal" class="p-sme-boton-cerrar">
            <p>Cerrar</p>
          </button>
          <button id="p-sme-boton-confirmar-modal" class="p-sme-boton-confirmar">
            <p>Confirmar Dirección</p>
          </button>
        </div>
      </div>
    </div>
  </body>
{% endcomment %}
