<!-- Estilos traer de assets/header.css as -->
{{ 'header.css' | asset_url | stylesheet_tag }}

<header-principal>
  <header class="container-secundario h-header-principal">
    <!-- HEADER MOBILE -->
    <div class="h-metodo-entrega-seleccionado">
      <div class="h-logo-principal">
        <img src="{{ 'logo-sauce-only-1.png' | asset_url }}" alt="Logo Sauce Only" width="100" height="100">
      </div>
      {% comment %}
        <div class="h-sector-seleccion-metodo-entrega h-metodo-no-seleccionado">
          <p>Selecciona tu</p>
          <div class="h-texto-metodo-entrega">
            <h4>Método de entrega</h4>
            {% render 'icon-pizza-metodo-entrega' %}
          </div>
        </div>
      {% endcomment %}
      <div class="h-sector-opciones-cliente h-metodo-seleccionado">
        <button class="h-boton-buscar">
          {% render 'icon-search' %}
          <h3>Buscar</h3>
        </button>
        <div class="h-boton-cambio-metodo-entrega">
          <div class="h-icono-metodo-entrega">
            {% render 'icon-pizza-metodo-entrega' %}
          </div>
          <h3>Local</h3>
          <button class="h-icono-solocitud-metodo-entrega">
            {% render 'icon-flecha-abajo' %}
          </button>
        </div>
        <button class="h-boton-carrito">
          {% render 'icon-carrito' %}
        </button>
      </div>
      <button class="h-boton-menu">
        {% render 'icon-hamburguesa' %}
      </button>
      <section class="container-base h-opciones-usuario-mobile">
        <div class="h-opciones-mobile-header">
          <h1>Menú</h1>
          <button class="h-boton-cerrar-menu icon-color-tertiary">
            {% render 'icon-close-rojo' %}
          </button>
        </div>
        <div class="h-opciones-mobile-body">
          <button class="h-opcion-usuario icon-color-tertiary">
            {% render 'icon-cuenta-blanco' %}
            <p>MI PERFIL</p>
          </button>
          <button class="h-opcion-usuario icon-color-tertiary">
            {% render 'icon-contrato' %}
            <p>HISTORIAL DE PEDIDOS</p>
          </button>
          <button class="h-opcion-usuario icon-color-tertiary">
            {% render 'icon-cupon' %}
            <p>CUPONES Y DESCUENTOS</p>
          </button>
          <hr>
          <button class="h-opcion-usuario icon-color-primary">
            {% render 'icon-iniciar-cerrar' %}
            <p class="color-letras-primary">INICIAR SESIÓN</p>
          </button>
        </div>
      </section>
      <!-- VENTANA DE BUSQUEDA -->
      <div class="h-container-busqueda-mobile">
        <div class="h-busqueda-mobile-header">
          <input type="text" placeholder="Ingresa tu búsqueda">
          <button class="h-boton-cerrar-menu icon-color-tertiary">
            <p>Cancelar</p>
          </button>
        </div>
        <div class="container-base h-busqueda-mobile-body">
          <div class="h-busqueda-especifica-item">
            <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Hamburguesa" width="100" height="100">
            <div class="h-busqueda-especifica-item-info">
              <p>Pizza 4 quesos</p>
              <p class="color-letras-primary">Bs 10.000</p>
            </div>
          </div>
          <div class="h-busqueda-especifica-item">
            <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Hamburguesa" width="100" height="100">
            <div class="h-busqueda-especifica-item-info">
              <p>Pizza 4 quesos</p>
              <p class="color-letras-primary">Bs 10.000</p>
            </div>
          </div>
          <div class="h-busqueda-especifica-item">
            <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Hamburguesa" width="100" height="100">
            <div class="h-busqueda-especifica-item-info">
              <p>Pizza 4 quesos</p>
              <p class="color-letras-primary">Bs 10.000</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- HEADER ENFOCADO TABLET DESKTOPP -->
    <div class="h-enfocado-tablet-desktop">
      <div class="h-logo-principal">
        <img src="{{ 'logo-secondary-2.png' | asset_url }}" alt="Logo Secundario" width="100" height="100">
      </div>
      <nav class="h-nav-principal">
        <a class="h-mostrar-menu-opciones-productos">
          <h4>MENÚ</h4>
          <div class="h-mmop"></div>
        </a>
        <a href="https://microsites.spnty.co/pizzahutbolivia/login" class="h-nav-hutcoins">
          <h4>HUT COINS</h4>
          {% render 'icon-flecha-hutcoins' %}
        </a>
        <a href="/pages/sobre-nosotros">
          <h4>SOBRE NOSOTROS</h4>
        </a>
      </nav>
      <div class="h-sector-opciones-cliente">
        <div class="h-sector-busqueda">
          <!-- CONTENEDOR DE BUSQUEDA -->
          <div class="h-input-buscar icon-size-trabajo">
            {% render 'icon-search' %}
            <input type="text" placeholder="Buscar" id="h-input-buscar" autocomplete="off">
          </div>
          <!-- CONTENEDOR RESULTADOS DE BUSQUEDA -->
          <div class="h-busqueda-especifica">
            <div class="h-busqueda-especifica-item">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Hamburguesa" width="100" height="100">
              <div class="h-busqueda-especifica-item-info">
                <p>Pizza 4 quesos</p>
                <p class="color-letras-primary">Bs 10.000</p>
              </div>
            </div>
            <div class="h-busqueda-especifica-item">
              <img src="{{ 'imagen-pizza-2.png' | asset_url }}" alt="Hamburguesa" width="100" height="100">
              <div class="h-busqueda-especifica-item-info">
                <p>Pizza 4 quesos</p>
                <p>Bs 10.000</p>
              </div>
            </div>
            <div class="h-busqueda-especifica-item">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Hamburguesa" width="100" height="100">
              <div class="h-busqueda-especifica-item-info">
                <p>Pizza 4 quesos</p>
                <p class="color-letras-primary">Bs 10.000</p>
              </div>
            </div>
            <div class="h-busqueda-especifica-item">
              <img src="{{ 'imagen-pizza-2.png' | asset_url }}" alt="Hamburguesa" width="100" height="100">
              <div class="h-busqueda-especifica-item-info">
                <p>Pizza 4 quesos</p>
                <p>Bs 10.000</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <a href="/pages/carrito" class="h-icono-carrito">
          {% render 'icon-carrito' %}
        </a>
        <hr>
        <!-- ESTADO SIN TIENE METODO ENTREGA -->
        <button
          id="h-boton-cambio-metodo-entrega"
          class="h-sector-seleccion-metodo-entrega"
        >
          <p>Selecciona tu</p>
          <div class="h-texto-metodo-entrega">
            <h4>Método de entrega</h4>
            {% render 'icon-pizza-metodo-entrega' %}
          </div>
        </button>
        <!-- ESTADO CON TIENE METODO ENTREGA -->
        <div class="h-sector-metodo-entrega icon-color-tertiary">
          <div class="h-metodo-domicilio">
            {% render 'icon-recogo-delivery' %}
            <h4>Domicilio</h4>
            {% render 'icon-flecha-abajo' %}
          </div>
          <div class="h-metodo-local">
            {% render 'icon-recogo-local' %}
            <h4>Local</h4>
            {% render 'icon-flecha-abajo' %}
          </div>
        </div>
        <hr>
        <!-- ESTADO USUARIO INICIADO SESION -->
        <section class="h-boton-usuario h-modo-cliente">
          <a href="/pages/iniciar-sesion" class="h-boton-modo-no-cliente">
            <h4>INICIAR SESIÓN</h4>
            {% render 'icon-cuenta-blanco' %}
          </a>
          <button
            id="h-boton-modo-cliente"
            class="h-boton-modo-cliente icon-color-tertiary"
          >
            {% render 'icon-cuenta-blanco' %}
            {% render 'icon-flecha-abajo' %}
          </button>
          <!-- DROPDOWN PARA OPCIONES DEL USUARIO -->
          <section class="h-opciones-usuario">
            <button class="h-opcion-usuario icon-color-tertiary">
              {% render 'icon-cuenta-blanco' %}
              <p>MI PERFIL</p>
            </button>
            <button class="h-opcion-usuario icon-color-tertiary">
              {% render 'icon-contrato' %}
              <p>HISTORIAL DE PEDIDOS</p>
            </button>
            <button class="h-opcion-usuario">
              {% render 'icon-cupon' %}
              <p>CUPONES Y DESCUENTOS</p>
            </button>
            <hr>
            <button class="h-opcion-usuario h-cerrar-sesion icon-color-primary">
              {% render 'icon-iniciar-cerrar' %}
              <p>CERRAR SESIÓN</p>
            </button>
          </section>
        </section>
        <!-- ESTADO USUARIO NO INICIADO SESION -->
      </div>
    </div>

    <!-- MENU DE OPCIONES PARA LOS PRODUCTOS -->
    <div class="h-menu-opciones-productos">
      <div
        id="h-opcion-menu-gaseosas"
        class="h-menu-opciones-productos-item"
      >
        <div class="h-menu-producto-info-imagen">
          <img src="{{ 'menu-img-gaseosas.png' | asset_url }}" alt="Gaseosas y Cervezas" width="100" height="100">
        </div>
        <div class="h-menu-producto-info-nombre">
          <p>Gaseosas y Cervezas</p>
        </div>
      </div>
      <div
        id="h-opcion-menu-gaseosas"
        class="h-menu-opciones-productos-item"
      >
        <div class="h-menu-producto-info-imagen">
          <img src="{{ 'menu-img-gaseosas.png' | asset_url }}" alt="Gaseosas y Cervezas" width="100" height="100">
        </div>
        <div class="h-menu-producto-info-nombre">
          <p>Gaseosas y Cervezas</p>
        </div>
      </div>
      <div
        id="h-opcion-menu-gaseosas"
        class="h-menu-opciones-productos-item"
      >
        <div class="h-menu-producto-info-imagen">
          <img src="{{ 'menu-img-gaseosas.png' | asset_url }}" alt="Gaseosas y Cervezas" width="100" height="100">
        </div>
        <div class="h-menu-producto-info-nombre">
          <p>Gaseosas y Cervezas</p>
        </div>
      </div>
      <div
        id="h-opcion-menu-gaseosas"
        class="h-menu-opciones-productos-item"
      >
        <div class="h-menu-producto-info-imagen">
          <img src="{{ 'menu-img-gaseosas.png' | asset_url }}" alt="Gaseosas y Cervezas" width="100" height="100">
        </div>
        <div class="h-menu-producto-info-nombre">
          <p>Gaseosas y Cervezas</p>
        </div>
      </div>
    </div>
  </header>
</header-principal>

<script>
  class HeaderPrincipal extends HTMLElement {
    constructor() {
      super();
    }
    connectedCallback() {
      this.logoPrincipal = document.querySelectorAll('.h-logo-principal');
      // HEADER MOBILE
      // HEADER DESKTOP
      this.btnMenu = document.querySelector('.h-mostrar-menu-opciones-productos');
      this.contenedorEstadosEntrega = document.querySelector('.h-sector-metodo-entrega');
      this.btnOpcionOnSesion = document.querySelector('#h-boton-modo-cliente');
      this.btnOpcionOffSesion = document.querySelector('.h-boton-modo-no-cliente');
      this.btnSeleccionMetodoEntrega = document.querySelector('#h-boton-cambio-metodo-entrega');
      this.btnDominicilio = document.querySelector('.h-metodo-domicilio');
      this.btnLocal = document.querySelector('.h-metodo-local');
      this.contenedorMenuDesplegable = document.querySelector('.h-menu-opciones-productos');
      this.contenedorResultadoBusqueda = document.querySelector('.h-busqueda-especifica');
      this.inputBusqueda = document.querySelector('#h-input-buscar');
      // TESTEO DE PRUEBA
      this.itemMenuDesplegable = document.querySelectorAll('.h-menu-opciones-productos-item');

      // EVENTOS LISTENER
      this.btnMenu.addEventListener('click', this.mostrarMenuDesplegable.bind(this));
      this.inputBusqueda.addEventListener('keyup', this.accionEnterInput.bind(this));
      this.inputBusqueda.addEventListener('input', this.accionEscribeInput.bind(this));
      document.addEventListener('click', this.detectarClickFueraDelInputBusqueda.bind(this));
      this.logoPrincipal.forEach((logo) => {
        logo.addEventListener('click', () => {
          window.location.href = '/';
        });
      });
      this.itemMenuDesplegable.forEach((item) => {
        item.addEventListener('click', () => {
          window.location.href = '/pages/menu';
          this.contenedorMenuDesplegable.style.display = 'none';
        });
      });

      // INICIALIZACION DE CONTENIDOS
      this.verificarEstadoSesion();
      this.verificarEstadoEntrega();
      this.contenedorMenuDesplegable.style.display = 'none';
      this.contenedorResultadoBusqueda.style.display = 'none';
    }

    verificarEstadoSesion() {
      // Obtener localStorage indentificador sesion
      // telefono cliente - metodo entrega (Official)
      const sesion = localStorage.getItem('telefono-cliente');
      const metodoEntrega = localStorage.getItem('metodo-entrega');

      if (sesion == null) {
        this.btnOpcionOffSesion.style.display = 'flex';
        this.btnOpcionOnSesion.style.display = 'none';
      } else {
        // Si tiene el dato en el localStorage, traer datos de este mismo
        this.btnOpcionOffSesion.style.display = 'none';
        this.btnOpcionOnSesion.style.display = 'flex';
      }
    }

    verificarEstadoEntrega() {
      // Obtener localStorage la seleccion metodo de entrega del usuario
      const metodoEntrega = localStorage.getItem('metodo-entrega');

      // Si el usuario no tiene un metodo de entrega seleccionado,
      // mostrar el boton de (selecciona tu metodo de entrega)
      if (metodoEntrega == null) {
        this.contenedorEstadosEntrega.style.display = 'none';
        this.btnSeleccionMetodoEntrega.style.display = 'flex';
      } else {
        this.btnSeleccionMetodoEntrega.style.display = 'none';
        this.contenedorEstadosEntrega.style.display = 'flex';
        if (metodoEntrega == 'local') {
          this.btnLocal.style.display = 'flex';
          this.btnDominicilio.style.display = 'none';
        }

        if (metodoEntrega == 'dominicilio') {
          this.btnDominicilio.style.display = 'flex';
          this.btnLocal.style.display = 'none';
        }
      }
    }

    mostrarMenuDesplegable() {
      const estaSeleccionado = this.btnMenu.classList.contains('seleccionado');
      if (estaSeleccionado) {
        this.btnMenu.classList.remove('seleccionado');
        this.contenedorMenuDesplegable.style.display = 'none';
      } else {
        this.btnMenu.classList.add('seleccionado');
        this.contenedorMenuDesplegable.style.display = 'flex';
      }
    }

    accionEnterInput(event) {
      // Verificar si la tecla presionada es Enter
      if (event.key === 'Enter') {
        const inputVacio = this.inputBusqueda.value.trim() === '';
        const estaVisible = this.contenedorResultadoBusqueda.style.display == 'flex';

        // Solo redirigir si hay texto en el input
        if (!inputVacio) {
          window.location.href = '/search';
          this.contenedorResultadoBusqueda.style.display = 'none';
        } else if (estaVisible) {
          // Si está vacío pero el contenedor está visible, solo ocultar el contenedor
          this.contenedorResultadoBusqueda.style.display = 'none';
        }
      }
    }

    accionEscribeInput() {
      const inputVacio = this.inputBusqueda.value.trim() === '';
      const estaVisible = this.contenedorResultadoBusqueda.style.display === 'flex';

      if (!inputVacio && !estaVisible) {
        // Solo mostrar si no está vacío y no está visible
        this.contenedorResultadoBusqueda.style.display = 'flex';
      } else if (inputVacio && estaVisible) {
        // Solo ocultar si está vacío y está visible
        this.contenedorResultadoBusqueda.style.display = 'none';
      }
    }

    detectarClickFueraDelInputBusqueda(event) {
      // Verificar si el clic NO fue dentro del input
      if (event.target !== this.inputBusqueda && !this.inputBusqueda.contains(event.target)) {
        // Si el clic fue fuera del input y del contenedor de resultados, ocultar el contenedor
        this.contenedorResultadoBusqueda.style.display = 'none';
        console.log('click fuera del input');
      }
    }
  }

  const botonCambioEntrega = document.querySelector('.h-sector-metodo-entrega');
  const inputBuscar = document.querySelector('#h-input-buscar');
  const botonMobilBuscar = document.querySelector('.h-boton-buscar');
  const botonMetodoEntregaMobil = document.querySelector('.h-boton-cambio-metodo-entrega');
  const botonMenuMobil = document.querySelector('.h-boton-menu');
  const menuOpcionesClienteMobile = document.querySelector('.h-opciones-usuario-mobile');
  const menuOpcionesClienteDesktop = document.querySelector('.h-opciones-usuario');
  menuOpcionesClienteDesktop.style.display = 'none';
  const botonCerrarMenuMobile = document.querySelector('.h-boton-cerrar-menu ');
  const botonMenuOpcionesDesktop = document.querySelector('.h-boton-modo-cliente');

  menuOpcionesClienteMobile.style.display = 'none';

  botonCambioEntrega.addEventListener('click', () => {
    console.log('click');
    window.location.href = '/pages/test-prueba';
  });

  inputBuscar.addEventListener('keyup', (e) => {
    if (e.key === 'Enter') {
      window.location.href = '/search';
    }
  });

  botonMobilBuscar.addEventListener('click', () => {
    window.location.href = '/search';
  });

  botonMetodoEntregaMobil.addEventListener('click', () => {
    window.location.href = '/pages/test-prueba';
  });

  botonMenuMobil.addEventListener('click', () => {
    menuOpcionesClienteMobile.style.display = 'flex';
  });

  botonCerrarMenuMobile.addEventListener('click', () => {
    menuOpcionesClienteMobile.style.display = 'none';
  });

  botonMenuOpcionesDesktop.addEventListener('click', () => {
    if (menuOpcionesClienteDesktop.style.display === 'none') {
      menuOpcionesClienteDesktop.style.display = 'flex';
    } else {
      menuOpcionesClienteDesktop.style.display = 'none';
    }
  });

  customElements.define('header-principal', HeaderPrincipal);
</script>
