<!-- Estilos traer de assets/header.css as -->
{{ 'header.css' | asset_url | stylesheet_tag }}
{{ 'estilos-generales.css' | asset_url | stylesheet_tag }}

<header-principal>
  <header class="container-secundario h-header-principal">
    <!-- HEADER MOBILE -->
    <div class="h-metodo-entrega-seleccionado">
      <div class="h-logo-principal">
        <img src="{{ 'logo-sauce-only-1.png' | asset_url }}" alt="Logo Sauce Only" width="100" height="100">
      </div>
      <a
        href="/pages/metodo-entrega"
        id="h-seleccion-metodo-entrega-mobile"
        class="h-sector-seleccion-metodo-entrega h-metodo-no-seleccionado"
      >
        <p>Selecciona tu</p>
        <div class="h-texto-metodo-entrega">
          <h4>Método de entrega</h4>
          {% render 'icon-pizza-metodo-entrega' %}
        </div>
      </a>
      <div
        id="h-opciones-usuario-mobile"
        class="h-sector-opciones-cliente h-metodo-seleccionado"
      >
        <a
          href="/pages/iniciar-sesion"
          id="h-btn-buscar-mobile"
          class="h-boton-buscar"
        >
          {% render 'icon-search' %}
          <h3>Buscar</h3>
        </a>
        <a
          href="/pages/metodo-entrega"
          id="h-btn-entrega-local-mobile"
          class="h-boton-cambio-metodo-entrega"
        >
          <div class="h-icono-metodo-entrega">
            {% render 'icon-pizza-metodo-entrega' %}
          </div>
          <h3>Local</h3>
          <button class="h-icono-solocitud-metodo-entrega">
            {% render 'icon-flecha-abajo' %}
          </button>
        </a>
        <a
          href="/pages/metodo-entrega"
          id="h-btn-entrega-domicilio-mobile"
          class="h-boton-cambio-metodo-entrega icon-color-tertiary"
        >
          <div class="h-icono-metodo-entrega">
            {% render 'icon-recogo-delivery' %}
          </div>
          <h3>Domicilio</h3>
          <button class="h-icono-solocitud-metodo-entrega">
            {% render 'icon-flecha-abajo' %}
          </button>
        </a>
        <carrito-shopify>
          <a href="/pages/carrito" class="h-icono-carrito">
            {% render 'icon-carrito' %}
            <div class="h-ic-cantidad">
              <p class="hicc-mensaje" id="contador-carrito">0</p>
            </div>
          </a>
        </carrito-shopify>
      </div>
      <button
        id="h-btn-menu-mobile"
        class="h-boton-menu"
      >
        <h3
          style="display: none;"
          id="h-titulo-mobile-menu"
        >
          MENU
        </h3>
        {% render 'icon-hamburguesa' %}
      </button>
      <section
        style="display: none;"
        id="h-menu-inicio-sesion-usuario-mobile"
        class="container-base h-opciones-usuario-mobile"
      >
        <div class="h-opciones-mobile-header">
          <h1>Menú</h1>
          <button
            id="h-boton-cerrar-menu-mobile"
            class="h-boton-cerrar-menu icon-color-tertiary"
          >
            {% render 'icon-close-rojo' %}
          </button>
        </div>
        <!-- INICIADO SESION MENU MOBILE -->
        <div
          style="display: none;"
          id="h-ismm-menu-principal"
          class="h-opciones-mobile-body"
        >
          <button
            id="h-ismm-perfil"
            class="h-opcion-usuario icon-color-tertiary"
          >
            {% render 'icon-cuenta-blanco' %}
            <p>MI PERFIL</p>
          </button>
          <button
            id="h-ismm-historial-pedidos"
            class="h-opcion-usuario icon-color-tertiary"
          >
            {% render 'icon-historial' %}
            <p>HISTORIAL DE PEDIDOS</p>
          </button>
          <button
            id="h-ismm-cupones-descuentos"
            class="h-opcion-usuario icon-color-tertiary"
          >
            {% render 'icon-cupon' %}
            <p>CUPONES Y DESCUENTOS</p>
          </button>
          <button
            id="h-ismm-hutcoins"
            class="h-opcion-usuario icon-color-tertiary"
          >
            {% render 'icon-pizza-metodo-entrega' %}
            <p>HUT COINTS</p>
          </button>
          <a
            id="h-ismm-mis-preferencias"
            class="h-opcion-usuario icon-color-tertiary"
          >
            {% render 'icon-favorito' %}
            <p>MIS PREFERENCIAS</p>
          </a>
          <button
            id="h-ismm-configuracion"
            class="h-opcion-usuario icon-color-tertiary"
          >
            {% render 'icon-configuracion' %}
            <p>CONFIGURACIONES</p>
          </button>
          <hr>
          <button
            id="h-ismm-cerrar-sesion"
            class="h-opcion-usuario icon-color-primary"
          >
            {% render 'icon-iniciar-cerrar' %}
            <p class="color-letras-primary">CERRAR SESION</p>
          </button>
        </div>
        <!-- NO INICIO SESION - MENU MOBILE -->
        <div
          style="display: none;"
          id="h-nismm-menu-principal"
          class="h-opciones-mobile-body"
        >
          <a
            href="/pages/carrito"
            id="h-nism-historial-pedidos"
            class="h-opcion-usuario icon-color-tertiary"
          >
            {% render 'icon-carrito' %}
            <p>CARRITO (2)</p>
          </a>
          <a
            href="/pages/menu"
            class="h-opcion-usuario icon-color-tertiary"
          >
            <p>MENU</p>
          </a>
          <a
            href="https://microsites.spnty.co/pizzahutbolivia/login"
            target="_blank"
            class="h-opcion-usuario icon-color-tertiary"
          >
            <p>HUT COINTS</p>
            {% render 'icon-flecha-hutcoins' %}
          </a>
          <a
            href="/pages/sobre-nosotros"
            class="h-opcion-usuario icon-color-tertiary"
          >
            <p>SOBRE NOSOTROS</p>
          </a>
          <hr>
          <a
            href="/pages/iniciar-sesion"
            id="h-nismm-iniciar-sesion"
            class="h-opcion-usuario icon-color-primary"
          >
            {% render 'icon-iniciar-cerrar' %}
            <p class="color-letras-primary">INICIAR SESION</p>
          </a>
        </div>
      </section>
      <!-- VENTANA DE BUSQUEDA -->
      <div class="h-container-busqueda-mobile">
        <div class="h-busqueda-mobile-header">
          <input type="text" placeholder="Ingresa tu búsqueda">
          <button class="h-boton-cerrar-menu icon-color-tertiary">
            <p>Cancelar</p>
          </button>
        </div>
        <div class="container-base h-busqueda-mobile-body">
          <div class="h-busqueda-especifica-item">
            <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Hamburguesa" width="100" height="100">
            <div class="h-busqueda-especifica-item-info">
              <p>Pizza 4 quesos</p>
              <p class="color-letras-primary">Bs 10.000</p>
            </div>
          </div>
          <div class="h-busqueda-especifica-item">
            <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Hamburguesa" width="100" height="100">
            <div class="h-busqueda-especifica-item-info">
              <p>Pizza 4 quesos</p>
              <p class="color-letras-primary">Bs 10.000</p>
            </div>
          </div>
          <div class="h-busqueda-especifica-item">
            <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Hamburguesa" width="100" height="100">
            <div class="h-busqueda-especifica-item-info">
              <p>Pizza 4 quesos</p>
              <p class="color-letras-primary">Bs 10.000</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- HEADER ENFOCADO TABLET DESKTOPP -->
    <div class="h-enfocado-tablet-desktop">
      <div class="h-logo-principal">
        <img src="{{ 'logo-secondary-2.png' | asset_url }}" alt="Logo Secundario" width="100" height="100">
      </div>
      <nav class="h-nav-principal">
        <a class="h-mostrar-menu-opciones-productos">
          <h4>MENÚ</h4>
          <div class="h-mmop"></div>
        </a>
        <a
          href="https://microsites.spnty.co/pizzahutbolivia/login"
          target="_blank"
          class="h-nav-hutcoins"
        >
          <h4>HUT COINS</h4>
          {% render 'icon-flecha-hutcoins' %}
        </a>
        <a href="/pages/sobre-nosotros">
          <h4>SOBRE NOSOTROS</h4>
        </a>
      </nav>
      <div class="h-sector-opciones-cliente">
        <div class="h-sector-busqueda">
          <!-- CONTENEDOR DE BUSQUEDA -->
          <div
            id="h-container-input-search"
            class="h-input-buscar  icon-size-trabajo"
          >
            {% render 'icon-search' %}
            <input type="text" placeholder="Buscar" id="h-input-buscar" autocomplete="off">
          </div>
          <!-- CONTENEDOR RESULTADOSS DE BUSQUEDA -->
          <div
            style="display: none;"
            class="h-busqueda-especifica"
          >
            <div class="h-busqueda-especifica-item">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Hamburguesa" width="100" height="100">
              <div class="h-busqueda-especifica-item-info">
                <p>Pizza 4 quesos</p>
                <p class="color-letras-primary">Bs 10.000</p>
              </div>
            </div>
            <div class="h-busqueda-especifica-item">
              <img src="{{ 'imagen-pizza-2.png' | asset_url }}" alt="Hamburguesa" width="100" height="100">
              <div class="h-busqueda-especifica-item-info">
                <p>Pizza 4 quesos</p>
                <p>Bs 10.000</p>
              </div>
            </div>
            <div class="h-busqueda-especifica-item">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Hamburguesa" width="100" height="100">
              <div class="h-busqueda-especifica-item-info">
                <p>Pizza 4 quesos</p>
                <p class="color-letras-primary">Bs 10.000</p>
              </div>
            </div>
            <div class="h-busqueda-especifica-item">
              <img src="{{ 'imagen-pizza-2.png' | asset_url }}" alt="Hamburguesa" width="100" height="100">
              <div class="h-busqueda-especifica-item-info">
                <p>Pizza 4 quesos</p>
                <p>Bs 10.000</p>
              </div>
            </div>
            <a href="/search" class="ph-btn-primario">
              <p>Ver todos los resultados</p>
            </a>
          </div>
        </div>
        <hr>
        <carrito-shopify>
          <a href="/pages/carrito" class="h-icono-carrito">
            {% render 'icon-carrito' %}
            <div class="h-ic-cantidad">
              <p class="hicc-mensaje" id="contador-carrito">0</p>
            </div>
          </a>
        </carrito-shopify>
        <hr>
        <!-- ESTADO SIN TIENE METODO ENTREA -->
        <a
          href="/pages/metodo-entrega"
          id="h-boton-cambio-metodo-entrega"
          class="h-sector-seleccion-metodo-entrega"
        >
          <p>Selecciona tu</p>
          <div class="h-texto-metodo-entrega">
            <h4>Método de entrega</h4>
            {% render 'icon-pizza-metodo-entrega' %}
          </div>
        </a>
        <!-- ESTADO CON TIENE METODO ENTREGA -->
        <div class="h-sector-metodo-entrega icon-color-tertiary">
          <div class="h-metodo-domicilio">
            {% render 'icon-recogo-delivery' %}
            <h4>Domicilio</h4>
            {% render 'icon-flecha-abajo' %}
          </div>
          <div class="h-metodo-local">
            {% render 'icon-recogo-local' %}
            <h4>Local</h4>
            {% render 'icon-flecha-abajo' %}
          </div>
        </div>
        <hr>
        <!-- ESTADO USUARIO INICIADO SESION -->
        <section class="h-boton-usuario h-modo-cliente">
          <a href="/pages/iniciar-sesion" class="h-boton-modo-no-cliente">
            <h4>INICIAR SESIÓN</h4>
            {% render 'icon-cuenta-blanco' %}
          </a>
          <button
            id="h-boton-modo-cliente"
            class="h-boton-modo-cliente icon-color-tertiary"
          >
            {% render 'icon-cuenta-blanco' %}
            {% render 'icon-flecha-abajo' %}
          </button>
          <!-- INICIADO SESION DESKTOP -->
          <div
            style="display: none;"
            id="h-ismd-opciones-usuario"
            class="h-opciones-usuario"
          >
            <button
              id="h-ismd-menu"
              class="h-opcion-usuario icon-color-tertiary"
            >
              {% render 'icon-cuenta-blanco' %}
              <p>MI PERFIL</p>
            </button>
            <button
              id="h-ismd-historial-pedidos"
              class="h-opcion-usuario icon-color-tertiary"
            >
              {% render 'icon-historial' %}
              <p>HISTORIAL DE PEDIDOS</p>
            </button>
            <button
              id="h-ismd-cupones-descuentos"
              class="h-opcion-usuario icon-color-tertiary"
            >
              {% render 'icon-cupon' %}
              <p>CUPONES Y DESCUENTOS</p>
            </button>
            <button
              id="h-ismd-hutcoins"
              class="h-opcion-usuario icon-color-tertiary"
            >
              {% render 'icon-pizza-metodo-entrega' %}
              <p>HUT COINTS</p>
            </button>
            <button
              id="h-ismd-mis-preferencias"
              class="h-opcion-usuario icon-color-tertiary"
            >
              {% render 'icon-favorito' %}
              <p>MIS PREFERENCIAS</p>
            </button>
            <button
              id="h-ismd-configuracion"
              class="h-opcion-usuario icon-color-tertiary"
            >
              {% render 'icon-configuracion' %}
              <p>CONFIGURACIONES</p>
            </button>
            <hr>
            <button
              id="h-ismd-cerrar-sesion"
              class="h-opcion-usuario icon-color-primary"
            >
              {% render 'icon-iniciar-cerrar' %}
              <p class="color-letras-primary">CERRAR SESION</p>
            </button>
          </div>
        </section>
        <!-- EESTADO USUARIO NO INICIADO SESION -->
      </div>
    </div>

    <!-- MENU DE OPCIONES PARA LOS PRODUCTOS -->
    <div
      style="left: 100%;"
      id="phh-seccion-opciones"
      class="h-menu-opciones-productos"
    >
      <!-- Estructura modificada con un contenedor relativo -->
      <div class="phh-menu-scroll-container">
        <!-- Botón izquierdo fuera del contenedor de scroll -->
        <button id="phh-btn-izquierda-menu" class="icon-color-tertiary">
          {% render 'icon-volver-atras' %}
        </button>
        <!-- Contenedor de scroll solo para las opciones -->
        <div id="phh-opciones-menu"></div>
        <!-- Botón derecho fuera del contenedor de scroll -->
        <button id="phh-btn-derecha-menu" class="icon-color-tertiary">
          {% render 'icon-flecha-derecha' %}
        </button>
      </div>
    </div>
  </header>
</header-principal>
