<!-- Hoja de estilos Css -->
{{ 'productos-index.css' | asset_url | stylesheet_tag }}
{{ 'estilos-generales.css' | asset_url | stylesheet_tag }}

{% style %}
  .phpi-general-mobile {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-xl);
  }

  .phpi-control-desktop {
    /* display: none; */
  }

  .container-productos-general {
    width: 100%;
    height: max-content;
  }

  /* PRODUCTO ESPECIAL */
  .phpi-producto-especial {
    width: 100%;
    height: max-content;
  }

  @media (min-width: 768px) {
    .phpi-general-mobile {
      /* display: none; */
    }

    .phpi-control-desktop {
      display: grid;
    }
  }
{% endstyle %}

<productos-index>
  <div class="pi-base container-base">
    <section class="pi-titulo">
      <small class="pi-titulo-1">tu pizza favorita</small>
      <small class="pi-titulo-2">¡Te espera!</small>
    </section>
    <section class="phpi-general-productos">
      <!-- APARTADO DESKTOP -->
      <div
        style="display: none; !important;"
        class="phpi-general-mobile"
      >
        <div id="phpi-sector1-mobile" class="container-productos-general">
          <div class="producto-item">
            <div class="producto-item-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div
              tipo-producto="simple"
              class="producto-item-detalle"
            >
              <div class="producto-item-info">
                <h3>CHESSY LOVERS</h3>
                <p>
                  Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                  tocino.
                </p>
              </div>
              <h3 class="color-letras-primary">12.56 BS</h3>
              <div
                id="phpi-general-variantes"
                tipo-producto="simple"
                class="seleccion-variante-producto-general"
              >
                <p>Tamaño</p>
                <button id="phpi-view-variantes" class="container-info-variante">
                  <p id="phpi-variante-seleccionado">Personal</p>
                  <div class="icono-dropdown-variantes icon-color-tertiary">
                    {% render 'icon-flecha-abajo' %}
                  </div>
                </button>
                <div id="phpi-items-variantes" class="variantes-producto">
                  <div class="variante-producto-item">
                    <p>Personal</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-item">
                    <p>Super Pers.</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-item">
                    <p>Mediana</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-item">
                    <p>Familiar</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                </div>
              </div>
              <button id="phpi-btn-personalizar" class="ph-btn-general   phpi-btn-personalizar">
                <p class="color-letras-secondary">PERSONALIZAR</p>
              </button>
            </div>
          </div>
          <div class="producto-item">
            <div class="producto-item-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div
              tipo-producto="simple"
              class="producto-item-detalle"
            >
              <div class="producto-item-info">
                <h3>CHESSY LOVERS</h3>
                <p>
                  Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                  tocino.
                </p>
              </div>
              <h3 class="color-letras-primary">12.56 BS</h3>
              <div
                id="phpi-general-variantes"
                tipo-producto="simple"
                class="seleccion-variante-producto-general"
              >
                <p>Tamaño</p>
                <button id="phpi-view-variantes" class="container-info-variante">
                  <p id="phpi-variante-seleccionado">Personal</p>
                  <div class="icono-dropdown-variantes icon-color-tertiary">
                    {% render 'icon-flecha-abajo' %}
                  </div>
                </button>
                <div id="phpi-items-variantes" class="variantes-producto">
                  <div class="variante-producto-item">
                    <p>Personal</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-item">
                    <p>Super Pers.</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-item">
                    <p>Mediana</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-item">
                    <p>Familiar</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                </div>
              </div>
              <button id="phpi-btn-personalizar" class="ph-btn-general   phpi-btn-personalizar">
                <p class="color-letras-secondary">PERSONALIZAR</p>
              </button>
            </div>
          </div>
        </div>
        <div class="phpi-sector2-mobile" class="phpi-producto-especial">
          <div class="producto-item">
            <div class="producto-item-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div
              tipo-producto="simple"
              class="producto-item-detalle"
            >
              <div class="producto-item-info">
                <h3>CHESSY LOVERS</h3>
                <p>
                  Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                  tocino.
                </p>
              </div>
              <h3 class="color-letras-primary">12.56 BS</h3>
              <div
                id="phpi-general-variantes"
                tipo-producto="simple"
                class="seleccion-variante-producto-general"
              >
                <p>Tamaño</p>
                <button id="phpi-view-variantes" class="container-info-variante">
                  <p id="phpi-variante-seleccionado">Personal</p>
                  <div class="icono-dropdown-variantes icon-color-tertiary">
                    {% render 'icon-flecha-abajo' %}
                  </div>
                </button>
                <div id="phpi-items-variantes" class="variantes-producto">
                  <div class="variante-producto-item">
                    <p>Personal</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-item">
                    <p>Super Pers.</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-item">
                    <p>Mediana</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-item">
                    <p>Familiar</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                </div>
              </div>
              <button id="phpi-btn-personalizar" class="ph-btn-general   phpi-btn-personalizar">
                <p class="color-letras-secondary">PERSONALIZAR</p>
              </button>
            </div>
          </div>
        </div>
        <div id="phpi-sector3-mobile" class="container-productos-general">
          <div class="producto-item">
            <div class="producto-item-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div
              tipo-producto="simple"
              class="producto-item-detalle"
            >
              <div class="producto-item-info">
                <h3>CHESSY LOVERS</h3>
                <p>
                  Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                  tocino.
                </p>
              </div>
              <h3 class="color-letras-primary">12.56 BS</h3>
              <div
                id="phpi-general-variantes"
                tipo-producto="simple"
                class="seleccion-variante-producto-general"
              >
                <p>Tamaño</p>
                <button id="phpi-view-variantes" class="container-info-variante">
                  <p id="phpi-variante-seleccionado">Personal</p>
                  <div class="icono-dropdown-variantes icon-color-tertiary">
                    {% render 'icon-flecha-abajo' %}
                  </div>
                </button>
                <div id="phpi-items-variantes" class="variantes-producto">
                  <div class="variante-producto-item">
                    <p>Personal</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-item">
                    <p>Super Pers.</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-item">
                    <p>Mediana</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-item">
                    <p>Familiar</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                </div>
              </div>
              <button id="phpi-btn-personalizar" class="ph-btn-general   phpi-btn-personalizar">
                <p class="color-letras-secondary">PERSONALIZAR</p>
              </button>
            </div>
          </div>
          <div class="producto-item">
            <div class="producto-item-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div
              tipo-producto="simple"
              class="producto-item-detalle"
            >
              <div class="producto-item-info">
                <h3>CHESSY LOVERS</h3>
                <p>
                  Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                  tocino.
                </p>
              </div>
              <h3 class="color-letras-primary">12.56 BS</h3>
              <div
                id="phpi-general-variantes"
                tipo-producto="simple"
                class="seleccion-variante-producto-general"
              >
                <p>Tamaño</p>
                <button id="phpi-view-variantes" class="container-info-variante">
                  <p id="phpi-variante-seleccionado">Personal</p>
                  <div class="icono-dropdown-variantes icon-color-tertiary">
                    {% render 'icon-flecha-abajo' %}
                  </div>
                </button>
                <div id="phpi-items-variantes" class="variantes-producto">
                  <div class="variante-producto-item">
                    <p>Personal</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-item">
                    <p>Super Pers.</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-item">
                    <p>Mediana</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-item">
                    <p>Familiar</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                </div>
              </div>
              <button id="phpi-btn-personalizar" class="ph-btn-general   phpi-btn-personalizar">
                <p class="color-letras-secondary">PERSONALIZAR</p>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- APARTADO MOBIL -->
      <div
        id="phpi-contenedor-productos-muestra"
        class="container-productos-general phpi-control-desktop"
      ></div>
    </section>
  </div>
</productos-index>

{% schema %}
{
  "name": "Productos Principales",
  "tag": "section",
  "class": "productos-index",
  "settings": [],
  "blocks": []
}
{% endschema %}
