<section class="spromo-container-base container-base">
  <div class="spromo-header">
    <h1>Acompaña tu pedido con...</h1>
  </div>
  <div class="spromo-body">
    <div class="spromo-promociones-1 container-productos-general">
      <div class="product-item">
        <div class="product-item-imagen">
          <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
        </div>
        <div class="product-item-info">
          <h3>CHESSY LOVERS</h3>
        </div>
        <h3 class="color-letras-primary">12.56 BS</h3>
        <button class="boton-personalizar-producto icon-color-secondary">
          <p class="color-letras-secondary">Personalizar</p>
          {% render 'icon-carrito' %}
        </button>
      </div>
      <div class="product-item">
        <div class="product-item-imagen">
          <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
        </div>
        <div class="product-item-info">
          <h3>CHESSY LOVERS</h3>
        </div>
        <h3 class="color-letras-primary">12.56 BS</h3>
        <button class="boton-personalizar-producto icon-color-secondary">
          <p class="color-letras-secondary">Personalizar</p>
          {% render 'icon-carrito' %}
        </button>
      </div>
      <div class="product-item">
        <div class="product-item-imagen">
          <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
        </div>
        <div class="product-item-info">
          <h3>CHESSY LOVERS</h3>
        </div>
        <h3 class="color-letras-primary">12.56 BS</h3>
        <button class="boton-personalizar-producto icon-color-secondary">
          <p class="color-letras-secondary">Personalizar</p>
          {% render 'icon-carrito' %}
        </button>
      </div>
      <div class="product-item">
        <div class="product-item-imagen">
          <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
        </div>
        <div class="product-item-info">
          <h3>CHESSY LOVERS</h3>
        </div>
        <h3 class="color-letras-primary">12.56 BS</h3>
        <button class="boton-personalizar-producto icon-color-secondary">
          <p class="color-letras-secondary">Personalizar</p>
          {% render 'icon-carrito' %}
        </button>
      </div>
    </div>
    <div class="spromo-promociones-2 container-productos-general">
      <div class="product-item">
        <div class="product-item-imagen">
          <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
        </div>
        <div class="product-item-info">
          <h3>CHESSY LOVERS</h3>
        </div>
        <h3 class="color-letras-primary">12.56 BS</h3>
        <button class="boton-personalizar-producto icon-color-secondary">
          <p class="color-letras-secondary">Personalizar</p>
          {% render 'icon-carrito' %}
        </button>
      </div>
      <div class="product-item">
        <div class="product-item-imagen">
          <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
        </div>
        <div class="product-item-info">
          <h3>CHESSY LOVERS</h3>
        </div>
        <h3 class="color-letras-primary">12.56 BS</h3>
        <button class="boton-personalizar-producto icon-color-secondary">
          <p class="color-letras-secondary">Personalizar</p>
          {% render 'icon-carrito' %}
        </button>
      </div>
      <div class="product-item">
        <div class="product-item-imagen">
          <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
        </div>
        <div class="product-item-info">
          <h3>CHESSY LOVERS</h3>
        </div>
        <h3 class="color-letras-primary">12.56 BS</h3>
        <button class="boton-personalizar-producto icon-color-secondary">
          <p class="color-letras-secondary">Personalizar</p>
          {% render 'icon-carrito' %}
        </button>
      </div>
      <div class="product-item">
        <div class="product-item-imagen">
          <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
        </div>
        <div class="product-item-info">
          <h3>CHESSY LOVERS</h3>
        </div>
        <h3 class="color-letras-primary">12.56 BS</h3>
        <button class="boton-personalizar-producto icon-color-secondary">
          <p class="color-letras-secondary">Personalizar</p>
          {% render 'icon-carrito' %}
        </button>
      </div>
    </div>
  </div>
</section>

{% style %}
  .spromo-container-base {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--espaciado-xxl);
    padding: var(--espaciado-xxl) 0;
  }

  .spromo-header {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: var(--espaciado-xxl);
  }
{% endstyle %}

{% schema %}
{
  "name": "Promociones de búsqueda",
  "tag": "section",
  "class": "search-promociones",
  "settings": [],
  "blocks": []
}
{% endschema %}
