<!-- Hoja de estilos css -->
{{ 'page.producto.css' | asset_url | stylesheet_tag }}

<div class="container-base pmph-container">
  <div class="pmph-imagen compleja">
    <!-- IMAGE PRODUCTO SIMPLE -->
    <img class="phmp-img-simple" src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
    <!-- IMAGE PRODUCTO COMPLEJO -->
    <div class="phmp-img-compleja">
      <!-- BORDE DE PIZZA -->
      <img
        class="phmp-borde-pizza-img"
        src="{{ 'pizza-borde.png' | asset_url }}"
        alt="Pizza 1"
        width="100%"
        height="100%"
      >
      <!-- SEPARADOS DE MITAD DE PIZZA -->
      <img
        class="phmp-separador-pizza-img"
        src="{{ 'separador-mitad-pizza.png' | asset_url }}"
        alt="Pizza 1"
        width="100%"
        height="100%"
      >
      <!-- SECCION BOTONES PARA TIPO DE MITADD -->
      <div class="phmp-detalle-imagen-compleja-botones">
        <button class="phmp-pizza-seleccion-mitad seleccionado">
          <p>LADO IZQUIERDO</p>
          {% render 'icon-estado-on' %}
        </button>
        <button class="phmp-pizza-lado-derecho">
          <p>LADO DERECHO</p>
          {% render 'icon-flecha-derecha' %}
        </button>
      </div>
      <!-- SECCION MITADES DE PIZZA -->
      <div class="phmp-imagenes-mitades">
        <div class="phmp-mitad-izquierda">
          <img src="{{ 'imagen-mitad-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
        </div>
        <div class="phmp-mitad-derecha"></div>
      </div>
    </div>
  </div>
  <div class="pmph-detalle-producto">
    <div class="pmph-header">
      <button class="pmph-volver-atras icon-color-primary ">
        {% render 'icon-volver-atras' %}
        <p class="color-letras-primary">Volver</p>
      </button>
      <small>Choclo y Tocino</small>
      <p>Salsa de tomate, queso mozarella, Choclo y tocino</p>
    </div>
    <div class="pmph-seleccion">
      <div class="pmph-seleccion-normal pmph-cantidad">
        <h3>Cantidad</h3>
        <div class="pmph-cantidad-selector">
          <button class="pmph-cantidad-selector-button icon-color-tertiary">
            {% render 'icon-menos' %}
          </button>
          <p>0</p>
          <button class="pmph-cantidad-selector-button icon-color-tertiary">
            {% render 'icon-mas' %}
          </button>
        </div>
      </div>
      <div id="pmph-seleccion-n1" class="pmph-seleccion-normal ">
        <h3>Tamaño</h3>
        <div class="pmp-item-simple">
          <div class="pmp-item-simple-info">
            <h3>Personal</h3>
            <p>para 1 persona</p>
          </div>
          <div class="pmp-item-simple-escoger">
            {% render 'icon-estado-off' %}
          </div>
        </div>
        <div class="pmp-item-simple seleccionado">
          <div class="pmp-item-simple-info seleccionado">
            <h3>Mediana</h3>
            <p>para 3 personas + Bs. 18</p>
          </div>
          <div class="pmp-item-simple-escoger">
            {% render 'icon-estado-on-plus' %}
          </div>
        </div>
        <div class="pmp-item-simple">
          <div class="pmp-item-simple-info">
            <h3>Grande</h3>
            <p>para 4 personas + Bs. 61</p>
          </div>
          <div class="pmp-item-simple-escoger">
            {% render 'icon-estado-off' %}
          </div>
        </div>
        <div class="pmp-item-simple seleccionado">
          <div class="pmp-item-simple-info seleccionado">
            <h3>Familiar</h3>
            <p>para 5 personas + Bs. 87</p>
          </div>
          <div class="pmp-item-simple-escoger">
            {% render 'icon-estado-on-plus' %}
          </div>
        </div>
      </div>
      <div id="pmph-seleccion-n2" class="pmph-seleccion-especial ">
        <h3>Masa y Borde</h3>
        <div class="pmp-item-complejo">
          <div class="pmp-item-complejo-imagen">
            <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
          </div>
          <div class="pmp-item-complejo-info">
            <p>PAN PIZZA</p>
            <div class="pmp-item-container-n2-escoger">
              {% render 'icon-estado-off' %}
            </div>
          </div>
        </div>
        <div class="pmp-item-complejo seleccionado">
          <div class="pmp-item-complejo-imagen seleccionado">
            <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
          </div>
          <div class="pmp-item-complejo-info seleccionado">
            <p>CRISPY: DELGADA Y CRUJIENTE</p>
            <div class="pmp-item-container-n2-escoger">
              {% render 'icon-estado-on-plus' %}
            </div>
          </div>
        </div>
        <div class="pmp-item-complejo">
          <div class="pmp-item-complejo-imagen">
            <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
          </div>
          <div class="pmp-item-complejo-info">
            <p>PAN PIZZA</p>
            <div class="pmp-item-container-n2-escoger">
              {% render 'icon-estado-off' %}
            </div>
          </div>
        </div>
        <div class="pmp-item-complejo seleccionado">
          <div class="pmp-item-complejo-imagen seleccionado">
            <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
          </div>
          <div class="pmp-item-complejo-info seleccionado">
            <p>PAN PIZZA</p>
            <div class="pmp-item-container-n2-escoger">
              {% render 'icon-estado-on-plus' %}
            </div>
          </div>
        </div>
      </div>
      <div id="pmph-seleccion-n3" class="pmph-seleccion-especial">
        <h3>Extras</h3>
        <div class="pmp-item-complejo ">
          <div class="pmp-item-complejo-imagen ">
            <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
          </div>
          <div class="pmp-item-complejo-info">
            <div class="pmp-item-complejo-info-detalle ">
              <p>Piña</p>
              <p>+Bs 7</p>
            </div>
            <div class="pmp-item-container-n2-escoger">
              {% render 'icon-checkbox-off' %}
            </div>
          </div>
        </div>
        <div class="pmp-item-complejo seleccionado">
          <div class="pmp-item-complejo-imagen seleccionado">
            <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
          </div>
          <div class="pmp-item-complejo-info">
            <div class="pmp-item-complejo-info-detalle seleccionado">
              <p>Salsa de Tomate</p>
              <p>+Bs 7</p>
            </div>
            <div class="pmp-item-container-n2-escoger">
              {% render 'icon-checkbox-on' %}
            </div>
          </div>
        </div>
        <div class="pmp-item-complejo ">
          <div class="pmp-item-complejo-imagen ">
            <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
          </div>
          <div class="pmp-item-complejo-info">
            <div class="pmp-item-complejo-info-detalle ">
              <p>Pepperoni</p>
              <p>+Bs 7</p>
            </div>
            <div class="pmp-item-container-n2-escoger">
              {% render 'icon-checkbox-off' %}
            </div>
          </div>
        </div>
        <div class="pmp-item-complejo seleccionado">
          <div class="pmp-item-complejo-imagen seleccionado">
            <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
          </div>
          <div class="pmp-item-complejo-info">
            <div class="pmp-item-complejo-info-detalle seleccionado">
              <p>Aceitunas</p>
              <p>+Bs 7</p>
            </div>
            <div class="pmp-item-container-n2-escoger">
              {% render 'icon-checkbox-on' %}
            </div>
          </div>
        </div>
        <div class="pmp-item-simple-escoger"></div>
      </div>
      <div id="pmph-seleccion-extras-n1" class="pmph-seleccion-normal">
        <div class="pmph-extras-header">
          <h3>Extras</h3>
        </div>
        <!-- CUANDO NO HAY SELECCIONADO UN EXTRA -->
        <div class="pmph-extras">
          <p>SELECcIONAR POSTRE</p>
          <button class="pmph-extras-button icon-color-primary">
            {% render 'icon-flecha-izquierda' %}
          </button>
        </div>
      </div>
      <div id="pmph-seleccion-extras-n2" class="pmph-seleccion-normal">
        <div class="pmph-extras-header">
          <h3>Gaseosas y cervezas</h3>
          <button class="pmph-extras-button icon-color-primary">
            {% render 'icon-mas' %}
            <p>Añadir</p>
          </button>
        </div>
        <!-- CUANDO HAY SELECCIONADO UN EXTRA -->
        <div class="pmp-items-extras-seleccionados">
          <div class="pmp-item-extra-seleccionado">
            <div class="pmp-item-extra-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div class="pmp-item-extra-info">
              <div class="pmp-item-extra-detalle">
                <p>x1</p>
                <p>Sprite 2lt</p>
                <p>22 Bs</p>
              </div>
              <button class="pmp-item-extra-delete icon-color-primary">
                {% render 'icon-basura' %}
              </button>
            </div>
          </div>
          <div class="pmp-item-extra-seleccionado">
            <div class="pmp-item-extra-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div class="pmp-item-extra-info">
              <div class="pmp-item-extra-detalle">
                <p>x1</p>
                <p>Sprite 2lt</p>
                <p>22 Bs</p>
              </div>
              <button class="pmp-item-extra-delete icon-color-primary">
                {% render 'icon-basura' %}
              </button>
            </div>
          </div>
          <div class="pmp-item-extra-seleccionado">
            <div class="pmp-item-extra-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div class="pmp-item-extra-info">
              <div class="pmp-item-extra-detalle">
                <p>x1</p>
                <p>Sprite 2lt</p>
                <p>22 Bs</p>
              </div>
              <button class="pmp-item-extra-delete icon-color-primary">
                {% render 'icon-basura' %}
              </button>
            </div>
          </div>
        </div>
      </div>
      <button class="pmph-pagar ">
        <p>49BS PAGAR</p>
        {% render 'icon-tarjeta-credito' %}
      </button>
    </div>
  </div>
  <!-- MODAL INFORMACION EXTRA -->
  <div class="pmph-modal-general">
    <div class="pmph-modal-informacion-extras">
      <div class="ppme-modal-informacion-extras-body">
        <small>POSTRES</small>
        <div class="ppme-modal-items-extras">
          <div class="ppme-modal-item-extra">
            <div class="ppme-modal-item-extra-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div class="ppme-modal-item-extra-info">
              <div class="ppme-modal-item-extra-info-detalle">
                <p>Pan de Pizza</p>
                <p>10 Bs</p>
              </div>
              <div class="ppme-modal-item-extra-cantidad">
                <button class="ppme-modal-item-extra-cantidad-button icon-color-tertiary">
                  {% render 'icon-menos' %}
                </button>
                <p>0</p>
                <button class="ppme-modal-item-extra-cantidad-button icon-color-tertiary">
                  {% render 'icon-mas' %}
                </button>
              </div>
            </div>
          </div>
          <div class="ppme-modal-item-extra">
            <div class="ppme-modal-item-extra-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div class="ppme-modal-item-extra-info">
              <div class="ppme-modal-item-extra-info-detalle">
                <p>Pan de Pizza</p>
                <p>10 Bs</p>
              </div>
              <div class="ppme-modal-item-extra-cantidad">
                <button class="ppme-modal-item-extra-cantidad-button icon-color-tertiary">
                  {% render 'icon-menos' %}
                </button>
                <p>0</p>
                <button class="ppme-modal-item-extra-cantidad-button icon-color-tertiary">
                  {% render 'icon-mas' %}
                </button>
              </div>
            </div>
          </div>
          <div class="ppme-modal-item-extra">
            <div class="ppme-modal-item-extra-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div class="ppme-modal-item-extra-info">
              <div class="ppme-modal-item-extra-info-detalle">
                <p>Pan de Pizza</p>
                <p>10 Bs</p>
              </div>
              <div class="ppme-modal-item-extra-cantidad">
                <button class="ppme-modal-item-extra-cantidad-button icon-color-tertiary">
                  {% render 'icon-menos' %}
                </button>
                <p>0</p>
                <button class="ppme-modal-item-extra-cantidad-button icon-color-tertiary">
                  {% render 'icon-mas' %}
                </button>
              </div>
            </div>
          </div>
          <div class="ppme-modal-item-extra">
            <div class="ppme-modal-item-extra-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div class="ppme-modal-item-extra-info">
              <div class="ppme-modal-item-extra-info-detalle">
                <p>Pan de Pizza</p>
                <p>10 Bs</p>
              </div>
              <div class="ppme-modal-item-extra-cantidad">
                <button class="ppme-modal-item-extra-cantidad-button icon-color-tertiary">
                  {% render 'icon-menos' %}
                </button>
                <p>0</p>
                <button class="ppme-modal-item-extra-cantidad-button icon-color-tertiary">
                  {% render 'icon-mas' %}
                </button>
              </div>
            </div>
          </div>
          <div class="ppme-modal-item-extra">
            <div class="ppme-modal-item-extra-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div class="ppme-modal-item-extra-info">
              <div class="ppme-modal-item-extra-info-detalle">
                <p>Pan de Pizza</p>
                <p>10 Bs</p>
              </div>
              <div class="ppme-modal-item-extra-cantidad">
                <button class="ppme-modal-item-extra-cantidad-button icon-color-tertiary">
                  {% render 'icon-menos' %}
                </button>
                <p>0</p>
                <button class="ppme-modal-item-extra-cantidad-button icon-color-tertiary">
                  {% render 'icon-mas' %}
                </button>
              </div>
            </div>
          </div>
          <div class="ppme-modal-item-extra">
            <div class="ppme-modal-item-extra-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div class="ppme-modal-item-extra-info">
              <div class="ppme-modal-item-extra-info-detalle">
                <p>Pan de Pizza</p>
                <p>10 Bs</p>
              </div>
              <div class="ppme-modal-item-extra-cantidad">
                <button class="ppme-modal-item-extra-cantidad-button icon-color-tertiary">
                  {% render 'icon-menos' %}
                </button>
                <p>0</p>
                <button class="ppme-modal-item-extra-cantidad-button icon-color-tertiary">
                  {% render 'icon-mas' %}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ppme-modal-informacion-extras-footer">
        <button class="ppme-modal-boton-guardar">
          <p class="color-letras-secondary">Guardar</p>
        </button>
        <button class="ppme-modal-boton-salir">
          <p class="color-letras-primary">Salir</p>
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  const modalInformacionExtras = document.querySelector('.pmph-modal-general');
  const botonSalir = document.querySelector('.ppme-modal-boton-salir');
  const botonGuardar = document.querySelector('.ppme-modal-boton-guardar');
  const anadirExtra = document.querySelector('.pmph-extras-button');
  const volverAtras = document.querySelector('.pmph-volver-atras');

  anadirExtra.addEventListener('click', () => {
    modalInformacionExtras.style.display = 'flex';
    console.log('click');
  });

  botonGuardar.addEventListener('click', () => {
    modalInformacionExtras.style.display = 'none';
  });

  botonSalir.addEventListener('click', () => {
    modalInformacionExtras.style.display = 'none';
    console.log('click');
  });

  volverAtras.addEventListener('click', () => {
    window.history.back();
  });
</script>
