<!-- HOJA DE ESTILOS CSS -->
{{ 'estilos-generales.css' | asset_url | stylesheet_tag }}
{{ 'page-menu.css' | asset_url | stylesheet_tag }}
<!-- HOJA DE JS -->
{% comment %} <script src="{{ 'auxiliares-global.js' | asset_url }}" defer></script> {% endcomment %}

<page-menu-productos>
  <section
    id="phpm-seccion-general-page"
    class="page-menu-container"
  >
    <div class="page-menu-header">
      <small class="page-menu-titulo-desktop">Menu</small>
      <!-- Estructura modificada con un contenedor relativo -->
      <div class="menu-scroll-container">
        <!-- Botón izquierdo fuera del contenedor de scroll -->
        <button id="phpm-btn-izquierda-menu" class="icon-color-tertiary">
          {% render 'icon-volver-atras' %}
        </button>
        <!-- Contenedor de scroll solo para las opciones -->
        <div class="phpm-items-menu container-base"></div>
        <!-- Botón derecho fuera del contenedor de scroll -->
        <button id="phpm-btn-derecha-menu" class="icon-color-tertiary">
          {% render 'icon-flecha-derecha' %}
        </button>
      </div>
    </div>
    <!-- PRODUCTOS TODO = OFERTAS -->
    {% comment %}
      <section
        style="display: none;"
        id="phpm-seccion-todo"
        class="page-menu-container"
      >
        <div class="phpm-titulo-primario">
          <small>OFERTAS</small>
        </div>
        <div class="phpm-seccion">
          <div class="phpm-items container-base">
            <div class="producto-es-item">
              <div class="producto-es-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-es-item-detalle"
              >
                <div class="producto-es-item-info">
                  <h3>COMBO LA INCONDICIONAL + GASEOSA SIN AZUCAR 2LT</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <button id="phpm-btn-agregar" class="ph-btn-general  icon-color-secondary">
                  {% render 'icon-carrito' %}
                  <p class="color-letras-secondary">AGREGAR</p>
                </button>
              </div>
            </div>
            <div class="producto-es-item">
              <div class="producto-es-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-es-item-detalle"
              >
                <div class="producto-es-item-info">
                  <h3>COMBO LA INCONDICIONAL + GASEOSA SIN AZUCAR 2LT</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <button id="phpm-btn-agregar" class="ph-btn-general  icon-color-secondary">
                  {% render 'icon-carrito' %}
                  <p class="color-letras-secondary">AGREGAR</p>
                </button>
              </div>
            </div>
            <div class="producto-es-item">
              <div class="producto-es-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-es-item-detalle"
              >
                <div class="producto-es-item-info">
                  <h3>COMBO LA INCONDICIONAL + GASEOSA SIN AZUCAR 2LT</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <button id="phpm-btn-agregar" class="ph-btn-general  icon-color-secondary">
                  {% render 'icon-carrito' %}
                  <p class="color-letras-secondary">AGREGAR</p>
                </button>
              </div>
            </div>
            <div class="producto-es-item">
              <div class="producto-es-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-es-item-detalle"
              >
                <div class="producto-es-item-info">
                  <h3>COMBO LA INCONDICIONAL + GASEOSA SIN AZUCAR 2LT</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <button id="phpm-btn-agregar" class="ph-btn-general  icon-color-secondary">
                  {% render 'icon-carrito' %}
                  <p class="color-letras-secondary">AGREGAR</p>
                </button>
              </div>
            </div>
            {% comment %}
              <div class="producto-es-item">
                <div class="producto-es-item-imagen">
                  <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
                </div>
                <div
                  tipo-producto="simple"
                  class="producto-es-item-detalle"
                >
                  <div class="producto-es-item-info">
                    <h3>CHESSY LOVERS</h3>
                    <p>
                      Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                      tocino.
                    </p>
                  </div>
                  <h3 class="color-letras-primary">12.56 BS</h3>
                  <button id="phpm-btn-agregar" class="ph-btn-general  icon-color-secondary">
                    {% render 'icon-carrito' %}
                    <p class="color-letras-secondary">AGREGAR</p>
                  </button>
                </div>
              </div>
              <div class="producto-es-item">
                <div class="producto-es-item-imagen">
                  <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
                </div>
                <div
                  tipo-producto="simple"
                  class="producto-es-item-detalle"
                >
                  <div class="producto-es-item-info">
                    <h3>CHESSY LOVERS</h3>
                    <p>
                      Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                      tocino.
                    </p>
                  </div>
                  <h3 class="color-letras-primary">12.56 BS</h3>
                  <button id="phpm-btn-agregar" class="ph-btn-general  icon-color-secondary">
                    {% render 'icon-carrito' %}
                    <p class="color-letras-secondary">AGREGAR</p>
                  </button>
                </div>
              </div>
              <div class="producto-es-item">
                <div class="producto-es-item-imagen">
                  <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
                </div>
                <div
                  tipo-producto="simple"
                  class="producto-es-item-detalle"
                >
                  <div class="producto-es-item-info">
                    <h3>CHESSY LOVERS</h3>
                    <p>
                      Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                      tocino.
                    </p>
                  </div>
                  <h3 class="color-letras-primary">12.56 BS</h3>
                  <button id="phpm-btn-agregar" class="ph-btn-general  icon-color-secondary">
                    {% render 'icon-carrito' %}
                    <p class="color-letras-secondary">AGREGAR</p>
                  </button>
                </div>
              </div>
            {% endcomment %}
          </div>
        </div>
        <div class="phpm-titulo-primario">
          <small>PIZZAS</small>
        </div>
        <div class="phpm-seccion">
          <div class="phpm-items container-base">
            <div class="producto-es-item">
              <div class="producto-es-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-es-item-detalle"
              >
                <div class="producto-es-item-info">
                  <h3>CHESSY LOVERS</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <div
                  id="phpm-general-variantes"
                  tipo-producto="simple"
                  class="phpg-svpg-pcl seleccion-variante-producto-general"
                >
                  <p>Tamaño</p>
                  <button id="phpm-view-variantes" class="container-info-variante">
                    <p id="phpm-variante-seleccionado">Personal</p>
                    <div class="icono-dropdown-variantes icon-color-tertiary">
                      {% render 'icon-flecha-abajo' %}
                    </div>
                  </button>
                  <div id="phpm-items-variantes" class="variantes-producto">
                    <div class="variante-producto-item">
                      <p>Personal</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Super Pers.</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Mediana</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Familiar</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                  </div>
                </div>
                <button id="phpm-btn-personalizar" class="ph-btn-general   phpm-btn-personalizar ">
                  <p class="color-letras-secondary">PERSONALIZAR</p>
                </button>
              </div>
            </div>
            <div class="producto-es-item">
              <div class="producto-es-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-es-item-detalle"
              >
                <div class="producto-es-item-info">
                  <h3>CHESSY LOVERS</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <div
                  id="phpm-general-variantes"
                  tipo-producto="simple"
                  class="phpg-svpg-pcl seleccion-variante-producto-general"
                >
                  <p>Tamaño</p>
                  <button id="phpm-view-variantes" class="container-info-variante">
                    <p id="phpm-variante-seleccionado">Personal</p>
                    <div class="icono-dropdown-variantes icon-color-tertiary">
                      {% render 'icon-flecha-abajo' %}
                    </div>
                  </button>
                  <div id="phpm-items-variantes" class="variantes-producto">
                    <div class="variante-producto-item">
                      <p>Personal</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Super Pers.</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Mediana</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Familiar</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                  </div>
                </div>
                <button id="phpm-btn-personalizar" class="ph-btn-general   phpm-btn-personalizar ">
                  <p class="color-letras-secondary">PERSONALIZAR</p>
                </button>
              </div>
            </div>
            <div class="producto-es-item">
              <div class="producto-es-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-es-item-detalle"
              >
                <div class="producto-es-item-info">
                  <h3>CHESSY LOVERS</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <div
                  id="phpm-general-variantes"
                  tipo-producto="simple"
                  class="phpg-svpg-pcl seleccion-variante-producto-general"
                >
                  <p>Tamaño</p>
                  <button id="phpm-view-variantes" class="container-info-variante">
                    <p id="phpm-variante-seleccionado">Personal</p>
                    <div class="icono-dropdown-variantes icon-color-tertiary">
                      {% render 'icon-flecha-abajo' %}
                    </div>
                  </button>
                  <div id="phpm-items-variantes" class="variantes-producto">
                    <div class="variante-producto-item">
                      <p>Personal</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Super Pers.</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Mediana</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Familiar</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                  </div>
                </div>
                <button id="phpm-btn-personalizar" class="ph-btn-general   phpm-btn-personalizar ">
                  <p class="color-letras-secondary">PERSONALIZAR</p>
                </button>
              </div>
            </div>
            <div class="producto-es-item">
              <div class="producto-es-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-es-item-detalle"
              >
                <div class="producto-es-item-info">
                  <h3>CHESSY LOVERS</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <div
                  id="phpm-general-variantes"
                  tipo-producto="simple"
                  class="phpg-svpg-pcl seleccion-variante-producto-general"
                >
                  <p>Tamaño</p>
                  <button id="phpm-view-variantes" class="container-info-variante">
                    <p id="phpm-variante-seleccionado">Personal</p>
                    <div class="icono-dropdown-variantes icon-color-tertiary">
                      {% render 'icon-flecha-abajo' %}
                    </div>
                  </button>
                  <div id="phpm-items-variantes" class="variantes-producto">
                    <div class="variante-producto-item">
                      <p>Personal</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Super Pers.</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Mediana</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Familiar</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                  </div>
                </div>
                <button id="phpm-btn-personalizar" class="ph-btn-general   phpm-btn-personalizar ">
                  <p class="color-letras-secondary">PERSONALIZAR</p>
                </button>
              </div>
            </div>
            <div class="producto-es-item">
              <div class="producto-es-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-es-item-detalle"
              >
                <div class="producto-es-item-info">
                  <h3>CHESSY LOVERS</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <div
                  id="phpm-general-variantes"
                  tipo-producto="simple"
                  class="phpg-svpg-pcl seleccion-variante-producto-general"
                >
                  <p>Tamaño</p>
                  <button id="phpm-view-variantes" class="container-info-variante">
                    <p id="phpm-variante-seleccionado">Personal</p>
                    <div class="icono-dropdown-variantes icon-color-tertiary">
                      {% render 'icon-flecha-abajo' %}
                    </div>
                  </button>
                  <div id="phpm-items-variantes" class="variantes-producto">
                    <div class="variante-producto-item">
                      <p>Personal</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Super Pers.</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Mediana</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Familiar</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                  </div>
                </div>
                <button id="phpm-btn-personalizar" class="ph-btn-general   phpm-btn-personalizar ">
                  <p class="color-letras-secondary">PERSONALIZAR</p>
                </button>
              </div>
            </div>
            <div class="producto-es-item">
              <div class="producto-es-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-es-item-detalle"
              >
                <div class="producto-es-item-info">
                  <h3>CHESSY LOVERS</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <button id="phpm-btn-personalizar" class="ph-btn-general   phpm-btn-personalizar ">
                  <p class="color-letras-secondary">PERSONALIZAR</p>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="phpm-titulo-primario">
          <small>ENSALADAS Y PASTAS</small>
        </div>
        <div class="phpm-seccion">
          <div class="phpm-items container-base">
            <div class="producto-es-item">
              <div class="producto-es-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="complejo"
                class="producto-es-item-detalle"
              >
                <div class="producto-es-item-info">
                  <h3>CHESSY LOVERS</h3>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <button id="phpm-btn-agregar" class="ph-btn-general  icon-color-secondary">
                  {% render 'icon-carrito' %}
                  <p class="color-letras-secondary">AGREGAR</p>
                </button>
              </div>
            </div>
            <div class="producto-es-item">
              <div class="producto-es-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-es-item-detalle"
              >
                <div class="producto-es-item-info">
                  <h3>CHESSY LOVERS</h3>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <button id="phpm-btn-agregar" class="ph-btn-general  icon-color-secondary">
                  {% render 'icon-carrito' %}
                  <p class="color-letras-secondary">AGREGAR</p>
                </button>
              </div>
            </div>
            <div class="producto-es-item">
              <div class="producto-es-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-es-item-detalle"
              >
                <div class="producto-es-item-info">
                  <h3>CHESSY LOVERS</h3>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <button id="phpm-btn-agregar" class="ph-btn-general  icon-color-secondary">
                  {% render 'icon-carrito' %}
                  <p class="color-letras-secondary">AGREGAR</p>
                </button>
              </div>
            </div>
            <div class="producto-es-item">
              <div class="producto-es-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-es-item-detalle"
              >
                <div class="producto-es-item-info">
                  <h3>CHESSY LOVERS</h3>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <button id="phpm-btn-agregar" class="ph-btn-general  icon-color-secondary">
                  {% render 'icon-carrito' %}
                  <p class="color-letras-secondary">AGREGAR</p>
                </button>
              </div>
            </div>
            <div class="producto-es-item">
              <div class="producto-es-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-es-item-detalle"
              >
                <div class="producto-es-item-info">
                  <h3>CHESSY LOVERS</h3>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <button id="phpm-btn-agregar" class="ph-btn-general  icon-color-secondary">
                  {% render 'icon-carrito' %}
                  <p class="color-letras-secondary">AGREGAR</p>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="phpm-titulo-primario">
          <small>MELTS</small>
        </div>
        <div class="phpm-seccion">
          <div class="phpm-items container-base">
            <div class="producto-es-item">
              <div class="producto-es-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-es-item-detalle"
              >
                <div class="producto-es-item-info">
                  <h3>CHESSY LOVERS</h3>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <button id="phpm-btn-agregar" class="ph-btn-general  icon-color-secondary">
                  {% render 'icon-carrito' %}
                  <p class="color-letras-secondary">AGREGAR</p>
                </button>
              </div>
            </div>
            <div class="producto-es-item">
              <div class="producto-es-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-es-item-detalle"
              >
                <div class="producto-es-item-info">
                  <h3>CHESSY LOVERS</h3>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <button id="phpm-btn-agregar" class="ph-btn-general  icon-color-secondary">
                  {% render 'icon-carrito' %}
                  <p class="color-letras-secondary">AGREGAR</p>
                </button>
              </div>
            </div>
            <div class="producto-es-item">
              <div class="producto-es-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-es-item-detalle"
              >
                <div class="producto-es-item-info">
                  <h3>CHESSY LOVERS</h3>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <button id="phpm-btn-agregar" class="ph-btn-general  icon-color-secondary">
                  {% render 'icon-carrito' %}
                  <p class="color-letras-secondary">AGREGAR</p>
                </button>
              </div>
            </div>
            <div class="producto-es-item">
              <div class="producto-es-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-es-item-detalle"
              >
                <div class="producto-es-item-info">
                  <h3>CHESSY LOVERS</h3>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <button id="phpm-btn-agregar" class="ph-btn-general  icon-color-secondary">
                  {% render 'icon-carrito' %}
                  <p class="color-letras-secondary">AGREGAR</p>
                </button>
              </div>
            </div>
            <div class="producto-es-item">
              <div class="producto-es-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-es-item-detalle"
              >
                <div class="producto-es-item-info">
                  <h3>CHESSY LOVERS</h3>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <button id="phpm-btn-agregar" class="ph-btn-general  icon-color-secondary">
                  {% render 'icon-carrito' %}
                  <p class="color-letras-secondary">AGREGAR</p>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endcomment %}
    <!-- PRODUCTOS PIZZAS -->
    {% comment %}
      <section
        style="display: none;"
        id="phpm-seccion-pizzas"
        class="page-menu-container"
        style="display: none;"
      >
        <div class="phpm-titulo-primario">
          <small>PIZZAS</small>
        </div>
        <div class="phpm-seccion">
          <div class="phpm-titulo-secundario">
            <h1 class="color-letras-primary">ClÁsicas</h1>
          </div>
          <div class="container-productos-general container-base">
            <div class="producto-item">
              <div class="producto-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-item-detalle"
              >
                <div class="producto-item-info">
                  <h3>CHESSY LOVERS</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <div
                  id="phpm-general-variantes"
                  tipo-producto="simple"
                  class="seleccion-variante-producto-general"
                >
                  <p>Tamaño</p>
                  <button id="phpm-view-variantes" class="container-info-variante">
                    <p id="phpm-variante-seleccionado">Personal</p>
                    <div class="icono-dropdown-variantes icon-color-tertiary">
                      {% render 'icon-flecha-abajo' %}
                    </div>
                  </button>
                  <div id="phpm-items-variantes" class="variantes-producto">
                    <div class="variante-producto-item">
                      <p>Personal</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Super Pers.</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Mediana</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Familiar</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                  </div>
                </div>
                <button id="phpm-btn-personalizar" class="ph-btn-general   phpm-btn-personalizar">
                  <p class="color-letras-secondary">PERSONALIZAR</p>
                </button>
              </div>
            </div>
            <div class="producto-item">
              <div class="producto-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-item-detalle"
              >
                <div class="producto-item-info">
                  <h3>CHESSY LOVERS</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <div
                  id="phpm-general-variantes"
                  tipo-producto="simple"
                  class="seleccion-variante-producto-general"
                >
                  <p>Tamaño</p>
                  <button id="phpm-view-variantes" class="container-info-variante">
                    <p id="phpm-variante-seleccionado">Personal</p>
                    <div class="icono-dropdown-variantes icon-color-tertiary">
                      {% render 'icon-flecha-abajo' %}
                    </div>
                  </button>
                  <div id="phpm-items-variantes" class="variantes-producto">
                    <div class="variante-producto-item">
                      <p>Personal</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Super Pers.</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Mediana</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Familiar</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                  </div>
                </div>
                <button id="phpm-btn-personalizar" class="ph-btn-general   phpm-btn-personalizar">
                  <p class="color-letras-secondary">PERSONALIZAR</p>
                </button>
              </div>
            </div>
            <div class="producto-item">
              <div class="producto-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-item-detalle"
              >
                <div class="producto-item-info">
                  <h3>CHESSY LOVERS</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <div
                  id="phpm-general-variantes"
                  tipo-producto="simple"
                  class="seleccion-variante-producto-general"
                >
                  <p>Tamaño</p>
                  <button id="phpm-view-variantes" class="container-info-variante">
                    <p id="phpm-variante-seleccionado">Personal</p>
                    <div class="icono-dropdown-variantes icon-color-tertiary">
                      {% render 'icon-flecha-abajo' %}
                    </div>
                  </button>
                  <div id="phpm-items-variantes" class="variantes-producto">
                    <div class="variante-producto-item">
                      <p>Personal</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Super Pers.</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Mediana</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Familiar</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                  </div>
                </div>
                <button id="phpm-btn-personalizar" class="ph-btn-general   phpm-btn-personalizar">
                  <p class="color-letras-secondary">PERSONALIZAR</p>
                </button>
              </div>
            </div>
            <div class="producto-item">
              <div class="producto-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-item-detalle"
              >
                <div class="producto-item-info">
                  <h3>CHESSY LOVERS</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <div
                  id="phpm-general-variantes"
                  tipo-producto="simple"
                  class="seleccion-variante-producto-general"
                >
                  <p>Tamaño</p>
                  <button id="phpm-view-variantes" class="container-info-variante">
                    <p id="phpm-variante-seleccionado">Personal</p>
                    <div class="icono-dropdown-variantes icon-color-tertiary">
                      {% render 'icon-flecha-abajo' %}
                    </div>
                  </button>
                  <div id="phpm-items-variantes" class="variantes-producto">
                    <div class="variante-producto-item">
                      <p>Personal</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Super Pers.</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Mediana</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Familiar</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                  </div>
                </div>
                <button id="phpm-btn-personalizar" class="ph-btn-general   phpm-btn-personalizar">
                  <p class="color-letras-secondary">PERSONALIZAR</p>
                </button>
              </div>
            </div>
            <div class="producto-item">
              <div class="producto-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-item-detalle"
              >
                <div class="producto-item-info">
                  <h3>CHESSY LOVERS</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <div
                  id="phpm-general-variantes"
                  tipo-producto="simple"
                  class="seleccion-variante-producto-general"
                >
                  <p>Tamaño</p>
                  <button id="phpm-view-variantes" class="container-info-variante">
                    <p id="phpm-variante-seleccionado">Personal</p>
                    <div class="icono-dropdown-variantes icon-color-tertiary">
                      {% render 'icon-flecha-abajo' %}
                    </div>
                  </button>
                  <div id="phpm-items-variantes" class="variantes-producto">
                    <div class="variante-producto-item">
                      <p>Personal</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Super Pers.</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Mediana</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Familiar</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                  </div>
                </div>
                <button id="phpm-btn-personalizar" class="ph-btn-general   phpm-btn-personalizar">
                  <p class="color-letras-secondary">PERSONALIZAR</p>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="phpm-seccion">
          <div class="phpm-titulo-secundario">
            <h1 class="color-letras-primary">MITAD Y MITAD</h1>
          </div>
          <div id="phpm-seccion-pizzas" class="container-productos-general container-base">
            <div class="producto-item">
              <div class="producto-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="complejo"
                class="producto-item-detalle"
              >
                <div class="producto-item-info">
                  <h3>CHESSY LOVERS</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <button id="phpm-btn-personalizar" class="ph-btn-general ">
                  <p class="color-letras-secondary">PERSONALIZAR</p>
                </button>
              </div>
            </div>
            <div class="producto-item">
              <div class="producto-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="complejo"
                class="producto-item-detalle"
              >
                <div class="producto-item-info">
                  <h3>CHESSY LOVERS</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <button id="phpm-btn-personalizar" class="ph-btn-general   phpm-btn-personalizar">
                  <p class="color-letras-secondary">PERSONALIZAR</p>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="phpm-seccion">
          <div class="phpm-titulo-secundario">
            <h1 class="color-letras-primary">LOVERS</h1>
          </div>
          <div id="phpm-seccion-pizzas" class="container-productos-general container-base">
            <div class="producto-item">
              <div class="producto-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-item-detalle"
              >
                <div class="producto-item-info">
                  <h3>CHESSY LOVERS</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <div
                  id="phpm-general-variantes"
                  tipo-producto="simple"
                  class="seleccion-variante-producto-general"
                >
                  <p>Tamaño</p>
                  <button id="phpm-view-variantes" class="container-info-variante">
                    <p id="phpm-variante-seleccionado">Personal</p>
                    <div class="icono-dropdown-variantes icon-color-tertiary">
                      {% render 'icon-flecha-abajo' %}
                    </div>
                  </button>
                  <div id="phpm-items-variantes" class="variantes-producto">
                    <div class="variante-producto-item">
                      <p>Personal</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Super Pers.</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Mediana</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Familiar</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                  </div>
                </div>
                <button id="phpm-btn-personalizar" class="ph-btn-general   phpm-btn-personalizar">
                  <p class="color-letras-secondary">PERSONALIZAR</p>
                </button>
              </div>
            </div>
            <div class="producto-item">
              <div class="producto-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-item-detalle"
              >
                <div class="producto-item-info">
                  <h3>CHESSY LOVERS</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <div
                  id="phpm-general-variantes"
                  tipo-producto="simple"
                  class="seleccion-variante-producto-general"
                >
                  <p>Tamaño</p>
                  <button id="phpm-view-variantes" class="container-info-variante">
                    <p id="phpm-variante-seleccionado">Personal</p>
                    <div class="icono-dropdown-variantes icon-color-tertiary">
                      {% render 'icon-flecha-abajo' %}
                    </div>
                  </button>
                  <div id="phpm-items-variantes" class="variantes-producto">
                    <div class="variante-producto-item">
                      <p>Personal</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Super Pers.</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Mediana</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Familiar</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                  </div>
                </div>
                <button id="phpm-btn-personalizar" class="ph-btn-general   phpm-btn-personalizar">
                  <p class="color-letras-secondary">PERSONALIZAR</p>
                </button>
              </div>
            </div>
            <div class="producto-item">
              <div class="producto-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-item-detalle"
              >
                <div class="producto-item-info">
                  <h3>CHESSY LOVERS</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <div
                  id="phpm-general-variantes"
                  tipo-producto="simple"
                  class="seleccion-variante-producto-general"
                >
                  <p>Tamaño</p>
                  <button id="phpm-view-variantes" class="container-info-variante">
                    <p id="phpm-variante-seleccionado">Personal</p>
                    <div class="icono-dropdown-variantes icon-color-tertiary">
                      {% render 'icon-flecha-abajo' %}
                    </div>
                  </button>
                  <div id="phpm-items-variantes" class="variantes-producto">
                    <div class="variante-producto-item">
                      <p>Personal</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Super Pers.</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Mediana</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Familiar</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                  </div>
                </div>
                <button id="phpm-btn-personalizar" class="ph-btn-general   phpm-btn-personalizar">
                  <p class="color-letras-secondary">PERSONALIZAR</p>
                </button>
              </div>
            </div>
            <div class="producto-item">
              <div class="producto-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-item-detalle"
              >
                <div class="producto-item-info">
                  <h3>CHESSY LOVERS</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <div
                  id="phpm-general-variantes"
                  tipo-producto="simple"
                  class="seleccion-variante-producto-general"
                >
                  <p>Tamaño</p>
                  <button id="phpm-view-variantes" class="container-info-variante">
                    <p id="phpm-variante-seleccionado">Personal</p>
                    <div class="icono-dropdown-variantes icon-color-tertiary">
                      {% render 'icon-flecha-abajo' %}
                    </div>
                  </button>
                  <div id="phpm-items-variantes" class="variantes-producto">
                    <div class="variante-producto-item">
                      <p>Personal</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Super Pers.</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Mediana</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                    <div class="variante-producto-item">
                      <p>Familiar</p>
                      <p class="color-letras-primary">12.56 BS</p>
                    </div>
                  </div>
                </div>
                <button id="phpm-btn-personalizar" class="ph-btn-general   phpm-btn-personalizar">
                  <p class="color-letras-secondary">PERSONALIZAR</p>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endcomment %}
    <!-- PRODUCTOS POSTRES y GASEOSAS -->
    {% comment %}
      <section
        style="display: none;"
        id="phpm-seccion-postres"
        class="page-menu-container"
        style="display: none;"
      >
        <div class="phpm-titulo-primario">
          <small>POSTRES</small>
        </div>
        <div class="phpm-seccion">
          <div class="container-productos-general container-base">
            <div class="producto-item">
              <div class="producto-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-item-detalle"
              >
                <div class="producto-item-info">
                  <h3>CHESSY LOVERS</h3>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <div class="ph-cantidad">
                  <div class="ph-cantidad-selector">
                    <button class="ph-cantidad-selector-button icon-color-tertiary">
                      {% render 'icon-menos' %}
                    </button>
                    <p>0</p>
                    <button class="ph-cantidad-selector-button icon-color-tertiary">
                      {% render 'icon-mas' %}
                    </button>
                  </div>
                </div>
                <button id="phpm-btn-agregar" class="ph-btn-general icon-color-secondary">
                  {%- render 'icon-carrito' -%}
                  <p class="color-letras-secondary">AGREGAR</p>
                </button>
              </div>
            </div>
            <div class="producto-item">
              <div class="producto-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-item-detalle"
              >
                <div class="producto-item-info">
                  <h3>CHESSY LOVERS</h3>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <div class="ph-cantidad">
                  <div class="ph-cantidad-selector">
                    <button class="ph-cantidad-selector-button icon-color-tertiary">
                      {% render 'icon-menos' %}
                    </button>
                    <p>0</p>
                    <button class="ph-cantidad-selector-button icon-color-tertiary">
                      {% render 'icon-mas' %}
                    </button>
                  </div>
                </div>
                <button id="phpm-btn-agregar" class="ph-btn-general icon-color-secondary">
                  {%- render 'icon-carrito' -%}
                  <p class="color-letras-secondary">AGREGAR</p>
                </button>
              </div>
            </div>
            <div class="producto-item">
              <div class="producto-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-item-detalle"
              >
                <div class="producto-item-info">
                  <h3>CHESSY LOVERS</h3>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <div class="ph-cantidad">
                  <div class="ph-cantidad-selector">
                    <button class="ph-cantidad-selector-button icon-color-tertiary">
                      {% render 'icon-menos' %}
                    </button>
                    <p>0</p>
                    <button class="ph-cantidad-selector-button icon-color-tertiary">
                      {% render 'icon-mas' %}
                    </button>
                  </div>
                </div>
                <button id="phpm-btn-agregar" class="ph-btn-general icon-color-secondary">
                  {%- render 'icon-carrito' -%}
                  <p class="color-letras-secondary">AGREGAR</p>
                </button>
              </div>
            </div>
            <div class="producto-item">
              <div class="producto-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-item-detalle"
              >
                <div class="producto-item-info">
                  <h3>CHESSY LOVERS</h3>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <div class="ph-cantidad">
                  <div class="ph-cantidad-selector">
                    <button class="ph-cantidad-selector-button icon-color-tertiary">
                      {% render 'icon-menos' %}
                    </button>
                    <p>0</p>
                    <button class="ph-cantidad-selector-button icon-color-tertiary">
                      {% render 'icon-mas' %}
                    </button>
                  </div>
                </div>
                <button id="phpm-btn-agregar" class="ph-btn-general icon-color-secondary">
                  {%- render 'icon-carrito' -%}
                  <p class="color-letras-secondary">AGREGAR</p>
                </button>
              </div>
            </div>
            <div class="producto-item">
              <div class="producto-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-item-detalle"
              >
                <div class="producto-item-info">
                  <h3>CHESSY LOVERS</h3>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <div class="ph-cantidad">
                  <div class="ph-cantidad-selector">
                    <button class="ph-cantidad-selector-button icon-color-tertiary">
                      {% render 'icon-menos' %}
                    </button>
                    <p>0</p>
                    <button class="ph-cantidad-selector-button icon-color-tertiary">
                      {% render 'icon-mas' %}
                    </button>
                  </div>
                </div>
                <button id="phpm-btn-agregar" class="ph-btn-general icon-color-secondary">
                  {%- render 'icon-carrito' -%}
                  <p class="color-letras-secondary">AGREGAR</p>
                </button>
              </div>
            </div>
            <div class="producto-item">
              <div class="producto-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-item-detalle"
              >
                <div class="producto-item-info">
                  <h3>CHESSY LOVERS</h3>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <div class="ph-cantidad">
                  <div class="ph-cantidad-selector">
                    <button class="ph-cantidad-selector-button icon-color-tertiary">
                      {% render 'icon-menos' %}
                    </button>
                    <p>0</p>
                    <button class="ph-cantidad-selector-button icon-color-tertiary">
                      {% render 'icon-mas' %}
                    </button>
                  </div>
                </div>
                <button id="phpm-btn-agregar" class="ph-btn-general icon-color-secondary">
                  {%- render 'icon-carrito' -%}
                  <p class="color-letras-secondary">AGREGAR</p>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endcomment %}
  </section>
</page-menu-productos>

{% style %}
{% endstyle %}
