<!-- Hoja de estilos css -->
{{ 'estilos-generales.css' | asset_url | stylesheet_tag }}
{{ 'page.producto.css' | asset_url | stylesheet_tag }}

<ph-producto>
  <div class="container-base pmph-container">
    <div class="pmph-imagen compleja">
      <!-- IMAGE PRODUCTO SIMPLE -->
      {% comment %}
        <img
          id="phmp-contenido-ver-producto-simple"
          class="phmp-img-simple"
          src="{{ 'imagen-pizza-1.png' | asset_url }}"
          alt="Pizza 1"
          width="100%"
          height="100%"
        >
      {% endcomment %}
      <!-- IMAGE PRODUCTO COMPLEJO -->
      {% comment %}
        <div
          id="phmp-contenido-ver-producto-complejo"
          class="phmp-img-compleja"
        >
          <!-- BORDE DE PIZZA -->
          <img
            class="phmp-borde-pizza-img"
            src="{{ 'pizza-borde.png' | asset_url }}"
            alt="Pizza 1"
            width="100%"
            height="100%"
          >
          <!-- SEPARADOS DE MITAD DE PIZZA -->
          <img
            class="phmp-separador-pizza-img"
            src="{{ 'separador-mitad-pizza.png' | asset_url }}"
            alt="Pizza 1"
            width="100%"
            height="100%"
          >
          <!-- SECCION BOTONES PARA TIPO DE MITADD -->
          <div class="phmp-detalle-imagen-compleja-botones">
            <button
              lado-pizza-btn="izquierda"
              id="phpm-btn-complejo-izq"
              class="phmp-pizza-seleccion-mitad "
            >
              <p>LADO IZQUIERDO</p>
              <div class="phmp-psm-icon">
                {% render 'icon-volver-atras' %}
              </div>
            </button>
            <button
              lado-pizza-btn="derecha"
              id="phpm-btn-complejo-der"
              class="phmp-pizza-seleccion-mitad"
            >
              <p>LADO DERECHO</p>
              <div class="phmp-psm-icon">
                {% render 'icon-flecha-derecha' %}
              </div>
            </button>
          </div>
          <!-- SECCION MITADES DE PIZZA -->
          <div class="phmp-imagenes-mitades">
            <div id="phpm-producto-complejo-img-izq" class="phmp-mitad-izquierda">
              <img src="{{ 'imagen-mitad-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div id="phpm-producto-complejo-img-der" class="phmp-mitad-derecha">
              <img src="{{ 'imagen-mitad-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
          </div>
        </div>
      {% endcomment %}
    </div>
    <div class="pmph-detalle-producto">
      <div class="pmph-header">
        {% comment %}
          <button class="pmph-volver-atras icon-color-primary ">
            {% render 'icon-volver-atras' %}
            <p class="color-letras-primary">Volver</p>
          </button>
          <small>Choclo y Tocino</small>
          <p>Salsa de tomate, queso mozarella, Choclo y tocino</p>
        {% endcomment %}
      </div>
      <div class="pmph-seleccion">
        <div id="pmph-seleccion-pizza-mitadymitad" class="pmph-seleccion-normal ">
          <h3>UN SABOR PARA CADA MITAD</h3>
          <div
            lado-pizza="izquierda"
            id="phpm-item-pizzamitadymitad"
            class="pmph-extras "
          >
            <div class="pmph-extras-detalle">
              <p class="phpm-mensaje-primario-pizzamitadymitad">CHOCLO Y PIÑA</p>
              <p>LADO IZQUIERDA</p>
            </div>
            <button class="pmph-extras-button">
              {% render 'icon-flecha-izquierda' %}
            </button>
          </div>
          <div
            lado-pizza="derecha"
            id="phpm-item-pizzamitadymitad"
            class="pmph-extras "
          >
            <div class="pmph-extras-detalle">
              <p class="phpm-mensaje-primario-pizzamitadymitad">CHOCLO Y PIÑA</p>
              <p>LADO IZQUIERDA</p>
            </div>
            <button class="pmph-extras-button ">
              {% render 'icon-flecha-izquierda' %}
            </button>
          </div>
        </div>
        <div id="pmph-seleccion-extras-postres" class="pmph-seleccion-basico">
          <div class="pmph-extras-header">
            <h3>Postres</h3>
            <button
              id="phpm-btn-anadir-extras-postres"
              class="pmph-extras-button icon-color-primary"
              style="display: none;"
            >
              {% render 'icon-mas' %}
              <p>Añadir</p>
            </button>
          </div>
          <!-- CUANDO NO HAY SELECCIONADO UN EXTRA -->
          <div id="phpm-vacio-extras-especiales-postres" class="pmph-extras">
            <p>SELECcIONAR POSTRE</p>
            <button class="pmph-extras-button icon-color-tertiary ">
              {% render 'icon-flecha-izquierda' %}
            </button>
          </div>
          <!-- CUANDO HAY SELECCIONADO UN EXTRA -->
          <div
            style="display: none;"
            id="phpm-extras-especiales-postres"
            class="pmp-items-extras-seleccionados"
          ></div>
        </div>
        <div id="pmph-seleccion-extras-gaseosasycervezas" class="pmph-seleccion-basico">
          <div class="pmph-extras-header">
            <h3>Gaseosas y cervezas</h3>
            <button
              id="phpm-btn-anadir-extras-gaseosasycervezas"
              class="pmph-extras-button icon-color-primary"
              style="display: none;"
            >
              {% render 'icon-mas' %}
              <p>Añadir</p>
            </button>
          </div>
          <!-- CUANDO NO HAY SELECCIONADO UN EXTRA -->
          <div id="phpm-vacio-extras-especiales-gaseosasycervezas" class="pmph-extras">
            <p>SELECcIONAR</p>
            <button class="pmph-extras-button icon-color-tertiary ">
              {% render 'icon-flecha-izquierda' %}
            </button>
          </div>
          <!-- CUANDO HAY SELECCIONADO UN EXTRA -->
          <div
            style="display: none;"
            id="phpm-extras-especiales-gaseosasycervezas"
            class="pmp-items-extras-seleccionados"
          ></div>
        </div>
        <section class="ph-opciones-mobile-footer">
          <button
            id="phpm-btn-haz-un-pedido"
            class="ph-btn-general"
          >
            {% render 'icon-tarjeta-credito' %}
            <p>HAZ UN PEDIDO</p>
            <br>
            <p id="phpp-etiqueta-hazunpedido"></p>
          </button>
          <button
            id="phpm-btn-agregar-carrito"
            class="ph-btn-general"
          >
            {% render 'icon-carrito' %}
            <p>AGREGAR AL CARRITO</p>
            <br>
            <p id="phpp-etiqueta-agregarcarrito"></p>
          </button>
        </section>
      </div>
    </div>
    <!-- MODAL INFORMACION EXTRA -->
    <div
      id="pmph-modal-productos-extras"
      class="pmph-modal-general"
      style="display: none;"
    >
      <div class="pmph-modal-informacion-extras">
        <div
          id="phpp-modal-productos-pizzamitadymitad"
          class="ppme-modal-informacion-extras-body"
          style="display: none;"
        >
          <small>ESCOGE TU MITAD</small>
          <div class="ppme-modal-items-pizzamitadymitad">
            <div class="producto-item">
              <div class="producto-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-item-detalle"
              >
                <div class="producto-item-info">
                  <h3>CHESSY LOVERS</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <button id="phpm--modal-btn-elegir" class="ph-btn-general">
                  <p class="color-letras-secondary">ELEGIR</p>
                </button>
              </div>
            </div>
            <div class="producto-item">
              <div class="producto-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-item-detalle"
              >
                <div class="producto-item-info">
                  <h3>CHESSY LOVERS</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <button id="phpm--modal-btn-elegir" class="ph-btn-general">
                  <p class="color-letras-secondary">ELEGIR</p>
                </button>
              </div>
            </div>
            <div class="producto-item">
              <div class="producto-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-item-detalle"
              >
                <div class="producto-item-info">
                  <h3>CHESSY LOVERS</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <button id="phpm--modal-btn-elegir" class="ph-btn-general">
                  <p class="color-letras-secondary">ELEGIR</p>
                </button>
              </div>
            </div>
            <div class="producto-item">
              <div class="producto-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-item-detalle"
              >
                <div class="producto-item-info">
                  <h3>CHESSY LOVERS</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <button id="phpm--modal-btn-elegir" class="ph-btn-general">
                  <p class="color-letras-secondary">ELEGIR</p>
                </button>
              </div>
            </div>
            <div class="producto-item">
              <div class="producto-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-item-detalle"
              >
                <div class="producto-item-info">
                  <h3>CHESSY LOVERS</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <button id="phpm--modal-btn-elegir" class="ph-btn-general">
                  <p class="color-letras-secondary">ELEGIR</p>
                </button>
              </div>
            </div>
            <div class="producto-item">
              <div class="producto-item-imagen">
                <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
              </div>
              <div
                tipo-producto="simple"
                class="producto-item-detalle"
              >
                <div class="producto-item-info">
                  <h3>CHESSY LOVERS</h3>
                  <p>
                    Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                    tocino.
                  </p>
                </div>
                <h3 class="color-letras-primary">12.56 BS</h3>
                <button id="phpm--modal-btn-elegir" class="ph-btn-general">
                  <p class="color-letras-secondary">ELEGIR</p>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="ppme-modal-informacion-extras-footer">
          <button
            id="phppm-btn-guardar"
            class="ppme-modal-boton-guardar"
          >
            <p class="color-letras-secondary">Guardar</p>
          </button>
          <button
            id="phppm-btn-salir"
            class="ppme-modal-boton-salir"
          >
            <p class="color-letras-primary">Salir</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</ph-producto>
