<!-- Hojas de estilos css -->
{{ 'estilos-generales.css' | asset_url | stylesheet_tag }}
{{ 'estilos-auxliares.css' | asset_url | stylesheet_tag }}
{{ 'page-crear-cuenta.css' | asset_url | stylesheet_tag }}
{{ 'page-checkout.css' | asset_url | stylesheet_tag }}

<crear-cuenta>
  <div class="container-main-smecph container-base">
    <small>CREAR CUENTA</small>
    <section class="container-sub-smecph" id="pccph-frm-datos-contacto">
      <div class="ph-mcci-header-simplec">
        <h4>Datos de contacto</h4>
        <p>Ingrese tus datos para disfrutar tu pizza favorita.</p>
      </div>
      <div class="ph-mcci-frm">
        <div
          id="phpcc-frm-nombre"
          class="ph-mcci-input"
        >
          <p>Nombres</p>
          <div class="ph-container-input">
            <input
              id="phpcc-frm-nombre-input"
              pattern="[A-Za-zÀ-ÖØ-öø-ÿ\s]+"
              required
              type="text"
              placeholder="Nombres"
            >
          </div>
        </div>
        <div
          id="phpcc-frm-apellido"
          class="ph-mcci-input"
        >
          <p>Apellidos</p>
          <div class="ph-container-input">
            <input
              id="phpcc-frm-apellido-input"
              required
              pattern="[A-Za-zÀ-ÖØ-öø-ÿ\s]+"
              type="text"
              placeholder="Apellidos"
            >
          </div>
          {% comment %}
            <div
              id="phpcc-frm-apellido-error"
              class="ph-mcci-mensaje-input"
            >
              {% render 'icon-info' %}
              <p>Este campo es obligatorio.</p>
            </div>
          {% endcomment %}
        </div>
        <div
          id="phpcc-frm-email"
          class="ph-mcci-input"
        >
          <p>Correo Electrónico</p>
          <div class="ph-container-input">
            <input
              id="phpcc-frm-email-input"
              required
              type="email"
              placeholder="Correo Electrónico"
            >
          </div>
          {% comment %}
            <div
              id="phpcc-frm-email-error"
              class="ph-mcci-mensaje-input"
            >
              {% render 'icon-info' %}
              <p>Este campo es obligatorio.</p>
            </div>
          {% endcomment %}
        </div>
        <div
          id="phpcc-frm-celular"
          class="ph-mcci-input"
        >
          <p>Celular</p>
          <div class="ph-container-input">
            <input
              id="phpcc-frm-celular-input"
              type="tel"
              placeholder="Numero de celular"
              maxlength="8"
              oninput="
                this.value = this.value.replace(/[^0-9]/g, '');
                if (this.value.length > 0 && this.value[0] !== '6' && this.value[0] !== '7') {
                  this.value = '7' + this.value.substring(1);
                }
              "
              pattern="[67][0-9]{7}"
            >
          </div>
          {% comment %}
            <div
              id="phpcc-frm-email-error"
              class="ph-mcci-mensaje-input"
            >
              {% render 'icon-info' %}
              <p>Este campo es obligatorio.</p>
            </div>
          {% endcomment %}
          <div
            id="phpcc-frm-celular-mensaje"
            class="ph-mcci-mensaje-input"
          >
            {% render 'icon-info' %}
            <p>Nos contactaremos a este número para entregar tu pedido.</p>
          </div>
        </div>
        <div
          id="phpcc-frm-ci"
          class="ph-mcci-input "
        >
          <p>Número de Carnet de identidad (C.I.)</p>
          <div class="ph-container-input">
            <input
              id="phpcc-frm-ci-input"
              type="tel"
              placeholder="Carnet de identidad"
              maxlength="15"
              oninput="this.value=this.value.replace(/[^0-9]/g,'')"
              pattern="[0-9]{1,8}"
            >
          </div>
          {% comment %}
            <div
              id="phpcc-frm-ci-error"
              class="ph-mcci-mensaje-input"
            >
              {% render 'icon-info' %}
              <p>Este campo es obligatorio.</p>
            </div>
          {% endcomment %}
        </div>
      </div>
    </section>
    <section class="container-sub-smecph" id="pccph-frm-direccion">
      <div class="ph-mcci-header-simplec">
        <h4>Dirección</h4>
        <p>Ingresa una dirección o usa tu ubicación actual.</p>
      </div>
      <button
        id="phpcc-btn-mi-ubicacion-actual"
        class="ph-btn-secundario"
      >
        {% render 'icon-gps-rojo' %}
        <p>USAR MI UBICACIÓN ACTUAL</p>
      </button>
      <div class="pccph-modal-separador">
        <div class="pccph-modal-separador-linea"></div>
        <p>O</p>
        <div class="pccph-modal-separador-linea"></div>
      </div>
      <div class="ph-container-input icon-color-tertiary">
        <div id="phpcc-sugerencias-direccion" class="psme-sugerencias-container"></div>
        {% render 'icon-location-on' %}
        <input
          id="phpcc-input-direccion"
          type="text"
          placeholder="Ingresar dirección o punto de referencia"
          autocomplete="off"
        >
      </div>
    </section>
    <section class="container-sub-smecph" id="pccph-hutcoins">
      <div class="smecph-pc-hutcoins-banner">
        <img src="{{ 'banner-hutcoints-carrito.png' | asset_url }}" alt="Hutcoins Banner" width="100%" height="100%">
      </div>
      <div class="smecph-pc-hutcoins-mensaje">
        <button
          id="phpcc-btn-hutcoins"
          class="ph-container-icono"
        >
          {% render 'icon-checkbox-off' %}
        </button>
        <p>Usar mi información para registrarme a Hut Coins y ganar puntos en futuras esta compra.</p>
      </div>
      <div class="ph-mcci-input">
        <p>Fecha de nacimiento</p>
        <div class="ph-container-input">
          <input
            id="phpcc-frm-fecha-nacimiento-input"
            type="date"
            placeholder="Fecha de nacimiento"
          >
        </div>
      </div>
    </section>
    <section
      id="phpcc-termino-condiciones"
      class="container-sub-smecph pccph-extra-ultimo"
      id="pccph-termino-condiciones"
    >
      <div class="smecph-pc-hutcoins-mensaje ">
        <button
          id="phpcc-btn-info-hutcoins"
          class="ph-container-icono"
        >
          {% render 'icon-checkbox-off' %}
        </button>
        <p>
          Acepto las
          <a
            style="
              text-decoration: underline;
              cursor: pointer;
              text-underline-offset: 3px;
            "
            href="https://farmacorp.com/policies/privacy-policy"
            target="_blank"
            >Políticas de privacidad</a
          >
          y
          <a
            style="
              text-decoration: underline;
              cursor: pointer;
              text-underline-offset: 3px;
            "
            href="https://farmacorp.com/policies/terms-of-service"
            target="_blank"
            >Términos y condiciones</a
          >
        </p>
      </div>
    </section>
    <section class="ph-opciones-mobile-footer">
      <button
        id="phpcc-btn-continuar"
        class="ph-btn-general desactivado"
      >
        <p>CONTINUAR</p>
      </button>
      <a
        href="/"
        class="ph-btn-primario"
      >
        <p>CANCELAR</p>
      </a>
    </section>

    <!-- 1re MODAL : SNIPPER DE CARGANDO -->
    <section
      style="display: none;"
      id="phpcc-modal-background"
      class="ph-background-container-modal"
    >
      <div
        class="ph-modal-main-snipper"
      >
        <div class="ph-modal-body-snipper">
          <div class="snipper-container">
            <div class="snipper-background">
              <img
                src="{{ 'fondoSnipper.png' | asset_url }}"
                alt="Fondo de Snipper"
                width="100%"
                height="100%"
              >
            </div>
            <div class="snipper-logo">
              <img
                src="{{ 'logoSnipper.png' | asset_url }}"
                alt="Logo de Snipper"
                width="100%"
                height="100%"
              >
            </div>
          </div>
        </div>
        <p>Procesando informacion ...</p>
      </div>
    </section>

    <!-- MODAL DE DAR MI DIRECCION -->
    <section
      style="display: none;"
      id="phpcc-modal-dar-direccion"
      class="psme-modal-mapa-envio-domicilio"
    >
      <div
        id="phpcc-contenido-modal-body"
        class="psme-modal-contenedor-base"
      >
        <div class="psme-modal-header">
          <div class="psme-modal-mensaje">
            {% render 'icon-info' %}
            <p>Si es necesario, cambia la ubicación del pin en el mapa.</p>
          </div>
          <button class="psme-modal-boton-cerrar icon-color-tertiary" id="phpcc-boton-cerrar-modal">
            {% render 'icon-close-rojo' %}
          </button>
        </div>
        <div
          id="phpcc-modal-mapa"
          class="psme-modal-body"
        ></div>
        <div class="psme-modal-footer">
          <button class="psme-modal-boton-confirmar" id="phpcc-btn-confirmar-modal">
            <p>Confirmar</p>
          </button>
          <button class="psme-modal-boton-cancelar" id="phpcc-btn-cancelar-modal">
            <p>Cerrar</p>
          </button>
        </div>
      </div>
    </section>
  </div>
</crear-cuenta>
