<!-- HOJA DE ESTILOS CSS -->
{{ 'estilos-generales.css' | asset_url | stylesheet_tag }}
{{ 'page-menu.css' | asset_url | stylesheet_tag }}

<page-menu-productos>
  <section class="page-menu-container">
    <div class="page-menu-header">
      <h1 class="page-menu-titulo-mobile">Menu</h1>
      <small class="page-menu-titulo-desktop">Menu</small>
      <div class="page-menu-opciones-seleccion container-base">
        <div
          categoria="todo"
          class="page-menu-opcion"
        >
          <div class="page-menu-opcion-nombre">
            {% render 'icon-todas-opciones' %}
            <p>Ver Todo</p>
          </div>
        </div>
        <div
          categoria="ofertas"
          class="page-menu-opcion"
        >
          <div class="page-menu-opcion-imagen">
            <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Hamburguesa" width="100%" height="100%">
          </div>
          <div class="page-menu-opcion-nombre">
            <p>OFERTAS</p>
          </div>
        </div>
        <div
          categoria="pizzas"
          class="page-menu-opcion"
        >
          <div class="page-menu-opcion-imagen">
            <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Hamburguesa" width="100%" height="100%">
          </div>
          <div class="page-menu-opcion-nombre">
            <p>PIZZAS</p>
          </div>
        </div>
        <div
          categoria="postres"

          class="page-menu-opcion"
        >
          <div class="page-menu-opcion-imagen">
            <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Hamburguesa" width="100%" height="100%">
          </div>
          <div class="page-menu-opcion-nombre">
            <p>POSTRES</p>
          </div>
        </div>
        <div
          categoria="gaseosas y cervezas"

          class="page-menu-opcion"
        >
          <div class="page-menu-opcion-imagen">
            <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Hamburguesa" width="100%" height="100%">
          </div>
          <div class="page-menu-opcion-nombre">
            <p>GASEOSAS Y CERVERSAS</p>
          </div>
        </div>
      </div>
    </div>
    <!-- PRODUCTOS PIZZAS -->
    <section class="page-menu-container">
      <div class="phpm-titulo-primario">
        <small>PIZZAS</small>
      </div>
      <div class="phpm-seccion">
        <div class="phpm-titulo-secundario">
          <h1 class="color-letras-primary">ClÁsicas</h1>
        </div>
        <div id="phpm-seccion-pizzas" class="phpm-items container-base">
          <div class="producto-item">
            <div class="producto-item-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div
              tipo-producto="simple"
              class="producto-item-detalle"
            >
              <div class="producto-item-info">
                <h3>CHESSY LOVERS</h3>
                <p>
                  Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                  tocino.
                </p>
              </div>
              <h3 class="color-letras-primary">12.56 BS</h3>
              <div
                id=" phpm-general-variantes"
                tipo-producto="simple"
                class="seleccion-variante-producto-general"
              >
                <p>Tamaño</p>
                <button id="phpm-view-variantes" class="container-info-variante">
                  <p id=" phpm-variante-seleccionado">Personalizada</p>
                  <div class="icono-dropdown-variantes icon-color-tertiary">
                    {% render 'icon-flecha-abajo' %}
                  </div>
                </button>
                <div id=" phpm-items-variantes" class="variantes-producto">
                  <div class="variante-producto-item">
                    <p>Familiar</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-item">
                    <p>Mediana</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-item">
                    <p>Basica</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-item">
                    <p>Personalizada</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                </div>
              </div>
              <button id=" phpm-btn-personalizar" class="ph-btn-general phpm-btn-personalizar">
                <p class="color-letras-secondary">PERSONALIZAR</p>
              </button>
              <button id=" phpm-btn-personalizar" class="ph-btn-general phpm-btn-agregar icon-color-secondary">
                {% render 'icon-carrito' %}
                <p class="color-letras-secondary">AGREGAR</p>
              </button>
            </div>
          </div>
          <div class="producto-es-item">
            <div class="producto-es-item-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div
              tipo-producto="simple"
              class="producto-es-item-detalle"
            >
              <div class="producto-es-item-info">
                <h3>CHESSY LOVERS</h3>
                <p>
                  Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                  tocino.
                </p>
              </div>
              <h3 class="color-letras-primary">12.56 BS</h3>
              <div
                id=" phpm-general-variantes"
                tipo-producto="simple"
                class="seleccion-variante-producto-general"
              >
                <p>Tamaño</p>
                <button id="phpm-view-variantes" class="container-info-variante">
                  <p id=" phpm-variante-seleccionado">Personalizada</p>
                  <div class="icono-dropdown-variantes icon-color-tertiary">
                    {% render 'icon-flecha-abajo' %}
                  </div>
                </button>
                <div id=" phpm-items-variantes" class="variantes-producto">
                  <div class="variante-producto-es-item">
                    <p>Familiar</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-es-item">
                    <p>Mediana</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-es-item">
                    <p>Basica</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-es-item">
                    <p>Personalizada</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                </div>
              </div>
              <button id=" phpm-btn-personalizar" class="ph-btn-general phpm-btn-personalizar">
                <p class="color-letras-secondary">PERSONALIZAR</p>
              </button>
              <button id=" phpm-btn-personalizar" class="ph-btn-general phpm-btn-agregar icon-color-secondary">
                {% render 'icon-carrito' %}
                <p class="color-letras-secondary">AGREGAR</p>
              </button>
            </div>
          </div>
          <div class="producto-es-item">
            <div class="producto-es-item-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div
              tipo-producto="simple"
              class="producto-es-item-detalle"
            >
              <div class="producto-es-item-info">
                <h3>CHESSY LOVERS</h3>
                <p>
                  Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                  tocino.
                </p>
              </div>
              <h3 class="color-letras-primary">12.56 BS</h3>
              <div
                id=" phpm-general-variantes"
                tipo-producto="simple"
                class="seleccion-variante-producto-general"
              >
                <p>Tamaño</p>
                <button id="phpm-view-variantes" class="container-info-variante">
                  <p id=" phpm-variante-seleccionado">Personalizada</p>
                  <div class="icono-dropdown-variantes icon-color-tertiary">
                    {% render 'icon-flecha-abajo' %}
                  </div>
                </button>
                <div id=" phpm-items-variantes" class="variantes-producto">
                  <div class="variante-producto-es-item">
                    <p>Familiar</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-es-item">
                    <p>Mediana</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-es-item">
                    <p>Basica</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-es-item">
                    <p>Personalizada</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                </div>
              </div>
              <button id=" phpm-btn-personalizar" class="ph-btn-general phpm-btn-personalizar">
                <p class="color-letras-secondary">PERSONALIZAR</p>
              </button>
              <button id=" phpm-btn-personalizar" class="ph-btn-general phpm-btn-agregar icon-color-secondary">
                {% render 'icon-carrito' %}
                <p class="color-letras-secondary">AGREGAR</p>
              </button>
            </div>
          </div>
          <div class="producto-es-item">
            <div class="producto-es-item-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div
              tipo-producto="simple"
              class="producto-es-item-detalle"
            >
              <div class="producto-es-item-info">
                <h3>CHESSY LOVERS</h3>
                <p>
                  Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                  tocino.
                </p>
              </div>
              <h3 class="color-letras-primary">12.56 BS</h3>
              <div
                id=" phpm-general-variantes"
                tipo-producto="simple"
                class="seleccion-variante-producto-general"
              >
                <p>Tamaño</p>
                <button id="phpm-view-variantes" class="container-info-variante">
                  <p id=" phpm-variante-seleccionado">Personalizada</p>
                  <div class="icono-dropdown-variantes icon-color-tertiary">
                    {% render 'icon-flecha-abajo' %}
                  </div>
                </button>
                <div id=" phpm-items-variantes" class="variantes-producto">
                  <div class="variante-producto-es-item">
                    <p>Familiar</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-es-item">
                    <p>Mediana</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-es-item">
                    <p>Basica</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-es-item">
                    <p>Personalizada</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                </div>
              </div>
              <button id=" phpm-btn-personalizar" class="ph-btn-general phpm-btn-personalizar">
                <p class="color-letras-secondary">PERSONALIZAR</p>
              </button>
              <button id=" phpm-btn-personalizar" class="ph-btn-general phpm-btn-agregar icon-color-secondary">
                {% render 'icon-carrito' %}
                <p class="color-letras-secondary">AGREGAR</p>
              </button>
            </div>
          </div>
          <div class="producto-es-item">
            <div class="producto-es-item-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div
              tipo-producto="simple"
              class="producto-es-item-detalle"
            >
              <div class="producto-es-item-info">
                <h3>CHESSY LOVERS</h3>
                <p>
                  Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                  tocino.
                </p>
              </div>
              <h3 class="color-letras-primary">12.56 BS</h3>
              <div
                id=" phpm-general-variantes"
                tipo-producto="simple"
                class="seleccion-variante-producto-general"
              >
                <p>Tamaño</p>
                <button id="phpm-view-variantes" class="container-info-variante">
                  <p id=" phpm-variante-seleccionado">Personalizada</p>
                  <div class="icono-dropdown-variantes icon-color-tertiary">
                    {% render 'icon-flecha-abajo' %}
                  </div>
                </button>
                <div id=" phpm-items-variantes" class="variantes-producto">
                  <div class="variante-producto-es-item">
                    <p>Familiar</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-es-item">
                    <p>Mediana</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-es-item">
                    <p>Basica</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-es-item">
                    <p>Personalizada</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                </div>
              </div>
              <button id=" phpm-btn-personalizar" class="ph-btn-general phpm-btn-personalizar">
                <p class="color-letras-secondary">PERSONALIZAR</p>
              </button>
              <button id=" phpm-btn-personalizar" class="ph-btn-general phpm-btn-agregar icon-color-secondary">
                {% render 'icon-carrito' %}
                <p class="color-letras-secondary">AGREGAR</p>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="phpm-seccion">
        <div class="phpm-titulo-secundario">
          <h1 class="color-letras-primary">MITAD Y MITAD</h1>
        </div>
        <div id="phpm-seccion-pizzas" class="phpm-items container-base">
          <div class="producto-es-item">
            <div class="producto-es-item-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div
              tipo-producto="simple"
              class="producto-es-item-detalle"
            >
              <div class="producto-es-item-info">
                <h3>CHESSY LOVERS</h3>
                <p>
                  Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                  tocino.
                </p>
              </div>
              <button id=" phpm-btn-personalizar" class="ph-btn-general phpm-btn-personalizar">
                <p class="color-letras-secondary">PERSONALIZAR</p>
              </button>
            </div>
          </div>
          <div class="producto-es-item">
            <div class="producto-es-item-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div
              tipo-producto="simple"
              class="producto-es-item-detalle"
            >
              <div class="producto-es-item-info">
                <h3>CHESSY LOVERS</h3>
                <p>
                  Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                  tocino.
                </p>
              </div>
              <button id=" phpm-btn-personalizar" class="ph-btn-general phpm-btn-personalizar">
                <p class="color-letras-secondary">PERSONALIZAR</p>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="phpm-seccion">
        <div class="phpm-titulo-secundario">
          <h1 class="color-letras-primary">LOVERS</h1>
        </div>
        <div id="phpm-seccion-pizzas" class="phpm-items container-base">
          <div class="producto-es-item">
            <div class="producto-es-item-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div
              tipo-producto="simple"
              class="producto-es-item-detalle"
            >
              <div class="producto-es-item-info">
                <h3>CHESSY LOVERS</h3>
                <p>
                  Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                  tocino.
                </p>
              </div>
              <h3 class="color-letras-primary">12.56 BS</h3>
              <div
                id=" phpm-general-variantes"
                tipo-producto="simple"
                class="seleccion-variante-producto-general"
              >
                <p>Tamaño</p>
                <button id="phpm-view-variantes" class="container-info-variante">
                  <p id=" phpm-variante-seleccionado">Personalizada</p>
                  <div class="icono-dropdown-variantes icon-color-tertiary">
                    {% render 'icon-flecha-abajo' %}
                  </div>
                </button>
                <div id=" phpm-items-variantes" class="variantes-producto">
                  <div class="variante-producto-es-item">
                    <p>Familiar</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-es-item">
                    <p>Mediana</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-es-item">
                    <p>Basica</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-es-item">
                    <p>Personalizada</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                </div>
              </div>
              <button id=" phpm-btn-personalizar" class="ph-btn-general phpm-btn-personalizar">
                <p class="color-letras-secondary">PERSONALIZAR</p>
              </button>
              <button id=" phpm-btn-personalizar" class="ph-btn-general phpm-btn-agregar icon-color-secondary">
                {% render 'icon-carrito' %}
                <p class="color-letras-secondary">AGREGAR</p>
              </button>
            </div>
          </div>
          <div class="producto-es-item">
            <div class="producto-es-item-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div
              tipo-producto="simple"
              class="producto-es-item-detalle"
            >
              <div class="producto-es-item-info">
                <h3>CHESSY LOVERS</h3>
                <p>
                  Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                  tocino.
                </p>
              </div>
              <h3 class="color-letras-primary">12.56 BS</h3>
              <div
                id=" phpm-general-variantes"
                tipo-producto="simple"
                class="seleccion-variante-producto-general"
              >
                <p>Tamaño</p>
                <button id="phpm-view-variantes" class="container-info-variante">
                  <p id=" phpm-variante-seleccionado">Personalizada</p>
                  <div class="icono-dropdown-variantes icon-color-tertiary">
                    {% render 'icon-flecha-abajo' %}
                  </div>
                </button>
                <div id=" phpm-items-variantes" class="variantes-producto">
                  <div class="variante-producto-es-item">
                    <p>Familiar</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-es-item">
                    <p>Mediana</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-es-item">
                    <p>Basica</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-es-item">
                    <p>Personalizada</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                </div>
              </div>
              <button id=" phpm-btn-personalizar" class="ph-btn-general phpm-btn-personalizar">
                <p class="color-letras-secondary">PERSONALIZAR</p>
              </button>
              <button id=" phpm-btn-personalizar" class="ph-btn-general phpm-btn-agregar icon-color-secondary">
                {% render 'icon-carrito' %}
                <p class="color-letras-secondary">AGREGAR</p>
              </button>
            </div>
          </div>
          <div class="producto-es-item">
            <div class="producto-es-item-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div
              tipo-producto="simple"
              class="producto-es-item-detalle"
            >
              <div class="producto-es-item-info">
                <h3>CHESSY LOVERS</h3>
                <p>
                  Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                  tocino.
                </p>
              </div>
              <h3 class="color-letras-primary">12.56 BS</h3>
              <div
                id=" phpm-general-variantes"
                tipo-producto="simple"
                class="seleccion-variante-producto-general"
              >
                <p>Tamaño</p>
                <button id="phpm-view-variantes" class="container-info-variante">
                  <p id=" phpm-variante-seleccionado">Personalizada</p>
                  <div class="icono-dropdown-variantes icon-color-tertiary">
                    {% render 'icon-flecha-abajo' %}
                  </div>
                </button>
                <div id=" phpm-items-variantes" class="variantes-producto">
                  <div class="variante-producto-es-item">
                    <p>Familiar</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-es-item">
                    <p>Mediana</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-es-item">
                    <p>Basica</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-es-item">
                    <p>Personalizada</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                </div>
              </div>
              <button id=" phpm-btn-personalizar" class="ph-btn-general phpm-btn-personalizar">
                <p class="color-letras-secondary">PERSONALIZAR</p>
              </button>
              <button id=" phpm-btn-personalizar" class="ph-btn-general phpm-btn-agregar icon-color-secondary">
                {% render 'icon-carrito' %}
                <p class="color-letras-secondary">AGREGAR</p>
              </button>
            </div>
          </div>
          <div class="producto-es-item">
            <div class="producto-es-item-imagen">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div
              tipo-producto="simple"
              class="producto-es-item-detalle"
            >
              <div class="producto-es-item-info">
                <h3>CHESSY LOVERS</h3>
                <p>
                  Salsa de tomate, queso mozarella, Pepperoni, Jamón, carnes mixtas (res y cerdo, salchicha italiana y
                  tocino.
                </p>
              </div>
              <h3 class="color-letras-primary">12.56 BS</h3>
              <div
                id=" phpm-general-variantes"
                tipo-producto="simple"
                class="seleccion-variante-producto-general"
              >
                <p>Tamaño</p>
                <button id="phpm-view-variantes" class="container-info-variante">
                  <p id=" phpm-variante-seleccionado">Personalizada</p>
                  <div class="icono-dropdown-variantes icon-color-tertiary">
                    {% render 'icon-flecha-abajo' %}
                  </div>
                </button>
                <div id=" phpm-items-variantes" class="variantes-producto">
                  <div class="variante-producto-es-item">
                    <p>Familiar</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-es-item">
                    <p>Mediana</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-es-item">
                    <p>Basica</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                  <div class="variante-producto-es-item">
                    <p>Personalizada</p>
                    <p class="color-letras-primary">12.56 BS</p>
                  </div>
                </div>
              </div>
              <button id=" phpm-btn-personalizar" class="ph-btn-general phpm-btn-personalizar">
                <p class="color-letras-secondary">PERSONALIZAR</p>
              </button>
              <button id=" phpm-btn-personalizar" class="ph-btn-general phpm-btn-agregar icon-color-secondary">
                {% render 'icon-carrito' %}
                <p class="color-letras-secondary">AGREGAR</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- PRODUCTOS PIZZAS -->
    <!-- PRODUCTOS POSTRES -->
    <!-- PRODUCTOS GASEOSAS Y CERVESAS -->
  </section>
</page-menu-productos>

{% style %}
  .menu-page {
    width: 100%;
    height: 56rem;
    background-color: var(--color-primary);
  }

  .phpm-titulo-primario,
  .phpm-titulo-secundario,
  .phpm-seccion {
    width: 100%;
    max-width: 1660px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: var(--espaciado-xxl);
  }

  .phpm-seccion small {
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.0875rem;
    text-transform: uppercase;
  }

  .phpm-items {
    display: flex;
    align-items: start;
    gap: var(--espaciado-xl);
    overflow-x: auto;
    overflow-y: hidden;
  }

  .phpm-items::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .phpm-btn-personalizar {
    display: none;
  }

  .phpm-btn-agregar {
    display: flex;
  }

  .seleccion-variante-producto-general {
    display: none;
  }

  .phpm-titulo-primario,
  .phpm-titulo-secundario {
    padding-left: var(--espaciado-xl) !important;
    padding-right: var(--espaciado-xl) !important;
  }

  @media screen and (min-width: 768px) {
    .phpm-titulo-primario,
    .phpm-titulo-secundario {
      padding-left: var(--espaciado-xxxl) !important;
      padding-right: var(--espaciado-xxxl) !important;
    }

    .producto-es-item {
      display: flex;
      flex-direction: column;
    }

    .seleccion-variante-producto-general {
      display: flex;
    }

    .phpm-btn-personalizar {
      display: flex;
    }

    .phpm-btn-agregar {
      display: none;
    }
  }

  @media screen and (min-width: 1024px) {
    .phpm-titulo-primario,
    .phpm-titulo-secundario {
      padding-left: 3.44rem !important;
      padding-right: 3.44rem !important;
    }
  }
{% endstyle %}

<script>
  class PageMenuProductos extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      console.log('page-menu-productos');
      const botonesPersonalizar = document.querySelectorAll('.boton-producto-personalizar');
      const botonesAgregar = document.querySelectorAll('.boton-producto-agregar');

      // Agregar event listener a cada botón personalizar
      botonesPersonalizar.forEach((boton) => {
        boton.addEventListener('click', () => {
          console.log('click personalizar');
          window.location.href = '/pages/producto';
        });
      });

      // Agregar event listener a cada botón agregar
      botonesAgregar.forEach((boton) => {
        boton.addEventListener('click', () => {
          console.log('click agregar');
          window.location.href = '/pages/producto';
        });
      });
    }
  }

  customElements.define('page-menu-productos', PageMenuProductos);

  document.addEventListener('DOMContentLoaded', function () {
    // Selecciona todos los elementos que tienen overflow-x scrollable
    const elementosScrollables = Array.from(document.querySelectorAll('*')).filter((elemento) => {
      const estilo = window.getComputedStyle(elemento);
      // Filtra elementos que tienen overflow-x auto o scroll y necesitan scroll horizontal
      return (estilo.overflowX === 'auto' || estilo.overflowX === 'scroll') && elemento.scrollWidth > elemento.clientWidth;
    });

    // Configura cada elemento scrollable
    elementosScrollables.forEach((elemento) => {
      // Mantenemos el código comentado como lo solicitaste
      {% comment %} element.addEventListener(
        'wheel',
        function (event) {
          if (isMouseOver(event, this)) {
            event.preventDefault();
            const scrollFactor = 1.5;
            this.scrollLeft += event.deltaY * scrollFactor;
          }
        },
        { passive: false }
      ); {% endcomment %}

      // Variables para controlar el estado del arrastre
      let estaPresionado = false;
      let posicionInicialX;
      let posicionScrollInicial;

      // 1. Cuando se presiona el botón del mouse
      elemento.addEventListener('mousedown', (evento) => {
        estaPresionado = true;
        elemento.style.cursor = 'grabbing'; // Cambia el cursor a "agarrando"
        // Guarda la posición inicial del mouse y del scroll
        posicionInicialX = evento.pageX - elemento.offsetLeft;
        posicionScrollInicial = elemento.scrollLeft;
      });

      // 2. Cuando el mouse sale del elemento
      elemento.addEventListener('mouseleave', () => {
        estaPresionado = false;
        elemento.style.cursor = 'auto'; // Restaura el cursor
      });

      // 3. Cuando se suelta el botón del mouse
      elemento.addEventListener('mouseup', () => {
        estaPresionado = false;
        elemento.style.cursor = 'auto'; // Restaura el cursor
      });

      // 4. Cuando se mueve el mouse
      elemento.addEventListener('mousemove', (evento) => {
        // Solo hacer scroll si el botón está presionado
        if (!estaPresionado) return;

        evento.preventDefault(); // Evita comportamientos no deseados

        // Calcula cuánto se ha movido el mouse
        const posicionActualX = evento.pageX - elemento.offsetLeft;
        const distanciaMovida = (posicionActualX - posicionInicialX) * 0.7; // Factor de suavizado

        // Actualiza la posición del scroll
        elemento.scrollLeft = posicionScrollInicial - distanciaMovida;
      });
    });
  });

  {% comment %} function isMouseOver(event, element) {
    const rect = element.getBoundingClientRect();
    return (
      event.clientX >= rect.left &&
      event.clientX <= rect.right &&
      event.clientY >= rect.top &&
      event.clientY <= rect.bottom
    );
  } {% endcomment %}
</script>
