<!-- Hoja de estiloss css -->
{{ 'estilos-generales.css' | asset_url | stylesheet_tag }}
{{ 'estilos-auxliares.css' | asset_url | stylesheet_tag }}
{{ 'page-checkout.css' | asset_url | stylesheet_tag }}
{{ 'page.producto.css' | asset_url | stylesheet_tag }}

<page-checkout-ph>
  <div class="container-main-smecph container-base">
    <h1>¿Cómo deseas recibir tu pedido?</h1>
    <section class="smecph-opciones-metodos" id="pcktph-seleccion-metodo">
      <div id="phpc-metodo-local" class="smecph-opcion-metodo">
        <div class="smecph-opcion-info">
          {% render 'icon-recogo-local' %}
          <div class="smecph-opcion-mensaje">
            <p>Recoger en local</p>
            <p>Sin costo alguno</p>
          </div>
        </div>
        <div class="smecph-opcion-icono">
          {% render 'icon-estado-off' %}
        </div>
      </div>
      <div id="phpc-metodo-domicilio" class="smecph-opcion-metodo">
        <div class="smecph-opcion-info">
          {% render 'icon-recogo-delivery' %}
          <div class="smecph-opcion-mensaje">
            <p>Envío a domicilio</p>
            <p>Envío a solo Bs 2</p>
          </div>
        </div>
        <div class="smecph-opcion-icono">
          {% render 'icon-estado-off' %}
        </div>
      </div>
    </section>
    <section class="container-sub-smecph" id="pcktph-seleccion-local" style="display: none;">
      <h4>SELECCIONAR LOCAL</h4>
      <div class="smecph-pc-info-input">
        <p>Sucursal</p>
        <div class="ph-container-input">
          <div id="phpc-resultados-seleccion-local" class="smecph-pc-resultados-input" style="display: none;"></div>
          {% render 'icon-search' %}
          <input id="phpc-input-seleccionar-local" type="text" placeholder="Buscar Local">
          <button id="phpc-mostrar-todos-locales" class="smecph-pc-input-icono">
            {% render 'icon-flecha-abajo' %}
          </button>
        </div>
      </div>
      <div class="pcktph-seleccion-local-detalle" style="display: none;">
        <div class="pcktph-seleccion-local-detalle-info ">
          <p>Pirai 2do Anillo</p>
          <p>Listo para retirar en 30 minutos</p>
        </div>
        <button
          id="phpc-btn-ver-direccion-mapa"
          class="pcktpch-btn-primario icon-color-primary"
        >
          {% render 'icon-flecha-hutcoins' %}
          <p class="color-letras-primary">VER DIRECCION EN MAPA</p>
        </button>
      </div>
    </section>
    <section class="container-sub-smecph" id="pcktph-direccion-envio" style="display: none;">
      <h4>Dirección de envio</h4>
      <div class="smecph-pc-info-input">
        <p>Direcciónes</p>
        <div class="ph-container-input">
          <div
            id="phpc-resultados-seleccion-direccion-envio"
            class="smecph-pc-resultados-input"
            style="display: none;"
          ></div>
          {% render 'icon-search' %}
          <input
            id="phpc-input-seleccionar-direccion"
            type="text"
            placeholder="Direcciones"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
          >
          <button id="phpc-btn-ver-direcciones-todas" class="smecph-pc-input-icono">
            {% render 'icon-flecha-abajo' %}
          </button>
        </div>
      </div>
      <button id="phpc-btn-anadir-nueva-direccion" class="pcktpch-btn-secundario icon-color-primary">
        {% render 'icon-mas' %}
        <p class="color-letras-primary">AÑADIR NUEVA DIRECCIÓN</p>
      </button>
    </section>
    <section class="container-sub-smecph" id="pcktph-datos-contacto">
      <div class="smecph-pc-header-especial">
        <div class="smecph-pc-dch_info">
          <h4>Datos de contacto</h4>
          <p>Ingrese tus datos para disfrutar tu pizza favorita.</p>
        </div>
        {% comment %}
          <button class="smecph-pc-dch_btn">
            {% render 'icon-guardar' %}
            <p class="color-letras-primary">GUARDAR</p>
          </button>
        {% endcomment %}
        <button class="smecph-pc-dch_btn">
          {% render 'icon-editar' %}
          <p class="color-letras-primary">EDITAR DATOS</p>
        </button>
      </div>
      <div class="smecph-formulario-datos-contacto">
        <div class="smecph-pc-info-input">
          <p>Nombres</p>
          <div class="ph-container-input">
            <input type="text" placeholder="Nombres">
          </div>
        </div>
        <div class="smecph-pc-info-input">
          <p>Apellidos</p>
          <div class="ph-container-input">
            <input type="text" placeholder="Apellidos">
          </div>
        </div>
        <div class="smecph-pc-info-input">
          <p>Correo Electrónico</p>
          <div class="ph-container-input">
            <input type="email" placeholder="Correo Electrónico">
          </div>
        </div>
        <div class="smecph-pc-info-input">
          <p>Celular</p>
          <div class="ph-container-input">
            <input type="number" placeholder="Teléfono">
          </div>
          <div class="smecph-pc-mensaje-input">
            {% render 'icon-info' %}
            <p>Nos contactaremos a este número para entregar tu pedido.</p>
          </div>
        </div>
        <div class="smecph-pc-info-input error">
          <p>Número de Carnet de identidad (C.I.)</p>
          <div class="ph-container-input">
            <input type="number" placeholder="Carnet de identidad">
          </div>
          <div class="smecph-pc-mensaje-input">
            {% render 'icon-info' %}
            <p>Este campo es obligatorio.</p>
          </div>
        </div>
      </div>
      <div class="smecph-datos-contacto-consolidados">
        <p>Ingresa tus datos para disfrutar tu pizza favorita.</p>
        <p>Maria Lopez | mlopez@email.com 77453368 | 2233400</p>
      </div>
    </section>
    <section class="container-sub-smecph" id="pcktph-datos-pago">
      <div class="smecph-pc-dp-header">
        <h4>Datos de facturación</h4>
        <p>Ingrese tus datos para facturar tu pedido.</p>
      </div>
      <div class="smecph-mensaje-alerta icon-color-primary">
        {% render 'icon-info' %}
        <p>Es obligatorio seleccionar un método de pago</p>
      </div>
      <div class="smecph-pc-dp-items">
        <div class="smecph-pc-dp-item">
          <div class="smecph-pc-dp-item-info">
            <div class="smecph-pcdp-item-extra">
              {% render 'icon-qr' %}
              <p>Código QR</p>
            </div>
            <p>Paga ahora usando un QR desde la app de tu banco.</p>
          </div>
          <div class="smecph-pc-dp-item-icono">
            {% render 'icon-estado-off' %}
          </div>
        </div>
        <div class="smecph-pc-dp-item seleccionado">
          <div class="smecph-pc-dp-item-info">
            <div class="smecph-pcdp-item-extra ">
              {% render 'icon-tarjeta-credito' %}
              <p>Tarjeta (en físico)</p>
            </div>
            <p>Paga con tarjeta al momento de recibir tu pedido.</p>
          </div>
          <div class="smecph-pc-dp-item-icono">
            {% render 'icon-estado-on' %}
          </div>
        </div>
        <div class="smecph-formulario-metodo-tarjeta">
          <div class="smecph-mensaje-informacion">
            {% render 'icon-info' %}
            <p>Tu tarjeta debe estar habilitada para pagos por internet.</p>
          </div>
          <div class="smecph-pc-info-input">
            <p>Primeros 4 dígitos de la tarjeta</p>
            <div class="ph-container-input">
              <input type="number" placeholder="Primeros 4 dígitos">
            </div>
          </div>
          <div class="smecph-pc-info-input">
            <p>Últimos 4 dígitos de la tarjeta</p>
            <div class="ph-container-input">
              <input type="number" placeholder="Últimos 4 dígitos">
            </div>
          </div>
        </div>
        <div class="smecph-pc-dp-item ">
          <div class="smecph-pc-dp-item-info">
            <div class="smecph-pcdp-item-extra">
              {% render 'icon-dolar' %}
              <p>Efectivo</p>
            </div>
            <p>Paga en efectivo al momento de recibir tu pedido.</p>
          </div>
          <div class="smecph-pc-dp-item-icono">
            {% render 'icon-estado-off' %}
          </div>
        </div>
      </div>
    </section>
    <section class="container-sub-smecph" id="pcktph-datos-facturacion">
      <div class="smecph-pc-header-especial">
        <div class="smecph-pc-dch_info">
          <h4>Datos de facturación</h4>
          <p>Información de facturación.</p>
        </div>
        <button class="smecph-pc-dch_btn">
          {% render 'icon-guardar' %}
          <p class="color-letras-primary">GUARDAR</p>
        </button>
      </div>
      <div class="smecph-pc-info-input">
        <p>Nombre o Razón Social</p>
        <div class="ph-container-input">
          <input type="text" placeholder="Nombre o Razón Social">
        </div>
      </div>
      <div class="smecph-pc-info-input">
        <p>Número de C.I. o N.I.T.</p>
        <div class="ph-container-input">
          <input type="text" placeholder="Número de C.I. o N.I.T.">
        </div>
      </div>
    </section>
    <section class="container-sub-smecph" id="pcktph-detalle-carrito">
      <div class="smecph-pc-header-simple">
        <h4>Resumen</h4>
        <button class="smecph-pc-dch_btn_dc icon-color-primary">
          {% render 'icon-carrito' %}
          <p class="color-letras-primary">EDITAR CARRITO</p>
        </button>
      </div>
      <div class="smecph-pc-items-carrito">
        <div class="smecph-pc-item-carrito">
          <div class="smecph-pc-item-carrito-info">
            <div class="smecph-pc-item-ci-img">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div class="smecph-pc-item-ci-detalle">
              <div class="smecph-pc-item-cid1">
                <p>Cheesy Lovers</p>
              </div>
              <div class="smecph-pc-item-cid2">
                <p>x2</p>
              </div>
              <div class="smecph-pc-item-cid3">
                <div class="smecph-pc-item-cid3_total">
                  <small>Bs</small>
                  <p>126.00</p>
                </div>
                <div class="smecph-pc-item-cid3_total color-letras-extra">
                  <small>Bs</small>
                  <p>20.05</p>
                </div>
              </div>
            </div>
          </div>
          <div class="smecph-pc-item-carrito-extra">
            <p>COMPLEMENTOS</p>
            <ul class="color-letras-extra">
              <li>
                <p>2x: Soda 350ml</p>
              </li>
              <li>
                <p>2x: Sprite 350ml</p>
              </li>
              <li>
                <p>2x: Dulce de leche</p>
              </li>
              <li>
                <p>1x: Sprite 350ml</p>
              </li>
              <li>
                <p>5x: Postres Maracuya</p>
              </li>
            </ul>
            <p>ADICIONALES</p>
            <ul class="color-letras-extra">
              <li>
                <p>2x: Soda 350ml</p>
              </li>
              <li>
                <p>2x: Sprite 350ml</p>
              </li>
              <li>
                <p>2x: Dulce de leche</p>
              </li>
              <li>
                <p>1x: Sprite 350ml</p>
              </li>
              <li>
                <p>5x: Postres Maracuya</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="smecph-pc-item-carrito">
          <div class="smecph-pc-item-carrito-info">
            <div class="smecph-pc-item-ci-img">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div class="smecph-pc-item-ci-detalle">
              <div class="smecph-pc-item-cid1">
                <p>Cheesy Lovers</p>
              </div>
              <div class="smecph-pc-item-cid2">
                <p>x2</p>
              </div>
              <div class="smecph-pc-item-cid3">
                <div class="smecph-pc-item-cid3_total">
                  <small>Bs</small>
                  <p>126.00</p>
                </div>
                <div class="smecph-pc-item-cid3_total color-letras-extra">
                  <small>Bs</small>
                  <p>20.05</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="smecph-pc-item-carrito">
          <div class="smecph-pc-item-carrito-info">
            <div class="smecph-pc-item-ci-img">
              <img src="{{ 'imagen-pizza-1.png' | asset_url }}" alt="Pizza 1" width="100%" height="100%">
            </div>
            <div class="smecph-pc-item-ci-detalle">
              <div class="smecph-pc-item-cid1">
                <p>Cheesy Lovers</p>
              </div>
              <div class="smecph-pc-item-cid2">
                <p>x2</p>
              </div>
              <div class="smecph-pc-item-cid3">
                <div class="smecph-pc-item-cid3_total">
                  <small>Bs</small>
                  <p>126.00</p>
                </div>
                <div class="smecph-pc-item-cid3_total color-letras-extra">
                  <small>Bs</small>
                  <p>20.05</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="smecph-pc-header-simple">
        <h4>Cupon de descuento</h4>
        <button class="smecph-pc-dch_btn icon-color-primary">
          {% render 'icon-search' %}
          <p class="color-letras-primary">VER CUPONES</p>
        </button>
      </div>
      <div class="ph-container-input">
        <input type="text" placeholder="Código de descuento">
      </div>
      <button class="smecph-pc-btn-aplicar-cupon">
        <p>Aplicar cupón</p>
      </button>
      <div class="smecph-mensaje-exito">
        {% render 'icon-check' %}
      </div>

      <hr>
      <div class="smecph-pcdc-precio-info">
        <p>Subtotal</p>
        <p>Bs 126.05</p>
      </div>
      <div class="smecph-pcdc-precio-info">
        <p>Descuento</p>
        <p>Bs 000.00</p>
      </div>
      <div class="smecph-pcdc-precio-info">
        <p>Recojo en local</p>
        <p>Bs 000.00</p>
      </div>
      <hr>
      <div class="smecph-pcdc-precio-info">
        <p>Total</p>
        <p>Bs 175.05</p>
      </div>
    </section>
    <section class="container-sub-smecph" id="pcktph-nota-pedido">
      <h4>NOTA PARA EL PEDIDO</h4>
      <div class="smecph-pc-info-input">
        <p>Información adicional</p>
        <div class="ph-container-input">
          <input type="text" placeholder="Información adicional">
        </div>
      </div>
    </section>
    <section class="container-sub-smecph" id="pcktph-hutcoins">
      <div class="smecph-pc-hutcoins-banner">
        <img src="{{ 'banner-hutcoints-carrito.png' | asset_url }}" alt="Hutcoins Banner" width="100%" height="100%">
      </div>
      <div class="smecph-pc-hutcoins-mensaje">
        <div class="ph-container-icono">
          {% render 'icon-checkbox-off' %}
        </div>
        <p>Usar mi información para registrarme a Hut Coins y ganar puntos por esta compra.</p>
      </div>
      <div class="smecph-pc-info-input">
        <p>Fecha de nacimiento</p>
        <div class="ph-container-input">
          <input type="date" placeholder="Fecha de nacimiento">
        </div>
      </div>
    </section>
    <section class="ph-opciones-mobile-footer">
      <button class="pcktph-btn-continuar">
        <p>Continuar</p>
      </button>
    </section>
    <section class="ph-background-container-modal" style="display: none;">
      <!-- 1re MODAL : NUEVA DIRECCION -->
      <div id="phpc-modal-body-nueva-direccion" class="ph-mmdi-modal-main" style="display: none;">
        <div class="pcktpch-modal-header">
          <div class="pcktpch-modal-header-opciones">
            <button id="phpc-btn-modal-volver-atras" class="pcktpch-modal-volver-atras icon-color-tertiary">
              {% render 'icon-volver-atras' %}
            </button>
            <h4>NUEVA DIRECCIÓN</h4>
          </div>
          <button id="phpc-btn-cerrar-modal-nuevadireccion" class="pcktpch-modal-btn-cerrar">
            {% render 'icon-close-custom' %}
          </button>
        </div>
        <div id="phpc-modal-nd-fase1" class="pcktpch-modal-body-fase1" style="display: none;">
          <p>Ingresa tu dirección o usa tu ubicación actual.</p>
          <button id="phpc-btn-miubicacionactual-nd" class="pcktpch-btn-secundario">
            {% render 'icon-gps-rojo' %}
            <p>USAR MI UBICACIÓN ACTUAL</p>
          </button>
          <div class="pcktpch-modal-separador">
            <div class="pcktpch-modal-separador-linea"></div>
            <p>O</p>
            <div class="pcktpch-modal-separador-linea"></div>
          </div>
          <div class="ph-container-input icon-color-tertiary">
            <div
              id="phpc-resultados-sugerencias-referencia"
              class="smecph-pc-resultados-input"
              style="display: none;"
            ></div>
            {% render 'icon-location-on' %}
            <input
              id="phpc-input-punto-referencia-nd"
              type="text"
              placeholder="Ingresar dirección o punto de referencia"
            >
          </div>
        </div>
        <div id="phpc-modal-nd-fase2" class="pcktpch-modal-body-fase2" style="display: none;">
          <div class="smecph-mensaje-informacion">
            {% render 'icon-info' %}
            <p>Si es necesario, cambia la ubicación del pin en el mapa.</p>
          </div>
          <div id="phpc-modal-nd-mapa" class="pcktpch-modal-mapa"></div>
        </div>
        <div id="phpc-modal-nd-fase3" class="pcktpch-modal-body-fase3" style="display: none;">
          <div class="smecph-pc-info-input">
            <p>Indicaciones acerca de tu dirección</p>
            <div class="ph-container-input">
              <input
                autocomplete="off"
                id="phpc-input-indicaciones-nd"
                type="text"
                placeholder="Ingresar indicaciones para tu dirección"
              >
            </div>
          </div>
          <div class="smecph-pc-info-input">
            <p>Alias</p>
            <div class="ph-container-input icon-color-tertiary">
              {% render 'icon-location-on' %}
              <input id="phpc-input-alias-nd" type="text" placeholder="Ingresar el alias para esta dirección">
            </div>
          </div>
        </div>
        <div id="phpc-modal-footer-nd" class="pcktpch-modal-footer" style="display: none;">
          <button id="phpc-btn-proceso-principal-nd" class="pcktpch-btn-general">
            <p id="phpc-etiqueta-btn-acciones"></p>
          </button>
          <button id="phpc-btn-cancelar-nd" class="pcktpch-btn-secundario">
            <p>CANCELAR</p>
          </button>
        </div>
      </div>
      <!-- 2do MODAL : SNIPPER DE CARGANDO -->
      <div class="ph-modal-main-snipper" style="display: none;">
        <div class="ph-modal-body-snipper">
          <div class="snipper-container">
            <div class="snipper-background">
              <img
                src="{{ 'fondoSnipper.png' | asset_url }}"
                alt="Fondo de Snipper"
                width="100%"
                height="100%"
              >
            </div>
            <div class="snipper-logo">
              <img
                src="{{ 'logoSnipper.png' | asset_url }}"
                alt="Logo de Snipper"
                width="100%"
                height="100%"
              >
            </div>
          </div>
        </div>
        <p>Procesando informacion ...</p>
      </div>
      <div class="ph-modal-main-mensajes" style="display: none;">
        <!-- 3er MODAL : EXITO -->
        <div class="ph-modal-body-exito">
          <img src="{{ 'imagen-check-verde.png' | asset_url }}" alt="Icono de exito" width="100%" height="100%">
          <small>mensaje de confirmación</small>
        </div>
        <!-- 4to MODAL : QR -->
        <div class="ph-modal-body-qr">
          <h1>PAGO POR QR</h1>
          <div class="ph-modal-qr-detalles">
            <h4>ESCANEA EL CÓDIGO QR</h4>
            <p>1. Abre la aplicación de tu banco.</p>
            <p>2. Selecciona la forma de pago QR Simple.</p>
            <p>3. Captura el Código QR con la cámara o descarga la imagen.</p>
            <p>4. Mantén esta página abierta para que puedas ver la confirmación de tu pago.</p>
          </div>
          <div class="smecph-mensaje-informacion">
            {% render 'icon-info' %}
            <p>Aguardando tu pago...</p>
          </div>
          <div class="ph-modal-imgen-qr">
            <img src="{{ 'qr-prueba.png' | asset_url }}" alt="QR" width="100%" height="100%">
          </div>
          <button class="pcktpch-btn-secundario">
            {% render 'icon-descargar' %}
            <p>DESCARGAR QR</p>
          </button>
        </div>
      </div>
      <!-- 3re MODAL : DETALLE DE LOCAL SELECCIONADO -->
      <div id="phpc-modal-body-local-seleccionado" class="psme-modal-contenedor-base" style="display: none;">
        <div class="psme-modal-header">
          <div class="psme-modal-mensaje">
            {% render 'icon-info' %}
            <p id="phpc-etiqueta-informacion-modal-local-seleccionado"></p>
          </div>
          <button class="psme-modal-boton-cerrar" id="phpc-btn-cerrar-modal">
            {% render 'icon-close-rojo' %}
          </button>
        </div>
        <div id="phpc-localSeleccionado-mapa" class="psme-modal-body"></div>
      </div>
    </section>
  </div>
</page-checkout-ph>
