<!-- Hoja de estiloss css -->
{{ 'estilos-generales.css' | asset_url | stylesheet_tag }}
{{ 'page-detalle-pedido.css' | asset_url | stylesheet_tag }}

<detalle-pedido>
  <div class="container-main-smecph">
    <section class="container-sub-simple-smecph" id="etapa-1-detalle-pedido">
      <div class="pdpph-imagen-etapa1">
        <img src="{{ 'imagen-check-verde.png' | asset_url }}" alt="Icono de exito" width="100%" height="100%">
      </div>
      <small>¡pedido confirmado! en breve estarás disfrutando</small>
      <div class="pdpph-mensaje-etapa1">
        <div class="pdpph-mensaje-etapa1-icono icon-color-secondary">
          {% render 'icon-recogo-local' %}
        </div>
        <h1 id="phpdp-etiqueta-tipo-pedido" class="color-letras-primary"></h1>
      </div>
      <div class="pdpph-info-etapa1 color-letras-extra">
        <h3>Nº de pedido 235246</h3>
        <h3>ESTARA LISTO A las 13:30</h3>
        <h3>fecha 23 de feb. 2025</h3>
      </div>
      <hr>
    </section>
    <section
      style="display: none;"
      class="container-sub-simple-smecph"
      id="phpdp-seccion-superior-detalle-pedido"
    >
      <small style="width: 100%;">DETALLE DEL PEDIDO</small>
      <div class="container-sub-simple-smecph-row">
        <div class="pdpph-etapa2-mensaje">
          <p id="phpdp-etiqueta-idshopify-order">#235246</p>
          <div
            id="phpdp-info-superior-detalle-pedido"
            class="pdpph-etapa2-mensaje2 color-letras-extra"
          >
            {% comment %}
              <p>1 COMBO</p>
              <p>•</p>
              <p>
                Pedido realizado: <br>
                13 de febrero de 2025 Hora: 13:00 P.M.
              </p>
            {% endcomment %}
          </div>
        </div>
        <h3
          id="phpdp-etiqueta-totalPedido"
          style="white-space: nowrap;"
          class="color-letras-primary"
        >
          55.00 Bs
        </h3>
      </div>
    </section>
    <section
      style="display: none;"
      class="container-sub-simple-smecph phpdp-extra"
      id="phpdp-seccion-inferior-detalle-pedido"
    >
      <h4>PEDIDO EN LOCAL</h4>
      <div
        style="display: none;"
        id="phpdp-detalle-pedido-local"
        class="container-sub-simple-smecph-column"
        id="pdpph-etapa2-info-local"
      >
        <h3 class="color-letras-primary">BANZER 3RE ANILLO</h3>
        <div class="pdpph-etapa2-info-local">
          {% render 'icon-location-on' %}
          <p>Av. 6 de Agosto 1234, La Paz, Bolivia</p>
        </div>
        <div class="pdpph-etapa2-info-local">
          {% render 'icon-headser-mic' %}
          <p>+591 7 222 222 22</p>
        </div>
        <button
          id="phpdp-btn-abrir-mapa"
          class="ph-btn-secundario icon-color-primary"
        >
          <p>ABRIR UBICACION EN MAPA</p>
          {% render 'icon-map' %}
        </button>
      </div>
      <div
        style="display: none;"
        id="phpdp-detalle-envio-domicilio"
        class="container-sub-simple-smecph-column"
        id="pdpph-etapa2-info-local"
      >
        <h3 class="color-letras-primary">BANZER 3RE ANILLO</h3>
        <div class="pdpph-etapa2-info-local">
          {% render 'icon-location-on' %}
          <p>Av. 6 de Agosto 1234, La Paz, Bolivia</p>
        </div>
        <div class="pdpph-etapa2-info-local">
          {% render 'icon-headser-mic' %}
          <p>+591 7 222 222 22</p>
        </div>
        <button
          id="phpdp-btn-abrir-mapa"
          class="ph-btn-secundario icon-color-primary"
        >
          <p>ABRIR UBICACION EN MAPA</p>
          {% render 'icon-map' %}
        </button>
      </div>
      <h4>METODO DE PAGO</h4>
      <div
        id="phpdp-metodo-pago"
        class="pdpph-etapa2-metodo-pago icon-color-extra"
        id="pdpph-etapa2-metodo-pago"
      >
        {% comment %}
          {% render 'icon-dolar' %}
          <p class="color-letras-extra">Efectivo contra entrega</p>
        {% endcomment %}
      </div>
      <h4>TU PEDIDO(1)</h4>
      <div class="container-sub-smecph">
        <div class="pdpph-etapa2-info-pedido">
          <p>COMBO LA CONDICIONAL</p>
          <p class="color-letras-extra">Cantidad: 1</p>
        </div>
        <p style="font-weight: 700;" class="color-letras-primary">55.00 Bs</p>
      </div>
      <div class="container-sub-smecph">
        <div class="pdpph-etapa2-info-pedido">
          <p>COMBO LA CONDICIONAL</p>
          <p class="color-letras-extra">Cantidad: 1</p>
        </div>
        <p style="font-weight: 700;" class="color-letras-primary">55.00 Bs</p>
      </div>
      <div class="pdpph-detalle-precios">
        <div class="pdpph-detalle-precios-item">
          <p>Subtotal</p>
          <p
            id="phpdp-etiqueta-subtotal"
          >
            55.00 Bs
          </p>
        </div>
        <div class="pdpph-detalle-precios-item">
          <p>Entrega</p>
          <p>0 Bs</p>
        </div>
        <div class="pdpph-detalle-precios-item">
          <p>Descuento</p>
          <p>0 Bs</p>
        </div>
        <hr>
        <div
          id="phpdp-etiqueta-total"
          class="pdpph-detalle-precios-item"
        >
          <p>Total</p>
          <p>65.00 Bs</p>
        </div>
      </div>
      <div
        id="phpdp-seccion-nota-envio"
        class="container-sub-simple-smecph-column pdpph-extra-mobile"
      >
        <h4>NOTA DE ENVIO</h4>
        <p style="text-align: start;">
          Por favor, agregar extra queso en la pizza y asegurarse de que la masa sea pan pizza. Entregar sin tocar el
          timbre, solo llamar al celular al llegar. Gracias.
        </p>
      </div>
    </section>
    <section class="ph-opciones-mobile-footer" id="phpdp-opciones">
      <button
        id="phpdp-btn-ver-mas-detalles"
        class="ph-btn-secundario"
      >
        <p>VER MAS DETALLES</p>
      </button>
      <button
        style="display: none;"
        id="phpdp-btn-volver-atras"
        class="ph-btn-primario icon-color-primary"
      >
        {% render 'icon-volver-atras' %}
        <p>VOLVER ATRAS</p>
      </button>
      <button
        style="display: none;"
        id="phpdp-btn-volver-inicio"
        class="ph-btn-primario icon-color-primary"
      >
        {% render 'icon-volver-atras' %}
        <p>VOLVER INICIO</p>
      </button>
    </section>
  </div>

  <!-- MODAL SNIPPER DE CARGANDO -->
  {% comment %}
    <section
      id="phpdp-modal-snipper"
      class="ph-background-container-modal"
    >
      <div
        id="phpep-modal-snipper-body"
        class="ph-modal-main-snipper"
      >
        <div class="ph-modal-body-snipper">
          <div class="snipper-container">
            <div class="snipper-background">
              <img
                src="{{ 'fondoSnipper.png' | asset_url }}"
                alt="Fondo de Snipper"
                width="100%"
                height="100%"
              >
            </div>
            <div class="snipper-logo">
              <img
                src="{{ 'logoSnipper.png' | asset_url }}"
                alt="Logo de Snipper"
                width="100%"
                height="100%"
              >
            </div>
          </div>
        </div>
        <p>Procesando informacion ...</p>
      </div>
    </section>
  {% endcomment %}
</detalle-pedido>
