<!-- Hoja de estiloss css -->
{{ 'estilos-generales.css' | asset_url | stylesheet_tag }}
{{ 'page-mi-perfil.css' | asset_url | stylesheet_tag }}
{{ 'page-checkout.css' | asset_url | stylesheet_tag }}

<!-- SECTOR MOBIL -->
<div class="ph-especial-header-mobile icon-color-tertiary">
  {% render 'icon-volver-atras' %}
  <small>MI PERFIL</small>
  {% render 'icon-hamburguesa' %}
</div>
<!-- SECTOR DESKTOP -->
<div class="phpp-container container-base">
  <div class="phpp-container-izquierda">
    <div class="phpp-containerd">
      <div class="phpp-containerd-opciones">
        <div class="ph-btn-primario seleccionado">
          {% render 'icon-cuenta-blanco' %}
          <p>MI PERFIL</p>
        </div>
        <div class="ph-btn-primario ">
          {% render 'icon-info' %}
          <p>HISTORIAL DE PEDIDOS</p>
        </div>
        <div class="ph-btn-primario ">
          {% render 'icon-cupon' %}
          <p>CUPONES Y DESCUENTOS</p>
        </div>
        <div class="ph-btn-primario ">
          {% render 'icon-pizza-metodo-entrega' %}
          <p>HUT COINS</p>
        </div>
        <div class="ph-btn-primario ">
          {% render 'icon-favorito' %}
          <p>MIS PERFERENCIAS</p>
        </div>
        <div class="ph-btn-primario ">
          {% render 'icon-configuracion' %}
          <p>CONFIGURACIONES</p>
        </div>
      </div>
      <button class="ph-btn=general phpp-border-especial"></button>
    </div>
  </div>
  <div class="phpp-container-derecha">
    {% comment %} MI PERFIL {% endcomment %}
    <div class="phpp-containerd">
      <small class="phpp-titulo-base"> MI PERFIL </small>
      <div class="phpp-container-informaicon-usuario">
        <div class="phpp-info color-letras-extra">
          <p>Nombres</p>
          <p>Maria Jose</p>
        </div>
        <div class="phpp-info color-letras-extra">
          <p>Apellidos</p>
          <p>Lopez</p>
        </div>
        <div class="phpp-info color-letras-extra">
          <p>Celular</p>
          <p>77453368</p>
        </div>
        <div class="phpp-info color-letras-extra">
          <p>Numeor de Carnte de identidad (C.I.)</p>
          <p>8177545 - U</p>
        </div>
        <div class="phpp-info color-letras-extra">
          <p>Correo electronico</p>
          <p>mlopez@gmail.com</p>
        </div>
        <div class="phpp-info color-letras-extra">
          <p>Direccion de entrega</p>
          <p>Barrio Santa Ana 1, Doble via a La Guardia</p>
        </div>
        <hr>
        <button class="ph-btn-general color-letras-primary icon-color-primary">
          <p>EDITAR PERFIL</p>
          {% render 'icon-editar' %}
        </button>
      </div>
    </div>
    {% comment %} HISTORIAL DE PEDIDOS {% endcomment %}
    <div class="phpp-containerd"></div>
    {% comment %} CONFIGURACIONES {% endcomment %}
    <div class="phpp-containerd"></div>
  </div>
</div>
<!-- MODAL DE OPCIONES DE NAVEGACION -->
{% comment %}
  <section class="ph-background-container-modal">
    <!-- 1re MODAL : NUEVA DIRECCION -->
    <div class="ph-mmdi-modal-main">
      <div class="pcktpch-modal-header">
        <div class="pcktpch-modal-header-opciones">
          <button class="pcktpch-modal-volver-atras icon-color-tertiary">
            {% render 'icon-volver-atras' %}
          </button>
          <h4>NUEVA DIRECCIÓN</h4>
        </div>
        <button class="pcktpch-modal-btn-cerrar">
          {% render 'icon-close-custom' %}
        </button>
      </div>
      <div class="pcktpch-modal-body-fase1">
        <p>Ingresa tu dirección o usa tu ubicación actual.</p>
        <button class="pcktpch-btn-secundario">
          {% render 'icon-gps-rojo' %}
          <p>USAR MI UBICACIÓN ACTUAL</p>
        </button>
        <div class="pcktpch-modal-separador">
          <div class="pcktpch-modal-separador-linea"></div>
          <p>O</p>
          <div class="pcktpch-modal-separador-linea"></div>
        </div>
        <div class="ph-container-input icon-color-tertiary">
          {% render 'icon-location-on' %}
          <input type="text" placeholder="Ingresar dirección o punto de referencia">
        </div>
      </div>
      <div class="pcktpch-modal-body-fase2">
        <div class="smecph-mensaje-informacion">
          {% render 'icon-info' %}
          <p>Si es necesario, cambia la ubicación del pin en el mapa.</p>
        </div>
        <div class="pcktpch-modal-mapa"></div>
      </div>
      <div class="pcktpch-modal-body-fase3">
        <div class="smecph-pc-info-input">
          <p>Indicaciones acerca de tu dirección</p>
          <div class="ph-container-input">
            <input type="text" placeholder="Ingresar indicaciones para tu dirección">
          </div>
        </div>
        <div class="smecph-pc-info-input">
          <p>Alias</p>
          <div class="ph-container-input icon-color-tertiary">
            {% render 'icon-location-on' %}
            <input type="text" placeholder="Ingresar o seleccionar">
          </div>
        </div>
      </div>
      <div class="pcktpch-modal-footer">
        <button class="pcktpch-btn-general">
          <p>GUARDAR DIRECCIÓN</p>
        </button>
        <button class="pcktpch-btn-secundario">
          <p>CANCELAR</p>
        </button>
      </div>
    </div>
    <!-- 2do MODAL : SNIPPER DE CARGANDO -->
    <div class="ph-modal-main-snipper">
      <div class="ph-modal-body-snipper">
        <div class="snipper-container">
          <div class="snipper-background">
            <img
              src="{{ 'fondoSnipper.png' | asset_url }}"
              alt="Fondo de Snipper"
              width="100%"
              height="100%"
            >
          </div>
          <div class="snipper-logo">
            <img
              src="{{ 'logoSnipper.png' | asset_url }}"
              alt="Logo de Snipper"
              width="100%"
              height="100%"
            >
          </div>
        </div>
      </div>
      <p>Procesando informacion ...</p>
    </div>
    <div class="ph-modal-main-mensajes" style="display: none;">
      <!-- 3er MODAL : EXITO -->
      <div class="ph-modal-body-exito">
        <img src="{{ 'imagen-check-verde.png' | asset_url }}" alt="Icono de exito" width="100%" height="100%">
        <small>Tu cuenta está activa. ¡ya puedes pedir tu pizza favorita!</small>
        <button class="ph-btn-general icon-color-primary">
          {% render 'icon-cerrar-sesion' %}
          <p>INICIAR SESION</p>
        </button>
      </div>
      <!-- 4to MODAL : QR -->
      <div class="ph-modal-body-qr">
        <h1>PAGO POR QR</h1>
        <div class="ph-modal-qr-detalles">
          <h4>ESCANEA EL CÓDIGO QR</h4>
          <p>1. Abre la aplicación de tu banco.</p>
          <p>2. Selecciona la forma de pago QR Simple.</p>
          <p>3. Captura el Código QR con la cámara o descarga la imagen.</p>
          <p>4. Mantén esta página abierta para que puedas ver la confirmación de tu pago.</p>
        </div>
        <div class="smecph-mensaje-informacion">
          {% render 'icon-info' %}
          <p>Aguardando tu pago...</p>
        </div>
        <div class="ph-modal-imgen-qr">
          <img src="{{ 'qr-prueba.png' | asset_url }}" alt="QR" width="100%" height="100%">
        </div>
        <button class="pcktpch-btn-secundario">
          {% render 'icon-descargar' %}
          <p>DESCARGAR QR</p>
        </button>
      </div>
    </div>
  </section>
{% endcomment %}
