<!-- Hojas de estilos css -->
{{ 'estilos-generales.css' | asset_url | stylesheet_tag }}
{{ 'page-checkout.css' | asset_url | stylesheet_tag }}

{% comment %}
  <!-- Script de Facebook -->
  <script
    async
    defer
    crossorigin="anonymous"
    src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v15.0&appId=657863972925266"
  ></script>

  <!-- Script de Google -->
  <script src="https://accounts.google.com/gsi/client" async defer></script>
{% endcomment %}

<inicio-sesion>
  <div class="container-main-smecph container-base">
    <div class="container-sub-simple-smecph">
      <small>INICIAR SESION</small>
      <div class="ph-mcci-input">
        <p>Numero de celular</p>
        <div class="ph-container-input">
          <div class="ph-container-mensaje">
            {% render 'icon-boliviana' %}
            <p>+591</p>
            {% render 'icon-flecha-abajo' %}
          </div>
          <input
            id="phpis-input"
            type="tel"
            placeholder="Numero de celular"
            autocomplete="off"
            maxlength="8"
            oninput="this.value=this.value.replace(/[^0-9]/g,'')"
            pattern="[0-9]{1,8}"
          >
        </div>
      </div>
      <p class="color-letras-extra">
        Al iniciar sesión, aceptas nuestras Políticas de privacidad y Términos y condiciones
      </p>
      <button
        id="phpis-btn-iniciar-sesion"
        class="ph-btn-general desactivado"
      >
        <p>Iniciar sesión con teléfono</p>
      </button>
      {% comment %} id="phpis-btn-google" {% endcomment %}
      {% comment %}
        {% render 'icon-google' %}
        <p>Continuar con Google</p>
      {% endcomment %}
      {% comment %}
        <button class="ph-btn-secundario">
        </button>
      {% endcomment %}
      <!-- FACEBOOK LOGIN - MÍNIMO NECESARIO -->
      {% comment %}
        <div id="fb-root"></div>
        <div
          class="fb-login-button mi-boton-facebook"
          data-width="300"
          data-size="large"
          data-button-type="continue_with"
          data-scope="public_profile,email"
        ></div>
      {% endcomment %}
      {% comment %}
        id="phpis-btn-facebook"
        {% render 'icon-facebook-custom' %}
        <p>Continuar con Facebook</p>
      {% endcomment %}
      {% comment %}
        <button class="ph-btn-secundario">
        </button>
      {% endcomment %}

      {% comment %}
        <div
          id="g_id_onload"
          data-client_id="658161391897-43e6il3h9ugg7vmecsmstrc8fbl0esmg.apps.googleusercontent.com"
          data-callback="handleGoogleLogin"
        ></div>

        <div
          class="g_id_signin"
          data-type="standard"
          data-size="large"
          data-width="300"
        ></div>
      {% endcomment %}
      <div class="pccph-modal-separador">
        <div class="pccph-modal-separador-linea"></div>
        <p class="color-letras-extra">¿No puedes iniciar sesión?</p>
        <div class="pccph-modal-separador-linea"></div>
      </div>
      <section class="ph-opciones-mobile-footer">
        <a
          href="/pages/crear-cuenta"
          class="ph-btn-primario"
        >
          <p>CREAR CUENTA</p>
        </a>
      </section>
    </div>

    <section
      style="display: none;"
      id="phpis-container-modal"
      class="ph-background-container-modal"
    >
      <!-- 1re MODAL : SNIPPER DE CARGANDO -->
      <div
        style="display: none;"
        id="phpis-snipper-modal"
        class="ph-modal-main-snipper"
      >
        <div class="ph-modal-body-snipper">
          <div class="snipper-container">
            <div class="snipper-background">
              <img
                src="{{ 'fondoSnipper.png' | asset_url }}"
                alt="Fondo de Snipper"
                width="100%"
                height="100%"
              >
            </div>
            <div class="snipper-logo">
              <img
                src="{{ 'logoSnipper.png' | asset_url }}"
                alt="Logo de Snipper"
                width="100%"
                height="100%"
              >
            </div>
          </div>
        </div>
        <p>Procesando informacion ...</p>
      </div>
      <!-- 2do MODAL : MENSAJES DE RESPUESTA -->
      <div
        style="display: none;"
        id="phpis-mensaje-proceso"
        class="ph-modal-main-mensajes"
      >
        <!-- 3er MODAL : EXITO -->
        <div
          style="display: none;"
          id="phpis-mp-exito"
          class="ph-modal-body-exito"
        >
          <img src="{{ 'imagen-check-verde.png' | asset_url }}" alt="Icono de exito" width="100%" height="100%">
          <small>Tu cuenta está activa. ¡ya puedes pedir tu pizza favorita!</small>
          {% comment %}
            <button class="ph-btn-general icon-color-primary">
              {% render 'icon-cerrar-sesion' %}
              <p>INICIAR SESION</p>
            </button>
          {% endcomment %}
        </div>
        <!-- 4to MODAL : VERIFICAR TU NUMEROo -->
        <div
          style="display: none;"
          id="phpis-mp-verificar-numero"
          class="ph-modal-body-verificar-numero"
        >
          <h1>VERIFICA TU NUMERO</h1>
          <p
            id="phpis-mensaje-verificar-numero"
            class="color-letras-extra"
          ></p>
          <div class="pccph-container-inputs">
            <input
              autocomplete="off"
              class="pcch-item-input"
              type="tel"
              id="single-digit1"
              min="0"
              max="9"
              maxlength="1"
            >
            <input
              autocomplete="off"
              class="pcch-item-input"
              type="tel"
              id="single-digit2"
              min="0"
              max="9"
              maxlength="1"
              oninput="this.value=this.value.replace(/[^0-9]/g,''); if(this.value.length > 1) this.value = this.value.slice(0,1);"
            >
            <input
              autocomplete="off"
              class="pcch-item-input"
              type="tel"
              id="single-digit3"
              min="0"
              max="9"
              maxlength="1"
              oninput="this.value=this.value.replace(/[^0-9]/g,''); if(this.value.length > 1) this.value = this.value.slice(0,1);"
            >
            <input
              autocomplete="off"
              class="pcch-item-input"
              type="tel"
              id="single-digit4"
              min="0"
              max="9"
              maxlength="1"
              oninput="this.value=this.value.replace(/[^0-9]/g,''); if(this.value.length > 1) this.value = this.value.slice(0,1);"
            >
            <input
              autocomplete="off"
              class="pcch-item-input"
              type="number"
              id="single-digit5"
              min="0"
              max="9"
              maxlength="1"
              oninput="this.value=this.value.replace(/[^0-9]/g,''); if(this.value.length > 1) this.value = this.value.slice(0,1);"
            >
            <input
              autocomplete="off"
              class="pcch-item-input"
              type="number"
              id="single-digit6"
              min="0"
              max="9"
              maxlength="1"
              oninput="this.value=this.value.replace(/[^0-9]/g,''); if(this.value.length > 1) this.value = this.value.slice(0,1);"
            >
          </div>
          <button class="ph-btn-secundario">
            <p>Reenviar código</p>
          </button>
          <button class="phpis-mensaje-error ">
            <p
              style="font-weight: 600;"
              class="icon-color-primary"
            >
              INCORRECTO
            </p>
          </button>
          {% comment %} <div class="phpis-message" style="dispaly: none;"></div> {% endcomment %}
          {% comment %} <div id="recaptcha-container"></div> {% endcomment %}
          <div class="pccph-modal-separador">
            <div class="pccph-modal-separador-linea"></div>
            <p>¿No puedes iniciar sesión?</p>
            <div class="pccph-modal-separador-linea"></div>
          </div>
          <a
            href="/pages/crear-cuenta"
            class="ph-btn-primario"
          >
            <p>CREAR CUENTA</p>
          </a>
        </div>
      </div>
    </section>
  </div>
</inicio-sesion>

<script>
  {% comment %} // Funcion para procesar el login de Google
  function handleGoogleLogin(responde) {
    console.log('Login con Google:', responde);
  }

  // Funcion para cargar el SDK de Facebook de manera segura
  function loadFacebookSDK() {
    // Carga asincrona del SDK de Facebook
    (function (d, s, id) {
      var js,
        fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js';
      js.onload = function () {
        // Inicializar SDK cuando se haya cargado
        window.fbAsyncInit();
      };
      fjs.parentNode.insertBefore(js, fjs);
    })(document, 'script', 'facebook-jssdk');
  }

  // Inicializar Facebook SDK
  window.fbAsyncInit = function () {
    // Solo inicializar si FB esta definido
    if (typeof FB !== 'undefined') {
      FB.init({
        appId: '657863972925266',
        cookie: true,
        xfbml: true,
        version: 'v15.0',
      });

      // Escuchar eventos de login
      FB.Event.subscribe('auth.login', function (response) {
        console.log('Login con Facebook exitoso');
        console.log(response);
        // Aquí puedes añadir el código para manejar la respuesta
      });
    } else {
      console.log('El SDK de Facebook no está disponible');
    }
  };

  // Cargar Facebook SDK cuando el DOM esté listo
  document.addEventListener('DOMContentLoaded', function () {
    loadFacebookSDK();
  }); {% endcomment %}
</script>

{% style %}
  .phpis-mensaje-error {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--espaciado-xl);
    border-radius: var(--espaciado-xs);
    background-color: #fff4f2;
    /* visibility: hidden; */
    display: none;
  }

  .pccph-container-inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.25rem;
  }

  .pcch-item-input {
    flex-basis: 25%;
    /* height: 5.88rem; */
    height: 4.88rem;
    border-radius: var(--espaciado-s);
    padding: 0.62rem 0.75rem;
    font-size: 2.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.0875rem;
    text-transform: uppercase;
    background: var(--Gris-Light, #f5f5f5);
    text-align: center;
  }

  .pccph-modal-separador {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--espaciado-l);
  }

  .pccph-modal-separador-linea {
    /* width: 100%; */
    flex-grow: 1;
    height: 1px;
    background-color: #dedede;
  }
{% endstyle %}
